[2013-03-18 07:08] bao3 opened #1 "SwitchyOmega 无法直接在 Chrome 使用"
抱歉，我将chrome设定为英文，然后使用“导入正在开发的扩展”导入 SwitchyOmega，可惜一直提示我
chrome-extension://aannbjoedbppfoikblcihlhkaipdljkp/web/options/out/options.html
请问，如何消除？

[2013-04-02 12:52] #1 closed, assigned to nobody

[2013-06-22 15:02] n0wa11 opened #2 "可不可以给个 basic auth 的选项"
English Title: Allow basic auth for proxies.

可不可以给个 basic auth 的选项？如果还没有的话。

现在的情况是，返回 401 错误后，chrome 会弹出对话框。不过，这可能成为 gfw 下一个监测特征。以后可能需要密码错误就返回 400，才能不被发现。

[2013-10-11 03:09] yucesa opened #3 "profile里的rename后"
刷新下,旧的没变，多了个新命名的profile
相当于两份

[2013-10-29 18:55] bao3 opened #4 "switchy omega不支持用户名密码的代理"
如题，我的代理带有用户名和密码，但是switchyomega居然不支持，怎么才可以加上认证呢？

[2013-10-31 04:56] #4 closed, assigned to nobody

[2013-11-03 09:30] #3 closed, assigned to FelisCatus

[2013-11-19 12:02] FelisCatus opened #5 "支持 file: 协议的 PAC/在线规则列表"
English Title: Support file URLs for PAC scripts and online rule lists.

考虑是否能用简单的方法解决？如果能的话增加支持。

[2013-11-19 12:06] FelisCatus opened #6 "检测未能加载的元素并提示快速加入规则"
English Title: Detect elements that could not be loaded due to network issues on the page, and provide quick "Add New Rule" UI

开发工程量比较大，而且权限是否会太多？如果和扩展主程序关系不大考虑做成另一个扩展或者插件的形式。

[2013-11-19 12:09] FelisCatus opened #7 "设置同步"
English Title: Options Syncing

目前的设置数据结构已经考虑到了同步问题，那么是否可以简单地把 `chrome.storage.local` 改成 `chrome.storage.sync` 就能同步？

由于不同电脑不同配置不同也很有用，所以考虑做一个选项，默认关闭，开启后进行同步。

同步有频率和大小的限制如何处理？

[2013-11-19 12:15] FelisCatus opened #8 "支持竖线分隔多个通配符匹配规则"
English Title: Allow multiple wildcard patterns (seperated by | vertical bar) in one single wildcard condition

现在的架构支持这个会不会比较难？总之先看看怎么做吧……

[2013-11-19 12:19] FelisCatus opened #9 "中国大陆地区以及 GFW List 相关支持"
Title: Extra support for users in China Mainland and the GFW List

目前考虑过的支持如下：

* 默认设置或者一键设置 GFW List 翻墙
* 提交网址给 GFW List
* 检测被墙网站（此问题不在此处理，请移步 #6  ）

要不要做？会不会和扩展主题不符合？是否应该以另一个扩展或者插件的形式实现？

[2013-11-19 12:22] FelisCatus opened #10 "Different profiles for Incognito Windows 隐身窗口使用不同情景模式"
English Title: Different profiles for Incognito Windows

这个完全可以做，但现在的代码可能需要修改来支持同时两个不同的情景模式。要考虑尽量避免两份几乎相同的代码。

[2013-11-19 12:26] FelisCatus opened #11 "右键菜单添加规则或切换情景模式"
English Title: Change settings from the context menu

理论上没有什么问题，不过做起来稍微有点麻烦就是了。另外会不会有人讨厌这种功能？也许应该加一个选项？

但至于快捷键之类的，需要在页面插入脚本，确实有点过分了。可能造成不少冲突，而且在不同页面行为会很不一致（如新标签页）。所以最多只能做右键菜单。

[2013-11-19 12:28] FelisCatus opened #12 "代理失效时自动使用直接连接"
English Title: Fall back to DIRECT connection if proxy fails?

是不是应该 PAC文件返回值结尾添加 DIRECT？另外代理脚本错误的情况呢？仔细考虑一下然后看一下是否应该设置选项……

[2013-11-19 12:32] FelisCatus opened #13 "切换规则等内容的WIKI"
English Title: Wiki pages for conditions and patterns, etc.

有些英文已经写好了，但是还没有做中文的。另外也缺少教程和目录。
如果时间不够的话也许可以邀请其他人来帮忙做中文翻译？

[2013-11-21 04:46] nasaboy opened #14 "profile前面自动加null，设置完毕后会出错，自动清空配置文件"
profile前面自动加null，设置完毕后会出错，自动清空配置文件

无法上传附件。

[2013-11-23 08:14] #14 closed, assigned to nobody

[2013-11-25 06:55] yucesa opened #15 "Switch Profile"
Rulelist Profile (AutoProxy Compatible)设置了 可以正常使用 Switch Profile也设置了
并把default设置为Rulelist Profile 切换到Switch profile．但是不能正常使用，所有的网站打不开了
我的理解是　默认是用Rulelist在Switch Profile里的又才用相应的规则。但是好像只是Switch Profile里的是启用的，default里的没用，即使在default里设置direct也没用
还有整个个扩展的反应很慢在设置时 打开设置页面这些

[2013-12-02 01:17] FelisCatus opened #16 "Polymer"
界面转向 Polymer ，使用新 Observable.

[2013-12-02 07:26] loveqianool opened #17 "每次启动都要把Switch Profile改一下名才能正常使用"
启动chrome后 使用情景模式Switch Profile 所有网站都不能打开
但是使用其他情景，如goagent 或者直连都可以打开网站
但是把Switch Profile改一个名就能正常使用，重新启动chrome后状况依旧，还是要改个名。

[2013-12-06 07:49] KinShin opened #18 "PAC脚本编辑框未能自动保存"
If it is left blank, the following scripts will be used directly instead.
上面这个功能没有实现。

bug再现：
1. 添加一个pac profile，不输入PAC网址，直接在编辑框粘贴PAC文本。这种情况下无法访问任何网站。因为编辑框里的PAC内容没有被保存到Omega应用的PAC脚本中，Omega应用了一个空的PAC脚本。
2，通过URL添加一个PAC地址并Download。种种情况下可以正常使用。但是我点击PAC的URL输入框最后的“X”，再一次编辑下载之PAC编辑框中的内容后，Omega还是依旧使用URL的PAC，本地编辑的PAC依旧没有被应用。

[2013-12-08 10:40] milekpl opened #19 "Auto Config URL is not validated"
The URL box does not complain about the lack of http:// or https:// part in the URL, and it silently ignores an incorrect URL without it (in SwitchySharp 1.10.2)

[2013-12-21 08:22] #19 closed, assigned to nobody

[2014-01-17 10:10] srwgin opened #20 "Rule list result profiles"
我想問下我建立呢個GFWList，下面的Rule list result profiles
Match profile
Default profile
這個2個分別有什麼作用
謝謝

[2014-01-18 02:32] #20 closed, assigned to nobody

[2014-03-07 05:20] KinShin opened #21 "下载GFWList失败"
Error downloading profile data!

[2014-03-07 08:55] #21 closed, assigned to nobody

[2014-07-01 03:01] aiches opened #22 "GFW List 一些错误"
GFW List 的一些规则不是支持得很好， 例如 规则里有   '.example.com'

那输入example.com不使用代理， 要输入 'www.example.com' 才使用代理。

规则前有点 “.”

[2014-07-01 07:41] aiches opened #23 "匹配网址包含非匹配脚本地址。"
一个匹配要代理的域名''A_example.com'

A_example.com 的网页代理有一行代码

<script language="javascript" type="text/javascript" src="B_example.com/15008471.js"></script>

B_example.com 是不匹配代理的网址。
这时候B_example.com这个会走代理出去。

不知道能不能区分这个链接呢？

[2014-09-20 16:19] #23 closed, assigned to nobody

[2014-09-20 16:19] #8 closed, assigned to nobody

[2014-09-20 16:20] #22 closed, assigned to nobody

[2014-09-20 16:20] #18 closed, assigned to FelisCatus

[2014-09-20 16:20] #16 closed, assigned to FelisCatus

[2014-09-20 16:21] #15 closed, assigned to nobody

[2014-09-20 16:27] FelisCatus opened #24 "弹出菜单键盘导航"
English title: Keyboard navigation in the popup menu.

现在的弹出菜单还不能用方向键或者 tab 键选择项目，不是很方便。之后可以试试看做这个，顺便加上默认快捷键，就相当于实现快捷键操作了。

For now, the popup menu items cannot be navigated using arrow keys or tab. We can add this feature later so that switching profiles without mouse would be possible.

[2014-09-21 01:37] catatnight opened #25 "情景模式列表更新不即时"
在选项标签页对情景模式进行操作（包括添加、编辑、删除、从备份文件恢复）并保存更改后，需要切换一次代理才能实现在icon下拉菜单中的情景模式列表更新。

对于首次安装并添加情景模式的用户来说，需要在“系统代理”和“直接连接”之间切换一次才能显示之前添加的模式。

SwitchyOmega 2.1.1
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36

[2014-09-21 03:28] #25 closed, assigned to nobody

[2014-09-22 14:06] nasaboy opened #26 "使用的时候老是会有个感叹号出现"
我点了那个错误日志，里面是Options << Options#applyProfile [
    "auto"
]
Options << Options#updateProfile []
是什么问题？

[2014-09-23 08:00] Tback1 opened #27 "auto switch如何能添加GFWList的自动匹配？"
似乎导入原来的配置里 使用  _://autoproxy-gfwlist.googlecode.com/_  这个网址通配符适配所有GFWList似乎是无效的了。

并且这个和GFWList也是重复的？ 请教一下如何让自动切换这个配置能识别GFWList，因为有的网址不在GFWList里面只有通过这个模式手工添加

抱歉无法上传图片

[2014-09-23 08:16] Tback1 opened #28 "导入导出无法覆盖代理名称问题"
将一个代理配置命名为“123 ”保存并导出为备份配置。

将“123”修改为“456”并保存配置

重新导入刚刚备份的“123”的备份。发现名称依旧为“456”，并不能还原到“123”，但配置的代理信息是还原了的。

小bug，不影响使用，但影响切换判断

SwitchyOmega 2.1.2
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36

[2014-09-23 14:39] FelisCatus opened #29 "支持 file:/// 地址的 PAC 情景模式"
English title: Support PAC profiles with file:/// URL.

貌似这个比较复杂。首先单独使用PAC情景模式应该是没问题的，但是要嵌套的时候就会发现没法读/更新文件地址的URL，无法实现嵌套。应该要提示用户，这种只能单独用，无法设置为结果，并且也要从规则的下拉框里面去除。此外，单独使用PAC情景模式的时候，关闭临时规则功能。

This is quite complex to handle. First, PAC profiles with file:/// URLs can be applied without any problems. However, they cannot be used as result profiles because there would be no way to read the PAC content

[2014-09-23 15:12] FelisCatus opened #30 "增加切换条件相关说明"
English title: Describe condition types.

切换条件的类型一下子增加了很多，大家未免会有些头晕。我觉得最好在选项界面简单介绍下各个条件类型，用一句话就好。

Many people could get confused by so many switch conditions. I think it's better to explain them using one sentence each in the options page.

[2014-09-23 15:50] #28 closed, assigned to nobody

[2014-09-24 00:39] jwfeng opened #31 "系统代理模式不可用"
本机通过系统代理连接到互联网，IE可以正常访问，chrome通过SwitchyOmega插件无法访问。

SwitchyOmega 2.1.3
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2159.4 Safari/537.36

[2014-09-24 03:48] #27 closed, assigned to nobody

[2014-09-24 07:06] DailyShana opened #32 "希望不同类型的情景模式能分开来"
就是在列表里面，不同类型的放在一起，而不是所有类型混在一起按字母排序

SwitchyOmega 2.1.4
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36

[2014-09-24 10:06] #5 closed, assigned to nobody

[2014-09-25 13:18] #31 closed, assigned to nobody

[2014-09-25 13:33] #29 closed, assigned to nobody

[2014-09-25 15:13] #26 closed, assigned to nobody

[2014-09-26 07:12] ghost opened #33 "内存占用"
这版内存占用没有2.1.4处理掉好；另外就是希望情景模式可以自定义显示/隐藏，不然自定义上几个显示就不方便了！！！

SwitchyOmega 2.1.5
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.124 Safari/537.36

[2014-09-26 19:16] #33 closed, assigned to nobody

[2014-09-28 06:05] p3p3pp3 opened #34 "能否在图标通过颜色显示当前的代理状态"
比如可以给SSH和Shadowsocks指定不同的颜色，可以通过图标的颜色看到当前浏览的页面是否启用代理，启用了哪个代理。

[2014-09-28 09:30] FelisCatus opened #35 "类似 gfwlist2pac 的 PAC 生成优化？"
大致原理是通过判断域名是否在集合中来实现优化。

参考： https://github.com/clowwindy/gfwlist2pac

要整合到本项目中，必须解决以下问题：

1. 原项目是 Python 实现，需要翻译成 JS.
2. 不严格符合 AutoProxy rule list 语义，比如AutoProxy里的关键字规则其实是应用到整个URL的，更像是一个子字符串规则而非域名规则。
3. 用集合的话规则全部都无顺序化了，可能会引发一些其他的问题。
4. 根据 2, 3 来看，只有速度快了是不行的……粗略看下来，gfwlist2pac生成的PAC，所匹配的是原来的一个子集……肯定会有人来抱怨以前能上的某些网站不能上了啊……
5. 好像也只对于 GFW List 这种特别长的有明显作用了，对于小的规则列表和自动切换，则没有明显优化。

所以……暂时来看的话，工作重点应该放在别的

[2014-10-04 09:32] #32 closed, assigned to FelisCatus

[2014-10-04 12:22] catatnight opened #38 "删除自动切换模式时未删除关联切换列表"
我添加了代理aa，并基于该代理添加了自动切换模式bb。删除bb后无法删除aa，显示"aa依旧被__ruleListOf_bb使用“。

另外，上述bb我展开了规则列表，如果我删除bb后新建同名自动切换模式（即“bb”），规则列表设置会默认展开。

SwitchyOmega 2.1.8
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.124 Safari/537.36

[2014-10-04 13:34] #38 closed, assigned to FelisCatus

[2014-10-08 12:31] #30 closed, assigned to nobody

[2014-10-08 12:33] #13 closed, assigned to nobody

[2014-10-09 05:52] ynyounuo opened #39 "Add Condition 后 Condition Type 下拉框字体显示不出"
换回 2.1.9 是好的，2.1.10 出现该问题
已经同样反馈到  [Chrome Web Store](https://chrome.google.com/webstore/support/padekgcemlokbadohgkifijomclgjgif?hl=en&gl=HK#bug)

![1](https://cloud.githubusercontent.com/assets/6180046/4571468/bf8bd104-4f77-11e4-8b14-6f1d7f21c10a.png)

两台机器，同一网络皆有此问题
- SwitchyOmega 2.1.10
  Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.13 Safari/537.

[2014-10-10 03:37] FelisCatus opened #40 "自动切换改名后规则列表消失"
English title: The rulelist disappears after renaming a switch profile.

这个又忘记改了，看我这记性……

[2014-10-10 04:34] #39 closed, assigned to FelisCatus

[2014-10-10 05:06] #40 closed, assigned to FelisCatus

[2014-10-11 14:15] FelisCatus opened #41 "2x 分辨率图标"
Title: Extension icons for 2x resolution.

现在有的静态图标应该可以很容易做 2x 的。不过动态图标怎么办呢？
考虑用两个 canvas 分别画 19px 和 38px ？还是只用 38px 的然后缩放？或者检测当前是1x还是2x？

总之暂时不影响使用，有时间再改吧。

[2014-10-12 02:21] jeromeli002 opened #42 "为什么会自动跳到外部情景模式"
为什么会自动跳到外部情景模式，
我设置的是自动模式啊，用了会就自动跳到外部情景模式去了
是什么巧情况啊，已经好几次了

SwitchyOmega 2.1.11
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.101 Safari/537.36

[2014-10-12 05:58] FelisCatus opened #43 "保留双下划线开头的名称，提示单下划线开头的名称"
English title: Reserve profile names beginning with double underscore, and show prompt for profiles beginning with single underscore.
1. 新建和改名时，以及保存外部情景模式时，禁止使用双下划线开头的名称。
2. 新建和改名时，提示单下划线开头的名称会被隐藏。
3. 升级时，如果名称以下划线开头，则在名称前增加字符`p`，来保证升级后不被隐藏。

[2014-10-12 06:50] #43 closed, assigned to FelisCatus

[2014-10-12 07:14] FelisCatus opened #44 "与其他扩展通信，接受添加情景模式等请求"
English title: Interact with other extensions via messaging and handle requests like adding profiles.

SwitchyOmega will conflict with Ad-removal extensions and other extensions that sets proxy configurations. The conflict is due to the model of Chrome settings and cannot be solved by SwitchyOmega alone.
A solution would be allowing other extensions to create and modify profiles in SwitchyOmega vi

[2014-10-17 06:33] FelisCatus opened #46 "自动切换规则编辑页面加载速度过慢"
English title: Rules editing tab loading too slowly

感觉自从用了那个 bootstrap-select 的下拉框以后，整个页面都非常非常卡……虽然说能显示情景模式的类型和颜色固然很好，但加载速度太慢了，用户体验也会很差。要怎么办呢？加一个选项？还是超过20条规则自动禁用？

是不是可以有其他的优化？比如点击时才加载什么的？或者自己实现下拉框来优化效率？

[2014-10-17 10:02] #42 closed, assigned to nobody

[2014-10-18 01:54] butaixianran opened #47 "建议加入类似AutoProxy的自定义规则分组功能，现在既不方便，还很混乱"
现在SwitchyOmega有2个地方可以填写自定义规则。一个是自动切换规则，一个是情景模式白名单。

每个情景模式下，都有个白名单区域，如果我有50条白名单，等于是要在每个情景模式下，粘贴一遍。以后每增加一条，都要在所有情景模式下增加一遍。

如果我使用自动切换规则，当我有50条规则的时候，我更换情景模式就麻烦大了。50条规则都要换一遍。比如，goagent今天容易断线，我临时换SNOVA代理，回头再换回goagent。就要把50条规则的情景模式，全都改一遍。

为什么不像firefox的AutoProxy那样，给自定义规则分组呢？一组 切换规则，对应一个情景模式。（现在是每条规则，都对应一个情景模式）

这样既清晰，又方便，而且做到了功能设计的基本标准：完全穷尽不重复。

SwitchyOmega 2.1.12
Mozilla/5.0 (Windows NT 6.1) AppleWeb

[2014-10-20 03:17] Qingzhong125 opened #48 "导入自己维护的一份规则列表后，自动代理无效"
网址通配符格式，存在OneDrive里，之前用Proxy SwitchySharp时一切正常。更换Omega，下载规则列表，自动代理模式始终无效。难道必须切换规则里一个一个添加？！

SwitchyOmega 2.1.12
Chrome 38.0.2125.104
Windows 8.1 Pro x64

[2014-10-20 13:03] #46 closed, assigned to nobody

[2014-10-20 13:03] #48 closed, assigned to FelisCatus

[2014-10-21 00:41] easyinplay opened #49 "下拉菜单和选项内的行间距太大了 和其他的扩展选项很不协调 祝越做越好"
SwitchyOmega 2.1.12
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2159.4 Safari/537.36 OPR/26.0.1655.0 (Edition developer)

[2014-10-21 15:08] qqshfox opened #50 "新建的情景模式时，名字没有escape"/"，会导致编辑不了这个模式"

[2014-10-21 15:43] #50 closed, assigned to FelisCatus

[2014-10-21 15:56] #49 closed, assigned to FelisCatus

[2014-10-25 01:05] butaixianran opened #51 "无法使用APJP代理，出现大量乱码"
情景模式中，如果使用APJP代理（goagent的一种替代品，java写的），在APJP的log窗口中，
原本
HTTPS_REQUEST/GET_RESPONSE_MESSAGE: REQUEST: GET
后面应该是一串网络地址，全都变成乱码。使用SwitchySharp正常，无乱码现象。

下面是对比的截图：
1. 乱码的截图：
   ![2014-10-25 8-48-23](https://cloud.githubusercontent.com/assets/5558722/4778235/6370be3a-5be2-11e4-8156-4ec7c5f49c7c.jpg)
2. 无乱码的截图：
   （图中，正在通过APJP访问github.com/FelisCatus/SwitchyOmega/issues这个页面。使用的是SwitchySharp扩展）
   ![2014-1

[2014-10-26 05:57] #51 closed, assigned to nobody

[2014-10-26 06:10] FelisCatus opened #52 "初始设置向导/情景模式创建向导"
English title: Setup wizard/Profile creating wizard

我还是希望能加入一些简单的类似向导的东西。首先是创建情景模式时：
- 代理情景模式 => 可选择一些代理软件常见的服务器端口设置
- 自动切换 => 创建后需要一点点简单的界面介绍，就像 SwitchySharp 那样大概
- PAC => 可能需要提示是否直接使用某些 wpad 地址，比如 `http://wpad/wpad.dat` 之类的
- 虚情景 => 可选择用虚情景取代某个情景模式，更方便迁移到虚情景

比原先只是多增加了一步，但做一些常见的设置可以快不少。

然后就是新用户的初始化向导了，我的计划是：
1. 升级SwitchySharp设置。如果有那边的支持的话，应该可以直接提示是否导入。
2. 根据需要的代理服务器创建代理情景模式。
3. 可以选择一些常用场景，比如中国

[2014-10-29 07:31] #34 closed, assigned to nobody

[2014-10-30 06:04] #47 closed, assigned to FelisCatus

[2014-11-05 05:16] SharerMax opened #53 "首次打开Chrome扩展图标为黄色感叹号"
不知道为什么，开机第一次开启Chrome，扩展图标是带有黄色感叹号的，点击一次扩展图标后消失，之后也都是正常的显示，这是个Bug么？:)

[2014-11-05 07:43] Tback1 opened #54 "删除不掉情景模式，添加白名单也无法添加"
准确的说这个题目是不准确的。
我来详细还原一下发生的过程
今天打开SO，发现了自动切换模式下可以添加GFW列表了，就兴高采烈的把GFW拉了过来，把原来的列表代理项给KO了。想想少个模式方便不是。可悲剧就在这里开始了（真是**no zuo no die**啊）。保存的时候就开始保存不起，想着直接关闭弹出保存窗口，给强制保存了，可之后毛病就来了

![qq 20141105153507](https://cloud.githubusercontent.com/assets/8872546/4914156/7d6feff6-64be-11e4-90c6-ea8e67bff3ab.jpg)

现在最悲剧的是，切换里已经无法切换到自动切换模式了，别的模式都可以，自动切换怎么也不行。除此之外，添加白名单的时候也无法选择添加到自动切换模式了。

好了，描述完毕。
开始吐槽一下

1、自动切换下的GFW和

[2014-11-06 02:06] wordgold opened #55 "添加不代理的地址列表时，无法保存"
保存数据为：

[code]

SwitchyOmega 2.1.15
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-11-06 15:48] flied opened #56 "刷新到twitter第二页的时候总是卡住"
SwitchyOmega 2.1.15
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.52 Safari/537.36

chrome 版本 39.0.2171.52 beta-m
Proxy SwitchyOmega 2.1.15
win 7

本地shadowsocks没有明显变化，但是刷twitter频繁发生只能刷出来第一页的情况，进入到需要自动loading的第二页就卡住了，什么都刷不出来了。

使用调试工具发现，有几个明显在twitter.com 下面的内容取不回来，但是已经把twitter.com放置到了走ss通道，且之前一直没出现过此类问题。

[2014-11-07 06:31] #53 closed, assigned to nobody

[2014-11-07 09:36] #55 closed, assigned to FelisCatus

[2014-11-07 16:19] #56 closed, assigned to nobody

[2014-11-10 08:04] wordgold opened #57 "设置不代理的地址列表时无法发挥作用"
[code]

设置了以上主机列表，结果还是走的代理流量。

SwitchyOmega 2.1.16
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-11-10 12:46] #57 closed, assigned to nobody

[2014-11-12 20:55] debugzxcv opened #58 "Proxy SwitchyOmega 2.1.17 疯狂消耗 CPU 和内存"
**复现步骤:**
1. [从商店安装 Proxy SwitchyOmega](https://chrome.google.com/webstore/detail/padekgcemlokbadohgkifijomclgjgif)
2. 打开 chrome 任务管理器, 观察 CPU 和内存

**浏览器版本信息:**

[code]

chrome 任务管理器观察视频(重命名为 MP4 文件)
![chrome 任务管理器观察视频](https://cloud.githubusercontent.com/assets/5125392/5018407/27601db4-6af1-11e4-9e45-23e79dad5ca8.png)

[2014-11-13 04:11] #58 closed, assigned to FelisCatus

[2014-11-13 05:25] aiches opened #59 "CPU 使用过高"
CPU 使用过高，我的是mac，有一个google chrome helper 进程一直使用CPU 90％以上，结束进程提示SwitchyOmega 关闭。希望可以优化。

SwitchyOmega 2.1.17
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.52 Safari/537.36

[2014-11-13 06:21] ynyounuo opened #60 "建议加一个支线"
* 主分支应对 Google 商店发布版本
* 另一条分支为不在 Google 拓展商店发布的实验性版本

然后有更新先添加到实验性版本，如果有 bug 也能让大多数人轻松回退然后不用折腾禁止 Chrome 自动更新拓展，实验性支线鲜有大面积的 bug 提交的时候再推到 Google 商店发布的版本

不知是否可行

[2014-11-13 06:44] #59 closed, assigned to nobody

[2014-11-17 15:28] bismall opened #61 "建议"切换规则"里面的自定义规则增加按"名称"排序"
如题所示,谢谢!

[2014-11-18 08:06] hoverxx opened #62 "自动切换模式，chrome新选项卡不能自动连接代理"
自动切换模式，chrome新选项卡不能自动连接代理
新选项卡右上角有google登录信息，需连上google服务器

SwitchyOmega 2.1.18
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-11-18 11:36] aloasut opened #63 "弹跳效果太花哨"
弹出菜单的效果有时从左边滑入，有时从右边滑入，有时从上面滑入，都要等1秒钟，这个效果太花哨啦，不如原来的。

SwitchyOmega 2.1.18
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.62 Safari/537.36

[2014-11-19 05:58] bismall opened #64 "How to Install VMware Tools on OpenSUSE 13.2 x86_64?"
大神来解决下吧...
谢谢你!

图片
http://1drv.ms/1xU2am0

[2014-11-19 06:06] #64 closed, assigned to nobody

[2014-11-19 08:12] #62 closed, assigned to nobody

[2014-11-20 12:18] qiukun opened #65 "Socks5 IPV6 不支持"
polipo 转成 http 代理就可以了，不解

[2014-11-21 03:55] aloasut opened #66 "能否自动监视本tab所有请求自动加入代理规则"
例如我要访问 inbox.google.com ，单把这个域名加入是不行的，里面还有很多请求只有在点击的时候才请求（例如下载附件）这些是不同域名的，需要一一找出来并添加。

SwitchyOmega 2.1.18
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.62 Safari/537.36

[2014-11-21 03:57] #66 closed, assigned to nobody

[2014-11-21 17:38] galaxy001 opened #67 "如何使IPv6跳过代理直接连接？"
Profile 的 Bypass List 如何写才能跳过IPv6 ？
看 https://developer.chrome.com/extensions/proxy#bypass_list 是可以写IP的。

或者 Switch rules 可以么？

[2014-11-28 12:50] #52 closed, assigned to nobody

[2014-11-28 13:26] #63 closed, assigned to nobody

[2014-11-28 14:14] catatnight opened #68 "在线pac脚本无法在本地保存"
我使用pac情景模式并填写在线pac地址，同时在通用设置中设置更新间隔为“从不更新”。但每次重启chrome，插件依然会重新下载在线pac脚本。

SwitchyOmega 2.2.0
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36

[2014-11-29 20:18] EchoChan314 opened #69 "但我使用shadowsocks时adb完全失效"
我尝试用直接连接的模式和自动切换模式，adb可以运行，但是选择shadowsocks模式时adb失效了。之前的Switchy在使用shadowsocks模式时adb还是有效的。望解决。

SwitchyOmega 2.2.1
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.62 Safari/537.36

[2014-12-01 01:52] #69 closed, assigned to nobody

[2014-12-06 13:07] #68 closed, assigned to nobody

[2014-12-06 13:12] hcwhan opened #70 "不定时出现 CPU占用99%"
换SwitchyOmega后 短时间打开
几个网页会卡cpu 系统直接卡住 要等几秒才可动鼠标

SwitchyOmega 2.2.1
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36

[2014-12-08 11:39] netroby opened #71 "Improve rule lists for SwitchyOmega"
Document need improvement
How to write switchy style rule list?

here is a small example

[code]

this is the rules for  domain and it's subdomain.

[2014-12-08 12:23] 4n0ON opened #72 "无法跟去广告扩展兼容运行"
你好，首先非常感谢你开发出这么好的应用 来轻松实现代理。
最近在使用过程中发现了一个问题就是在使用Proxy SwitchyOmega 和 ADfree.Player.Offline过程中发现两者有冲突 同时开启的话开youku，提示“抱歉连接失败，错误代码2003“，把代理改成系统代理就没问题，要怎么配置才能正常使用，谢谢！！

SwitchyOmega 2.2.2
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.65 Safari/537.36

[2014-12-08 14:37] #72 closed, assigned to nobody

[2014-12-09 09:11] Septembers opened #73 "希望添加“GFW应对模式”"
希望引入COW的探测模式：
https://github.com/cyfdecyf/cow#cow-%E5%A6%82%E4%BD%95%E6%A3%80%E6%B5%8B%E8%A2%AB%E5%A2%99%E7%BD%91%E7%AB%99

另外希望默认配置：GFWList #9

[2014-12-09 15:44] tanboniu opened #74 "进入google网站时不能自动切换SS代理。"
SwitchyOmega 2.2.2
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36

[2014-12-13 06:14] iir910 opened #75 "关于规则顺序问题"
测试了一下自动切换里面规则列表的顺序的优先权问题。

结论是： 一个url符合两条（或以上）规则时，列表排在上面的会覆盖掉下面的。

---

如果在设置界面来添加新规则的话，是添加都列表最下方的。
如果想不新规则被覆盖掉，就要手动拖到上面。。
列表要是一长一点的话，手动调整顺序操作麻烦。
最好是新建规则时，能够在任意位置插进去

![3333](https://cloud.githubusercontent.com/assets/7844741/5422840/8e22083c-82d4-11e4-9611-15a06566d7e4.png)
设想是这样所有在规则的右边加个按钮，可以在当前规则的下方插进一条新规则。

[2014-12-14 07:11] YIN-Renlong opened #76 "SwitchyOmega地址栏点击偏差问题"
弹出对话框有错位问题，正常在在最右侧弹出。

SwitchyOmega 2.2.2
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2243.2 Safari/537.36

[2014-12-14 07:29] #76 closed, assigned to nobody

[2014-12-15 13:21] #2 closed, assigned to FelisCatus

[2014-12-15 13:55] #54 closed, assigned to nobody

[2014-12-18 13:05] LiHaoGit opened #77 "关于规则列表设置"
如果我想自己维护一套规则。这个规则该怎么写啊。求教

[2014-12-18 14:17] vvenv opened #78 "位置错乱"
点击地址栏右侧图标，界面从“后退箭头”处向下展开。

SwitchyOmega 2.2.5
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2243.2 Safari/537.36

[2014-12-18 14:32] #78 closed, assigned to nobody

[2014-12-18 14:35] #74 closed, assigned to nobody

[2014-12-18 14:38] #77 closed, assigned to nobody

[2014-12-19 14:12] binyuj opened #79 "更改“规则列表规则”对应的”情景模式“后不会立即生效"
更改对应的情景模式之后，需要手动点”立即更新情景模式“，要不然就得等下次自动更新规则列表。

SwitchyOmega 2.2.5
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.122 Safari/537.36

[2014-12-19 15:40] #11 closed, assigned to FelisCatus

[2014-12-19 17:24] xinhugo opened #80 "增加「纯文本编辑」功能"
English title: Plain text-based editing for switch conditions

Proxy-SwitchySharp 里，「://*.twitter.com/」能匹配子域名，SwitchyOmega 不能，这是升级到新版的障碍。

类似这样的规则，我的代理规则列表有数百条，逐条编辑十分低效。

如果能有「纯文本编辑」功能（参考 Chrome 的 AdBlock Plus 扩展），则可以使用 Notepad++ 批量替换，改为旧版/新版都支持的正则表达式了。

如果有其他更高效的办法，希望不吝告知。感谢您的劳动，谢谢。

[2014-12-20 02:38] jazzly opened #81 "关于出现“ 请更正这个页面中的错误。”的错误"
我是从Proxy SwitchySharp升级上来的，自动 导入了 Proxy SwitchySharp的配置。
其中有一个配置是 antiads，是给“优酷去广告”插件用的。

升级完成后，只要点一下 antiads这个情景，就再也不能点其它的按钮了。无论点哪个都会提示“请更正这个页面中的错误。”。100%必现。

如下图：
![qq 20141220103643](https://cloud.githubusercontent.com/assets/10249400/5513532/55d632ea-8834-11e4-906a-64a1ff99bb88.png)

[2014-12-20 02:57] Suitear opened #82 "我觉得各个模式切换的图标可以更醒目点"
比如，我现在用的自动切换模式， 有的网站在goagent列表里， 我就希望图标能辨识当前网站被墙了，而直接连接的用别的的图标来区别，老版本的switchysharp 做的不错，直连灰色，被墙了就蓝色，全部走代理就绿色。 ----- 而现在的omega 我是傻傻分不清淡绿色，灰绿色等等，希望能改进~ 多谢！

SwitchyOmega 2.2.5
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36

[2014-12-20 05:02] #81 closed, assigned to FelisCatus

[2014-12-20 05:12] #79 closed, assigned to FelisCatus

[2014-12-20 07:19] Gigglelife opened #83 "Please get an option to hide context menu."

[2014-12-21 03:44] sol-huang opened #84 "与反视频广告存在冲突"
与反视频广告扩展ADfree.Player.Offline同时使用时,每次观看视频网站,omega的规则会被自动置为"外部情景模式",但是使用之前的switchysharp时无此问题,已向ADfree.Player.Offline作者反馈过,同时向omega反馈,希望可以早日解决该冲突
http://bbs.kafan.cn/thread-1777920-1-1.html

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-21 10:02] #84 closed, assigned to nobody

[2014-12-21 13:27] jackphil opened #85 "关于twitter的切换规则无效"
不知为何，我关于twitter的切换规则似乎无效，原来在switchysharp下工作的很好：

    *://*.twitter.com/*|*://t.co/*

以上为网址通配符，我也试过其他的一些组合，在另一台电脑上不知怎么又好了

[2014-12-21 15:28] Suitear opened #86 "希望能像sharp那样，在一个情景模式里，提供pac和代理服务器的切换选项。"
这样做的好处是更快的切换—— 比如自动切换里，自定义列表每一项的下拉框都调用了goagent这个情景模式下的代理，而新版的omega 明显不能提供两个同名的goagent情景模式来帮用户快速切换，比如我有时用谢公屐的pac，有时用本地的127.0.0.1:8087，有时用shadowsocks的本地socks5 8087端口，我想让他们都能在同一个情景模式里切换。 我表达的清楚吗？ 抱歉我的语言组织能力。

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36

[2014-12-21 15:50] liuzengming opened #87 "你好，关于自动切换"
只要第一次登陆的网站都是自动切换到goagent，除非手动直连；还有就是点按钮无法给网站添加新规则，而且选项没有直连。请问上述问题怎么解决。。小白一个，请指教。

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-21 15:57] liuzengming opened #88 "问题解决了，打扰了"
不好意思，打扰了。

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-22 03:46] LC2010 opened #89 "UI太丑了"
和Proxy Switchy相比 这个的UI有点过于丑陋了

[2014-12-22 05:42] HouQiming opened #90 "Color profile for direct connection"
I want to change the default "[Direct connection]" to a bright red color, but it doesn't seem to be possible in the current interface.

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-12-22 08:44] wen-long opened #91 "PAC 文本编辑使用等宽字体"
默认的非等宽字体不便于阅读和编辑

[2014-12-22 10:01] #88 closed, assigned to nobody

[2014-12-22 10:02] #86 closed, assigned to nobody

[2014-12-22 10:06] #90 closed, assigned to nobody

[2014-12-22 11:04] ICRabbit opened #92 "SwitchyOmega 总是崩溃"
SwitchyOmega 扩展程序老是崩溃，于是系统显示浏览器已停止工作，但是点了关闭程序后浏览器一切正常。经过我的排查，基本确定是SwitchyOmega崩溃导致的，因为自从安装了新版的SwitchyOmega以后才会出现在这种情况。求解决
另外一个，如何升级SwitchyOmega？

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.122 Safari/537.36

[2014-12-22 11:39] #75 closed, assigned to FelisCatus

[2014-12-22 11:39] #83 closed, assigned to FelisCatus

[2014-12-22 11:39] #91 closed, assigned to FelisCatus

[2014-12-22 11:45] #92 closed, assigned to nobody

[2014-12-22 12:01] zmy1201 opened #93 "用户名密码窗口弹出的时间太短，来不及输入"
如题，弹出来几秒就自己缩回去了，根本来不及输入

SwitchyOmega 2.2.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.146 Safari/537.36

[2014-12-22 12:48] debugzxcv opened #94 "规则多选和操作"
可通过键鼠或其他输入设备多选规则, 并进行操作(删除/更改条件类型等)

[2014-12-22 18:11] RunningJS opened #95 "不能访问google和youtube"
升级omega无法访问google的网站，降级到switchysharp还是不行

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-23 03:35] SmartWorm opened #96 "Proxy needs one more option "system proxy""
Profile :: Auto Switch -> switch rules -> default  -> Proxy dropdown list should have one more option "system proxy",   most company limit that visit internet via company proxy server, not direct. Thanks.

[2014-12-23 06:20] tianlizhao opened #97 "hello"
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-23 09:01] chraac opened #98 "can not open the config page"
recently i change to SwitchyOmega, then i found that the config page cannot display, but only a blank page:
![proxy_omega](https://cloud.githubusercontent.com/assets/1937740/5536025/1d7afc8a-8ac5-11e4-9c67-ccff90ca97ef.png)

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2166.2 Safari/537.36

[2014-12-23 09:41] xinhugo opened #99 "没有「导出规则列表」功能"
相比SwitchySharp，没有「导出规则列表」，即「SwitchyRules.ssrl」文件。

是功能正在开发，还是去掉此功能了？

[2014-12-23 10:09] TwIStOy opened #100 "proxy登录，账户中有符号'@'好像会出问题"
RT

[2014-12-23 12:03] Anaheim55 opened #102 "移植到 Firefox | Migrate to Firefox"
以前一直在chrome上用switchysharp，现在继续用Omega
但是firefox也经常用，可是上面的autoproxy很久不更新了（虽然看样子不更新也能一直用）
可惜foxproxy又设置起来太麻烦…没有emega autoproxy这样的轻量级，所以这里有个不情之请…希望开发组可以考虑考虑啊，开发一个firefox版的switchy Omega

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2251.0 Safari/537.36

[2014-12-23 15:22] xuexiaokang opened #103 "状态图标的变动没有以前的版本明显，建议改进"
现在一下子很难通过图标的颜色变动来分辨现在的状态，之前是灰色地球和彩色地球，一看就非常明显，现在的太难分辨了。

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-12-23 18:44] lemixtape opened #104 "TOR not working"
I was using SwitchProxy to connect to the TOR network using the Vidalia client and all was working fine. Ever since I moved to SwitchyOmega, it is not possible to connect to TOR.

I am sending the requests through SOCKS5, 127.0.0.1:9051.

[2014-12-24 01:30] KsaRedFx opened #105 "Auto Switch mode doesn't work"
When rules are applied on the Auto Switch page, no matter what rule the last set proxy is used.
Even non matching rules will go to the last used proxy before setting auto switch.

Setup a Proxy, set rule to Host Wildcard, set *.netflix.com,
Set default to go via Direct, go to Netflix.com

You'll be using direct connection.

No switching happens at all. The icon correctly changes but no switches ac

[2014-12-24 03:11] bizbin opened #106 "隐身模式下不可用"
之前那版在Chrome隐身模式下可用的，新版的就不行了

SwitchyOmega 2.2.8
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-24 10:16] vvaa opened #107 "状态图标没原来好，难看又难懂，不一目了然"
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-24 13:23] hokerffb opened #108 "升级之前代理正常使用，升级之后所有墙外网上都上不去了，提示NET::ERR_CERT_AUTHORITY_INVALID"
Proxy SwitchyOmega 2.2.8
版本 38.0.2125.111 m

升级之前代理正常使用，升级之后所有墙外网上都上不去了。
配置已经自动导入完成，看起来没什么问题。
我去chrome设置里禁用了Proxy SwitchySharp，只开SwitchyOmega，发现不管设置为自动切换还是系统代理，都无法再访问任何墙外的网站，提示：

[code]

展开的详细错误信息：

[code]

尝试禁用SwitchyOmega，启用SwitchySharp，一切恢复正常，应该有bug

[2014-12-24 15:53] lao-mo opened #109 "”不代理的地址列表” 有没有图标提示？"
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-25 01:55] in-out opened #110 "如何切换到中文面板"
一直都是英文面板
而且找不到切换的设置
求指教

[2014-12-25 02:08] clarkhillm opened #111 "设置用户名密码中含特殊字符则无效"
密码中有特殊字符：~!@#$%^&*()_+.中的一个或者两个。

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36

[2014-12-25 02:47] wangbluer opened #112 "goagent上传成功，switchyomega也安装成功，但就是没法翻墙"
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[code]

[2014-12-25 03:35] #106 closed, assigned to nobody

[2014-12-25 04:16] shantj opened #113 "well, after change to this version, i just can't climb over the wall. The version 1.x is ok."
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-25 05:00] reannae opened #114 "facebook"
SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-26 00:42] hahach opened #115 "系统、直接连接、外部情景模式的设置"
update:oops...发现问题了，那个全黑的图标是系统代理默认的- -。。

还不错。但是反馈点问题，我用的chrome皮肤是纯黑的，然后界面上就完全看不见应用图标了。请考虑下根据用户的皮肤颜色设置图标颜色的问题。

另外，系统代理这个新模式。我从没怎么用过，可以给我们修改这几个模式位置的权限吗？我用的代理模式都被他挤下去了。

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-26 03:05] neoney opened #116 "只有google可以搜索，搜索后的链接打不开，知名的twitter,facebook访问一直缓冲，无页面打开。"
SwitchyOmega 2.2.8安装过程：直接下载,然后手动安装到Chrome://extensions下,然后通过、goagent/local/SwitchyOptions文件恢复配。服务端未做更改。

---

SwitchyOmega 2.2.8
Google Chrome:版本 39.0.2171.95,,Window7环境下
## goagent版本：3.2.3

[2014-12-26 04:22] chenshaoju opened #117 "网址通配符和Proxy SwitchySharp访问结果不一样的问题"
我注意到在从Proxy SwitchySharp 升级到 Proxy SwitchyOmega 2.2.8 后，通配符没有像预期一样工作。

比如，若设置 \* .facebook.com/ \*  （没有空格）网址通配符的情况下，若访问 https://www.facebook.com 可以打开，但是 https://facebook.com 则无法打开。

![screenshot](https://cloud.githubusercontent.com/assets/515763/5555746/a8f07d5e-8cf9-11e4-9e01-a7ba41abffef.png)

若需要做到和 Proxy SwitchySharp 一样的效果，需要如何进行设置？谢谢，因为为一个网址设置两个规则实在太费力。

[2014-12-26 09:30] ninetymiles opened #118 "图标两个环颜色对比非常弱，眼睛看过去很难受，都找不到能对焦的点"
SwitchyOmega 2.2.8
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-26 12:08] abszerocn opened #119 "下载情景模式数据出错"
点击“立即更新情景模式”总提示“下载情景模式数据出错”。手动访问gfwlist.txt将其内容粘贴在文本框中倒是可行。

SwitchyOmega 2.2.8
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-26 12:22] #117 closed, assigned to nobody

[2014-12-26 12:23] #119 closed, assigned to nobody

[2014-12-26 12:23] #116 closed, assigned to nobody

[2014-12-26 12:24] #112 closed, assigned to nobody

[2014-12-26 12:27] #110 closed, assigned to nobody

[2014-12-26 12:27] #118 closed, assigned to nobody

[2014-12-26 12:35] #93 closed, assigned to nobody

[2014-12-26 12:39] #97 closed, assigned to nobody

[2014-12-26 12:40] #96 closed, assigned to nobody

[2014-12-26 12:41] #100 closed, assigned to nobody

[2014-12-26 13:14] #113 closed, assigned to nobody

[2014-12-26 13:14] #114 closed, assigned to nobody

[2014-12-26 13:16] #82 closed, assigned to nobody

[2014-12-27 03:30] julykobe opened #120 "选择Restore from online 然后不会立刻download pac？"
要点一下Download profile now才会把pac下载下来，不然就一直是 return "DIRECT";

或者要等到Download Interval 的时间到了才会更新？

[2014-12-27 03:54] ghost opened #121 "搜狗5.2.5.15423能装SwitchyOmega,但是不能加载"
倒是SwitchyOmega的前身SwitchySharp可以正常加载

[2014-12-27 07:49] zephy358 opened #122 "自动切换无效"
pac地址，http://autoproxy2pac.appspot.com/pac/socks/127.0.0.1/8123。
Proxy switchysharp可用，switchyomega 用不了。。

[2014-12-27 10:55] #121 closed, assigned to nobody

[2014-12-27 11:24] #24 closed, assigned to FelisCatus

[2014-12-27 11:24] #109 closed, assigned to nobody

[2014-12-27 13:19] iderlyl opened #123 "omega配置完成后连接到google.com显示您的连接不是私密连接"
SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-27 13:42] #123 closed, assigned to nobody

[2014-12-27 16:23] Luofue opened #124 "win7下进入设置界面后文字变成代码，无法选择"
SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-27 16:34] sun8911879 opened #125 "ADfree.Player.Offline 支持"
能否对这类ADfree.Player.Offline 拓展 进行支持..

SwitchyOmega 2.2.9
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2014-12-28 03:33] ghost opened #126 "Opera 26开启自动切换手动输入about:config导致浏览器崩溃"
Omega 2.2.9/OPR 26.0.1656.60

[2014-12-28 04:34] ICRabbit opened #127 "SwitchyOmega 总是崩溃，没完没了"
是浏览器报的错，目测是SwitchyOmega出错了，每次出错后我都下载一个错误日志，竟然只有几条。如果长时间用不会只有几条而已吧？
Options << Options#applyProfile [
    "自动切换"
]
Options << Options#updateProfile []
Options << Options#applyProfile [
    "自动切换"
]
![qq 20141221174900](https://cloud.githubusercontent.com/assets/10268894/5563056/d4844afa-8e8d-11e4-926f-53202afcc9d8.jpg)

[2014-12-28 07:30] #126 closed, assigned to nobody

[2014-12-28 07:32] #125 closed, assigned to nobody

[2014-12-28 08:29] shiny opened #128 "菜单第一项经常无法显示"
![qq20141228-1 2x](https://cloud.githubusercontent.com/assets/117487/5563450/8fe36c98-8eae-11e4-91f4-8d55cada6ace.png)

第一项是直接连接，但是经常在弹出的时候第一项被挡住了。
Google  Chrome 版本 39.0.2171.95 On Mac OS X

[2014-12-28 08:42] #128 closed, assigned to nobody

[2014-12-28 11:48] #127 closed, assigned to nobody

[2014-12-29 02:01] yangbe opened #129 "在MAC上翻不了，是不是要升级了之后才可以上的？"

[2014-12-29 06:24] zephy358 opened #130 "xda-developers设置规则无效"
单独设置规则对xda-developers翻墙都没有效果。全局翻墙可以上去。可能是因为他有个链接是cdn-www.xda-developers.com， 这个匹配不上？

[2014-12-29 09:19] snow opened #131 "Please drop a donate link so I could buy you a drink."
as the title.

[2014-12-29 18:52] lucashalbert opened #132 "SOCKS5 Authentication"
It would be nice to have authentication options for each proxy we setup. I currently use PIA which requires a username and password.

[2014-12-30 00:20] jarvanh opened #133 "建议自动切换模式增加批量选择情景模式功能"
一个个域名配置情景模式实在太麻烦啦

[2014-12-30 03:55] y723157510 opened #134 "这个版本的图标太坑爹了，不仔细 根本不知道自己使用的是什么模式，老版的图标清清楚楚"
SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36

[2014-12-30 06:50] zockparty opened #136 "无法打开其他网站"
使用SwitchyOmega 2.2.9 ，配合goagent v3.23后，目前可以打开Google系列网站，但是Facebook，Youtube等都无法打开。

SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36

[2014-12-30 06:50] keymao opened #137 "The plugin can't work well"
the autoswitch mode can't work.  It sent no request to the goagent any more  after it works well for a long time(about 6 hours).

SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-30 07:13] lupus721 opened #138 "颜色变化不够明显"
当走代理流量时候，颜色变化不够明显，不如以前明显

SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2185.0 Safari/537.36

[2014-12-30 07:35] yuexiwei opened #139 "Condition Details 可重复添加相同域名规则"
Add Condition 新添加的域名规则跟已存在的域名规则冲突或是相同没提醒， 可重复添加相同记录。

![20141230155023](https://cloud.githubusercontent.com/assets/883949/5576680/ae08804e-903b-11e4-9031-11d93382a62c.png)

[2014-12-30 10:03] #138 closed, assigned to nobody

[2014-12-30 10:09] #134 closed, assigned to nobody

[2014-12-30 10:10] #133 closed, assigned to nobody

[2014-12-30 10:11] #132 closed, assigned to nobody

[2014-12-30 10:12] #130 closed, assigned to nobody

[2014-12-30 10:18] #136 closed, assigned to nobody

[2014-12-30 10:25] #129 closed, assigned to nobody

[2014-12-30 10:53] #122 closed, assigned to nobody

[2014-12-30 20:04] cqhtyi opened #140 "作者能否在“设定 - 界面 - 切换选项”里面增加一个复选框“兼容模式”？"
作者能否在“设定 - 界面 - 切换选项”里面增加一个复选框“兼容模式”？
意思就是说，在 打开新标签/关闭当前标签的时候，或者其他扩展释放代理权限之后，
强制将Proxy SwitchyOmega“的情景模式”设置为“自动切换”或者其他模式，
这样是否就可以与其他扩展兼容？
比如ADfree.Player.Offline，在更改代理之后，Proxy SwitchyOmega 就停留在了“PAC模式”，
之前使用Proxy SwitchySharp的时候，这方面的兼容性还是比较好的。

[2014-12-31 01:58] cf7180560 opened #141 "Error Report"
SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36
[code]

[2014-12-31 09:47] huangjinshe opened #142 "I hope the Auto mode default color is White"
now the default value is green. but it will be more better to understand

[2014-12-31 10:25] syb518cn opened #143 "The requested URL /_gh/ was not found on this server."
HI,I used Google Chrome and Proxy SwitchyOmega 2.2.9

This is a problem code for my computer:
/
Error: Not Found
The requested URL /_gh/ was not found on this server.
/
HELP!
THANKS！

SwitchyOmega 2.2.9
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2014-12-31 18:06] Septembers opened #144 "希望 代理服务器-不代理的地址列表 默认配置私网地址"
[code]

[2014-12-31 23:55] kice opened #145 "希望每个Chrome窗口的设置可以不同"
习惯了打开N多的页面(Ctrl+T)的人来说，用窗口(Ctrl+N)进行分组管理是很方便的。例如：国外页面一个窗口，国内的又一个。但是浏览国外页面需要代理，加上用了代理之后国内页面加载很慢，需要不停得切换。就希望能否每个页面情景可以不相同。

[2015-01-01 04:39] Tback1 commented on #41
我倒是觉得现在的色环做的效果还不错
2014-12-30 下午6:12于 "FelisCatus" <notifications@github.com>写道：

[2015-01-01 10:56] FelisCatus commented on #145
此功能无法在 PAC 脚本中实现，因此无法支持。

[2015-01-01 10:56] #145 closed

[2015-01-01 10:57] FelisCatus commented on #142
You can just set the color to white if you like in the profile settings. Just click on the color picker in the top-left corner and you are good to go.

[2015-01-01 10:57] #142 closed

[2015-01-01 10:58] #124 closed

[2015-01-01 11:00] FelisCatus commented on #140
Please upload the settings backup file to https://gist.github.com and paste the link here.

[2015-01-01 11:02] FelisCatus commented on #108
网络问题与 SwitchySharp / SwitchyOmega 无关。如果您的网络情况无法正常连接 google ，建议在自动切换中加入 `*.google.com` 使用代理访问。

[2015-01-01 11:02] #108 closed

[2015-01-01 11:02] FelisCatus commented on #143
This is a problem with GoAgent and has nothing to do with this project.

[2015-01-01 11:02] #143 closed

[2015-01-01 11:03] FelisCatus commented on #141
Please upload the backup file to https://gist.github.com and paste the link here.

[2015-01-01 11:05] FelisCatus commented on #140
设置里有一个“撤消其他扩展对代理的更改”的选项，本来是计划解决这个问题的。

但是目前这个选项并没有完全做好。等我有空了就抽点时间看看。

[2015-01-01 11:06] FelisCatus commented on #104
Please open any website. When Chrome shows you an error page, click on the "More" button to expand the details. Then you can just copy and paste the error message (or error code) here.

[2015-01-01 11:09] FelisCatus commented on #144
嘛，私网地址也不一定不用代理访问吧……
比如使用公司的代理访问公司网络下的某台内部服务器，这个是完全有可能的。

我只能说考虑做一个选项或者之类的功能。默认设置虽然也很方便，但如果这不是用户想要的话，用户很难发现是这个原因。所以……估计结论是只能让用户主动选择使用了。

[2015-01-01 12:28] cqhtyi commented on #140
感觉作者的回复！新年快乐！

[2015-01-01 13:57] #99 closed

[2015-01-01 13:57] #120 closed

[2015-01-01 13:57] #140 closed

[2015-01-01 14:09] ayanamist opened #146 "能否在popup上添加重新下载pac的按钮"
我的pac脚本是自己的程序生成的，提供http服务供Chrome来下载。
每次修改规则的时候，都需要修改完了，进Options页面，找到对应的pac规则那一项（如果上一次是这个Profile的话，会自动打开这个Profile，这一步可以不用做），然后点Download Profile Now。
不知道能不能在popup添加一个刷新按钮，点一下，就相当于Download Profile Now的效果？

[2015-01-01 14:21] idodoyo opened #147 "能否显示一下链接信息和数据传输信息，有的时候不知道连上没有啊？"
SwitchyOmega 2.2.10
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-01 14:26] FelisCatus commented on #71
SwitchyOmega (as of 2.1.10) now has a "Publish rule list" button for Switch Profiles, which can be used to craft a rule list. However, only Host wildcard, URL wildcard and URL regex conditions are supported.

In Switchy rule list, patterns are grouped by conditions types, which does not make much sense in SwitchyOmega where patterns are strictly ordered. I will see what I can do to improve the rul

[2015-01-01 14:29] FelisCatus commented on #99
v2.1.10 已经添加发布规则列表功能。

* 按钮在对应的自动切换情景模式上方
* 必须在选项中禁用高级条件类型才会显示按钮
* 只支持域名通配符，网址通配符和网址正则
* 导出的规则列表文件 SwitchySharp/SwitchyOmega 通用

[2015-01-01 14:30] FelisCatus commented on #140
v2.1.10 做了点改进，不知道有没有用，可以试试看。

如果不行的话建议卸载 ADfree.Player.Offline 扩展后重新安装以提高其优先级。

[2015-01-01 14:31] FelisCatus commented on #120
现在导入后会后台自动更新，但不显示更新是否成功。

[2015-01-01 14:31] xinhugo commented on #99
感谢，我试一下。

[2015-01-01 14:32] FelisCatus commented on #147
想要显示什么呢？

[2015-01-01 14:57] xinhugo commented on #99
发现新版提供的：多个「自动切换模式」功能，并不是想像中的【一起工作】。

我的需求是这样的：
代理扩展配置了A、B两组「自动切换模式」。
A组里的规则，统一用某日本服务器中转。
B组里的规则，统一用某美国服务器中转。

两组规则同时使用，满足使用不同线路的需求，并且以上配置（情景模式+切换条件），可以及时地通过在线规则列表共享给他人使用。

[2015-01-01 14:59] FelisCatus commented on #99
把 A 的默认情景模式设置成 B 就行了吧？然后切换到 A ，就可以 A, B 中的规则一起用了。

[2015-01-01 15:05] xinhugo commented on #99
@FelisCatus 看起来是个解决办法，我试一下。

另外反馈一个问题，新建情景模式、改情景模式的名字，操作起来，感到卡。

[2015-01-01 15:26] FelisCatus opened #148 "PAC 远程URL / 本地PAC文本 相关问题"
目标：保证切换到PAC情景模式尽量可以立即使用，同时也能保证PAC更新及时。

理想的实现方式：

1. 对于 `file:///` 的本地文件作为URL，直接使用。
2. 如果有下载好的本地文本，使用下载好的本地PAC文本。
 * 同时，尝试在后台下载 URL 。下载完毕后如果有更新，将新的PAC文本缓存到本地，重复步骤2。
3. 否则直接把 URL 丢给浏览器处理，可能会触发网络请求，有一定延迟。

[2015-01-01 15:27] FelisCatus commented on #146
Closed in favor of #148.

[2015-01-01 15:27] #146 closed

[2015-01-01 15:29] FelisCatus commented on #68
见 #148

[2015-01-01 15:29] ayanamist commented on #148
我个人倾向，在填了pac的url后，就清空内容，只设url，目前的行为，如果文本框里有内容（默认是有的），然后又填了url，但不点download，则生效的是文本框里的内容，而不是pac的url。但此时文本框又disable不能编辑了。这个逻辑比较隐晦。

[2015-01-01 15:31] FelisCatus commented on #148
@ayanamist 感觉像是界面上的 bug 。正确行为应该是修改 URL 时自动清空本地PAC文本。这个我也一并修复吧。

[2015-01-01 16:11] cqhtyi commented on #140
已更新至 v2.1.10 ，在优先级较低的情况下，确认无效。

[2015-01-01 16:17] xinhugo commented on #99
@FelisCatus  经测试，此方法可实现两种自动切换模式同时工作，但三种或更多就没办法了。

[2015-01-01 16:35] xinhugo commented on #99
@FelisCatus 我变通了一下，A组的默认情景模式设为B、B组的默认情景模式设为C、C组的默认情景模式设为D、D组的默认情景模式为直接连接，这样就实现了需求了。

[2015-01-01 16:57] xinhugo commented on #99
发现「发布规则列表」功能的缺陷，正则前多了个【英文感叹号】，导致规则不生效。

或者说，这是作者对「直接连接」的特殊处理？

原规则：
「://(www\.|)google\.(^|com\.af|com\.ag|com\.ai|co\.ao|com\.ar|com\.au|com\.bd|com\.bh|com\.bn|com\.bo|com\.br|co\.bw|com\.bz|co\.ck|com\.co|co\.cr|com\.cu|com\.cy|com\.do|com\.ec|com\.eg|com\.et|com\.fj|com\.gh|com\.gi|com\.gt|com\.hk|co\.id|co\.il|co\.in|com\.jm|co\.jp|co\.ke|com\.kh|co\.kr|com\.kw|com\.lb|co\.ls|com\.ly|co\.ma|c

[2015-01-02 01:37] julykobe commented on #120
谢谢你！

[2015-01-02 02:21] kafan15536900 commented on #140
Adfree dev 内部已新增兼容模式切换:switchCompatibleMode(),需要手动进入扩展控制台运行切换

2015-01-02 0:11 GMT+08:00 cqhtyi <notifications@github.com>:

[2015-01-02 05:22] 046569 opened #149 "PAC模式下状态图标的显示问题"
当前图标代表的似乎是情景模式,也许用户更希望看到图标亮时使用了代理,没亮的时候就是直连,更直观些.
相比之下,使用的是哪个情景模式并不那么重要.

SwitchyOmega 2.2.10
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-02 06:41] zockparty commented on #136
添加之后，仍然只能访问google，其他的还是不行

[2015-01-02 10:45] FelisCatus commented on #149
PAC 模式下，扩展并不能判断切换结果。

[2015-01-02 10:45] #149 closed

[2015-01-02 10:46] FelisCatus commented on #99
@xinhugo 这个和之前是一样的，直接连接会变成反向规则，而其他的会变成通常规则。

[2015-01-02 10:47] FelisCatus commented on #136
@zockparty 请参考 GoAgent 教程，导入那边提供的配置备份文件。

[2015-01-02 10:51] xinhugo commented on #99
@FelisCatus 这样处理有什么好处么？

[2015-01-02 11:06] xinhugo opened #150 "「导出PAC文件」的文件名"
界面左上角「导入/导出」→「导出PAC文件」，导出的内容虽然是所有情景模式的规则，但文件名却是「OmegaProfile_（情景模式名称）.pac」。

[2015-01-02 12:32] FelisCatus commented on #150
这个应该不是问题，本来导出的就是当前所使用的情景模式的PAC文件。（当然，也包括了所引用的所有情景模式，否则将无法使用。）

[2015-01-02 12:32] #150 closed

[2015-01-02 12:33] xinhugo commented on #150
原来如此。

[2015-01-02 12:38] FelisCatus commented on #99
@xinhugo 我只能说这个是一个设计问题。因为导出的规则只有匹配/不匹配两种状态，没办法表示每条规则具体的情景模式。所以合理的只有三种方案：

1. 直接连接情景模式对应匹配规则，其他为反向规则
2. 与默认规则相同的情景模式对应匹配规则，其他为反向规则
3. 全部生成匹配规则，没有反向规则

目前实现的是1，但我感觉2是最合理的。当时实现的时候只能说做得太快了，考虑有点欠缺。
不知道您的意见如何呢？我还是会尽量以使用者的观点为优先考虑。

[2015-01-02 12:49] xinhugo commented on #99
我更希望是3，没有反向规则。

原因如下：
.SwitchyOmega相比Proxy SwitchySharp，支持多组「情景模式（自动切换规则）」，可以曲线解决「没办法表示每条规则具体的情景模式」的问题。——即直连一组、A代理一组、B代理一组，并进行关联。

[2015-01-02 12:52] xinhugo opened #151 "规则条目较多时，操作卡顿"
某个情景模式（自动切换模式）的规则较多时，操作卡顿。

在线规则列表的规则较多时，没有卡顿问题。

[2015-01-02 12:57] FelisCatus commented on #99
@xinhugo 按照方案2，只要规则的情景模式都和默认规则不同，就不会有任何反向规则生成。因此对于您提出的使用场景，方案2和3生成的规则列表是完全一样的。

所以我个人更倾向于方案2。

[2015-01-02 13:05] xinhugo commented on #99
对于「只要规则的情景模式都和默认规则不同，就不会有任何反向规则生成」，我有些疑惑。

指的是「手动添加的切换规则」的情景模式和「默认情景模式」不同，就不会有反向规则生成？如果我没有理解错，那么是扩展的问题？

Direct_List「发布规则列表」，会有反向规则。

这是我的备份，麻烦看下问题：https://drive.google.com/file/d/0B7HMX9RBftW3NmZ3UElsc3ktZjg/view?usp=sharing

[2015-01-02 13:12] FelisCatus commented on #99
v2.2.10 的实现是有问题的，和我说的方案2不一样。而是错误地实现了方案1。

至于我认为正确的方案2，可以举例说明。假设有 X, Y, Z 三个情景模式（其中某个可以是直接连接模式，无影响）。

现在有一自动切换配置如下：

* `a.example.com` => X （与默认不同）
* `b.example.com` => Y （与默认不同）
* `c.example.com` => Z （与默认相同，会生成反向规则）
* 默认 => Z

我认为生成的结果应该是：

* `a.example.com`
* `b.example.com`
* `!c.example.com` （反向规则）

这样的结果对于您的场景就不会有任何意外产生了。但请注意方案2还在开发中，可能要等 v2.2.11 才能正常使用。（预计还需要3小时左右发布。）

[2015-01-02 13:17] xinhugo commented on #99
@FelisCatus 明白了,感谢你的劳动。因为直连连接组不常改动，手动改一下也可以接受，不用着急哈。

[2015-01-02 13:32] #148 closed

[2015-01-02 13:40] FelisCatus commented on #151
现在怎么办？我已经优化过很多次了……
~~不然干脆把编辑界面换成纯文本吧，绝对不卡~~

只能减少一些界面元素了吗？或者放弃 Angular 自己用 jQuery 写？这个好像也不行。

[2015-01-02 13:41] FelisCatus commented on #151
说起来，您那边有多少条规则呢？说个数字作为参考吧？

[2015-01-02 13:44] xinhugo commented on #151
GAE组：798条。

这是我的备份：https://drive.google.com/file/d/0B7HMX9RBftW3NmZ3UElsc3ktZjg/view?usp=sharing

[2015-01-02 13:51] FelisCatus commented on #99
v2.2.11 已经发布。

[2015-01-02 13:51] FelisCatus commented on #148
v2.2.11 已经修复，现在应该按照理想方案了。

此外，PAC选项界面也进行了改进，现在可显示最后更新的时间。

[2015-01-02 13:53] xinhugo commented on #99
已更新，问题已解决。谢谢。

[2015-01-02 13:54] FelisCatus commented on #151
还是等 #80 吧……估计无论怎么优化， 798 条也还是没办法的。

[2015-01-02 13:54] #151 closed

[2015-01-02 13:57] xinhugo commented on #151
好的，谢谢。

[2015-01-02 14:15] JMNSY opened #152 "不知道虚情景模式是否有支持多目标的预定"
往细了说就是手动添加目标并改变多个目标的优先顺序

[2015-01-02 14:20] FelisCatus commented on #152
这个如果有的话还是很实用的，不过做起来太麻烦了……

[2015-01-02 17:32] nsznsznsz opened #153 "非http和https协议不能代理"
我看niconico的直播的时候发现速度很慢 测试了一下后发现只有网页本身经过了代理
视频流没有经过代理 而是直接连接

抓了下包 发现直播用的是rtmp协议

[2015-01-02 19:25] leiyong316 opened #154 "在mac下翻墙的速度非常慢，控制台很多错误"
![image](https://cloud.githubusercontent.com/assets/2143362/5598864/1f95c28a-92f8-11e4-945c-3b9031b7bb18.png)

SwitchyOmega 2.2.11
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-03 04:38] zockparty commented on #136
导入之后还是没有改善。。。

[2015-01-03 05:30] zockparty commented on #136
找到问题了，建议与我有一样情况的参考文章：
http://blog.csdn.net/leos_blog/article/details/41013853#reply

[2015-01-03 06:11] FelisCatus commented on #154
GoAgent 问题与本项目无关。

[2015-01-03 06:11] #154 closed

[2015-01-03 06:14] FelisCatus commented on #153
请查看 `chrome://net-internals/#proxy` 页面的内容，并复制到这里。

[2015-01-03 07:49] yanboyang713 opened #155 "auto switch problem"
when I use PAC, The rule host willcard *.iqiyi.com does NOT working. If manual change to PAC, does is working.

SwitchyOmega 2.2.11
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-03 08:59] FelisCatus commented on #155
I can't understand you. Please use your native language (e.g. Chinese?).

[2015-01-03 11:03] zhangxiongguo opened #156 "无法访问wikipedia"
为什么我设置好了代理规则还是无法访问wikipedia？

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.65 Safari/537.36

[2015-01-03 12:08] xwj1003 opened #157 "提个建议"
可以设置一个代理链, 里面有代理1,代理2,代理3...代理n, 直接连接
系统会判断代理1能否使用,如果连接连接不上,就用代理2, 代理2连不上就用代理n, 最后就是不用代理直接连接.
以后就可以缓存读取

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-03 15:54] leiyong316 commented on #154
请问下在mac下的使用方法不是结合goagent吗？ 之前用的switchySharp是要结合goagent的。 如果我的方法使有误，请问在mac下如何使用才正确

[2015-01-04 02:49] ctoicqtao commented on #153
的确貌似ftp是没法用的。这个是我chrome里面复制出来的东西。

[2015-01-04 03:35] xwj1003 opened #158 "为何*.*amazon.com就无效呢?"
`*.amazon.com` 有效, 为何 `*.*amazon.com` 就无效呢?

`*.*amazon.com` 是为了匹配类似这样的域名 `*.images-amazon.com`

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-04 03:38] xwj1003 commented on #158
星号被你们过滤了.应该是
星号.amazon.com 有效, 为何 星号.星号amazon.com 就无效呢?

[2015-01-04 05:45] ynyounuo commented on #158
走网址通配符（URL Wildcard）然后用这个规则：
    `*://*.*amazon.com`

[2015-01-04 05:54] ynyounuo commented on #157
类似 #6  #73
这种自动检测自动记录规则说起来容易做起来难，而且很容易有各种各样的问题

[2015-01-04 06:01] FelisCatus commented on #153
这太长了……不如截图一下代理情景模式的配置如何？不是自动切换的，而是代理配置的。

[2015-01-04 06:05] xwj1003 commented on #157
现在很多代理不稳定,可能有时候能连上有时候连不上.
我可能会设置N个代理, 组成一个代理链, 系统判断一下代理1是否可用, 如果不可用就自动换一个.
我的要求是不需要自动记录规则.
这样做是为了减少来回换代理的麻烦.

[2015-01-04 06:10] FelisCatus commented on #158
已经确认！感谢您提供这么详细的错误报告。这是域名规则处理的问题，等下我加几个测试再修复一下。

[2015-01-04 06:18] ctoicqtao commented on #153
我是打开这个ftp

![26 pic](https://cloud.githubusercontent.com/assets/2931406/5604950/498a27fa-941c-11e4-9a90-4a1fe8181002.jpg)
规则是这样定的。

现在虽然能打开，但是是这样显示的

![30 pic](https://cloud.githubusercontent.com/assets/2931406/5604954/84f86fa4-941c-11e4-82e3-ad43fa607d62.jpg)
是不是仍然没有通过代理走呢？谢谢。

[2015-01-04 06:20] FelisCatus commented on #154
@leiyong316 您的配置方法完全正确，但网络请求慢等问题是 GoAgent 本身的问题。

[2015-01-04 06:27] FelisCatus commented on #153
@ctoicqtao 您的例子中，请截图“出墙”这个情景模式的配置。

[2015-01-04 06:30] ctoicqtao commented on #153
![61 pic](https://cloud.githubusercontent.com/assets/2931406/5604985/2f0e698e-941e-11e4-928d-d3a5c16f982d.jpg)

[2015-01-04 06:33] FelisCatus commented on #153
@ctoicqtao 您的问题在于自动切换中的“条件设置”。因为是“域名通配符”，所以只要写域名的部分就可以，应该是`*dd-wrt.com` ，不需要写网址部分的`/*`。这个问题和楼主所说的并不是同一个问题……

[2015-01-04 06:39] FelisCatus commented on #156
@zhangxiongguo 您设置了什么样的规则？可以截图或上传设置文件备份。

[2015-01-04 06:43] #158 closed

[2015-01-04 06:46] FelisCatus commented on #158
代码里已经修复了，不过离下次版本发布还有一点时间。暂时推荐用 `*amazon.com` 这样的规则代替（我感觉差不多），等下次发布后应该可以正常使用了。

[2015-01-04 08:39] haybeseret opened #159 "pac file "profile download issue""
I am working with pac file , lets say for the demonstration that it is configured to  "http://192.168.90.1/proxy.pac"

it seem that either i have pressed the download profile or it's downloaded it automatically.

I have ran into a situation where i was at the airport and got blocked by the airport NAC Protal, so the output of what i have seen in the "downloaded" profile was "access denied".
Now wh

[2015-01-04 09:50] FelisCatus commented on #159
PAC downloads are also network requests, so they are passed through the configured proxy by the browser. I don't think there's another way to bypass proxies for them, expect modifying the PAC script itself and return direct for the URL of itself.

The easiest solution would be to clear the PAC URL field and just use the downloaded script in the textarea. However this solution won't works if the sc

[2015-01-04 13:48] zhenghongzhi opened #160 "自动切换模式，chrome报错"
version:2.2.11
chrome:39.0.2171.71
错误代码：ERR_MANDATORY_PROXY_CONFIGURATION_FAILED
直接连接或GoAgent模式都没问题

[2015-01-04 13:49] aekt5716 commented on #160
我这边也是

[2015-01-04 13:49] horsley commented on #104
I meet the same problem. when the extension in auto switch mode it fails.
But when I switch to proxy only mode it's ok, I guess in auto switch mode you generate a pac.
and the pac is broken.

chrome error msg:

This webpage is not available

Hide details
The webpage at http://www.google.com/ might be temporarily down or it may have moved permanently to a new web address.
Error code: ERR_MANDATORY_

[2015-01-04 13:50] zhenghongzhi commented on #160
@aekt5716 我导出了一份配置，然后重新导入以后好了，你试试

[2015-01-04 13:53] merckliu opened #161 "I can't browse the Internet by proxy."
![1](https://cloud.githubusercontent.com/assets/7918720/5606150/b384f38a-945b-11e4-8164-23154d85c865.png)
Direct connection
![2](https://cloud.githubusercontent.com/assets/7918720/5606151/b39e916e-945b-11e4-8de6-a6f39aef96a1.png)
Automatic switching

I have no idea what makes it happened. it worked very well before.

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML

[2015-01-04 15:15] zhenghongzhi commented on #161
See this if it will help

[2015-01-04 15:33] merckliu commented on #161
Thanks，有效。

[2015-01-04 23:35] lemixtape commented on #104
Here it is, sorry for the delay:
Google Chrome could not load the webpage because cnn.com took too long to respond. The website may be down, or you may be experiencing issues with your Internet connection.
Check your Internet connection
Check any cables and reboot any routers, modems, or other network devices you may be using.
Allow Chrome to access the network in your firewall or antivirus settin

[2015-01-05 01:36] cicku commented on #161
Sorry guys I accidentally imported a wrong rule to the list yesterday.

[2015-01-05 01:36] cicku commented on #160
Sorry dude I introduced a wrong rule to the gfwlist.

[2015-01-05 02:47] tonyluj opened #162 "menu popup is slow"
First of all, the brand new UI is great, especially the setting UI.
But the menu slow down the speed of changing proxy. After clicking the icon, it has to speed hundreds ms to popup.
I think that speed it up make it more convenient.
Thinks a lot to supply such convenient app.

SwitchyOmega 2.2.11
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.

[2015-01-05 03:03] cicku opened #163 "Does it handle regex rules in gfwlist?"
Hey,

I tried to proxy this case for appledaily.com:

[code]

The regex works well in switchyomega's matching even though it's defective whereas adding it in gfwlist doesn't work anymore.

I'm not sure how this plugin works in gfwlist compatible mode, is it a bug? Or is it supposed to be like this? Can you check it?

Thanks.

:trollface:

[2015-01-05 04:39] vedardcn opened #164 "goagent error, ValueError: sample larger than population"
Hi I found goagent doesn't work and there is upgrade remind for switchysharp. So, I download and upgrade to SwitchyOmega. disabled switchysharp as well.
But goagent still doesn't work. I tried to uploader and can't connect to google cause it is prohibited by China government.
When I run goagent.exe and google browser, it showed "ValueError <sample larger than population",>
Any advice for it? Thank

[2015-01-05 08:31] nsznsznsz commented on #153
后来我又试了下 我以为是rtmp不能通过http来代理 然后我换成sock5的代理来试
结果发现网页能够正常代理 但是视频流还是没有经过代理
我终止sock5代理进程后  新网页已无法打开 但视频依旧能播放
已排除缓存问题 因为是直播 我终止sock5进程后直播依然能够播十几分钟 我一拔网线直播画面立刻就停止了

直接设成全局的也不行

Effective proxy settings
Proxy server for everything else: socks5://127.0.0.1:1080

[2015-01-05 13:22] haybeseret commented on #159
Thing is that on regular I.E pac is not being downloaded via it's own
configuration, it's a paradox.
It was working well in the old version of the extension.
I cannot edit the pac content, for some reasone.

On Sun, Jan 4, 2015 at 11:50 AM, FelisCatus <notifications@github.com>
wrote:

[2015-01-05 14:46] mcdawang opened #165 "建议：Proxy Profile 下支持添加多台服务器"
公司内网有台代理服务器，所以使用的 内网IP:PORT，回家后需要本机开代理端口改为 127.0.0.1:PORT，每次需要手工切换比较麻烦。
希望能像以前用PAC那样，添加多台服务器后第一个服务器不通自动尝试使用第二个。
能提供顺序/轮询设定更好，轮询在内网共享时比较有用，多台机器同时连接同一线路的代理服务器容易拥堵。

[2015-01-06 07:08] me2 opened #166 "自动切换代理 对有些网站（无需代理但设置了代理）没切换到代理模式"
类似twitter等本身需要代理才能访问的地址没问题，但对有些无代理也能访问的网站，虽然设置好启用代理模式，鼠标移动到SO图标（自动模式）上也看到对该网站启用了代理，但实际没启用，还是直接访问了。

先是访问的效果感觉没变化，然后去查看代理的流量显示，发觉实际没启作用。

[2015-01-06 08:32] lilymarcus opened #167 "不同场景下按钮的显示区分度不够大"
比如，使用自动模式，或者指定使用代理模式，或者自动模式时通过了代理或者没通过代理，这几种情况下按钮的显示区分度太小，不是很直观。

switchysharp的图标相对来说倒更直观一点。

SwitchyOmega 2.2.11
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-06 08:56] laizony opened #168 "UI界面建议"
图标不好看！

配置界面看着很别扭，内容都在左上边

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-06 09:04] #168 closed

[2015-01-06 09:26] magicismight opened #169 "怎么设置代码服务器的帐号密码？"
怎么设置代码服务器的帐号密码？
在选项里面没有找到这一项，代理服务器的高级设置里面也没有

[2015-01-06 09:46] FelisCatus commented on #166
请告知设置的情况，以及需要具体访问什么网站。

[2015-01-06 09:47] FelisCatus commented on #167
见 #107

[2015-01-06 09:47] #167 closed

[2015-01-06 09:48] FelisCatus commented on #165
如果真的需要用的话，暂时可以建立一个 PAC 模式，内容为以下即可。可以设置多个代理服务器，且可以和自动切换配合使用。

[code]

[2015-01-06 09:49] FelisCatus commented on #153
既然 socks5 也不行那么就是 Chrome 的问题了……建议去那边开 Issue 问下。

[2015-01-06 09:49] #153 closed

[2015-01-06 09:50] FelisCatus commented on #153
当然，也可能是因为 Flash 播放器的关系。Chrome 设置代理后， Flash 可能继承也可能不继承 Chrome 的代理设置，不过这又是 Chrome 那边的问题了……

[2015-01-06 09:51] FelisCatus commented on #164
This is a problem with GoAgent and has nothing to do with this project.

[2015-01-06 09:51] #164 closed

[2015-01-06 09:52] #163 closed

[2015-01-06 09:53] FelisCatus commented on #160
似乎是生成PAC挂了，请在设置的自动切换情景模式下，点击导出PAC按钮，并将结果上传到这里。

[2015-01-06 09:53] #161 closed

[2015-01-06 09:58] FelisCatus commented on #104
@horsley Your issue is different than OP's. Please open a separate issue for that.

@lemixtape I'm pretty sure a ERR_TIMED_OUT can only be caused by your network (or TOR) and is not related to this project.
I know that you did not change the settings in TOR, but I want to kindly remind you that TOR is not stable, and bridges can be blocked from time to time. In that case, you need to get more brid

[2015-01-06 09:58] #104 closed

[2015-01-06 10:01] FelisCatus commented on #159
The PAC script content can only be edited after you clear the "PAC URL" field.

[2015-01-06 10:03] FelisCatus commented on #169
代理服务器的用户密码可以在代理情景模式下，填写端口的文本框右侧，点击带有锁图标的按钮来设置。

只支持HTTP/HTTPS类型代理。如果是其他类型代理，那一格会显示为空。

[2015-01-06 10:03] #169 closed

[2015-01-06 10:39] rgw5267 opened #170 "增加“系统代理”选项"
在配置“自动切换”模式下的规则时，希望增加“系统代理”选项。

[2015-01-06 10:46] rgw5267 commented on #157
不知道cow是否满足你的要求。https://github.com/cyfdecyf/cow

[2015-01-06 11:03] FelisCatus commented on #170
由于PAC限制，此功能无法实现。

[2015-01-06 11:03] #170 closed

[2015-01-06 15:16] xwj1003 commented on #157
楼上的介绍看了一下,很方便, 都不用自己设置哪些网站需要代理. 反正连不上的都通过代理走.

[2015-01-06 18:13] snakyjake1 opened #171 "Display which rule was used"
I would like a feature that will display the rule that was used to switch the proxy.  I have many rules, and I can't tell which rule was triggered.

[2015-01-06 19:45] ianpgall opened #172 "Rule Name and View All"
Love the new version/UI, but there's one thing preventing me from using it. I have a list of server names and IPs that I added to the old version's rules. When I needed to access a server, I looked it up and found the IP, then used the IP in the browser. In the new version, there's no "name" for a rule...just an IP...so I have no way of doing a lookup. Is there any way to get the "name" back into

[2015-01-07 00:40] magicismight commented on #169
谢谢
就说怎么一直没找到，我用的是socket代理
socket不能填写帐号密码很头疼
还要用xshell再转一次，如果后面能加这样一个功能就太好了

[2015-01-07 01:03] zorro0109 opened #173 "What should I do to deal with this problem??Thank you ."
chrome,linux (debian)
python proxy.py
consule show

Traceback (most recent call last):
  File "/opt/google_appengine/goagent/local/proxy.py", line 919, in <module>
    common = Common()
  File "/opt/google_appengine/goagent/local/proxy.py", line 797, in __init__
    self.LISTEN_IP            = self.CONFIG.get('listen', 'ip')
  File "/usr/lib/python2.7/ConfigParser.py", line 607, in get
    raise N

[2015-01-07 01:49] mcdawang commented on #165
谢谢，解决了问题。

[code]

[2015-01-07 07:17] me2 commented on #166
我的情景模式有3个，antiAD、us和自动切换，其中的us是我的shadowsocks代理。（图1）
[URL=http://www.imagebam.com/image/b97532379634485][IMG]http://thumbnails109.imagebam.com/37964/b97532379634485.jpg[/IMG][/URL]

经常遇到一楼情况的网站有kickass.so和www.twitch.tv等，这两个网站添加到自动切换的设置是：域名通配符 -  条件设置是*.kickass.so和www.twitch.tv，平时SO使用自动切换模式。

默认设置为自动切换模式的时候，访问kickass.so（这网站直接访问偶尔能开偶尔不能直接开）会跳转到www.dnserror.cn。但如果先选为US代理访问，等页面打开正常以后再改回自动切换模式，然后无论在当页怎么

[2015-01-07 09:26] resuly opened #174 "使用 shadowsocks Chrome 打开网页缓慢"
使用SwitchyOmega连接本地的shadowsocks 后经常浏览器卡顿，常常打开一个页面加载数据之前要等好几秒。
起初以为是代理服务器的问题，但是重新安装老版的proxy-switchysharp 问题解决

Chrome版本 39.0.2171.95 m

[2015-01-08 08:50] FelisCatus commented on #173
This is the issue tracker for SwitchyOmega, not GoAgent.

[2015-01-08 08:50] #173 closed

[2015-01-08 08:50] FelisCatus commented on #169
@magicismight 由于Chrome的限制，扩展是做不到这个的。如果真的需要可以去 Chrome 那边要。

[2015-01-08 08:52] FelisCatus commented on #171
This is already implemented. Just hover on the icon on any webpage. The tooltip of the icon shows the rule used to match the URL.

[2015-01-08 08:52] #171 closed

[2015-01-08 08:54] FelisCatus commented on #166
非常感谢您详细的报告。这个问题可能是由于生成PAC和匹配不一致导致的。建议在自动切换模式下（图1的那个界面），点击右上角导出PAC按钮，并将结果上传到这里。我看看是否是这个问题。

[2015-01-08 08:56] FelisCatus commented on #166
此外，在不能正常访问时，请保持自动切换模式（不要来回切换），然后打开 `chrome://net-internals/#proxy`，并将内容复制到这里。

[2015-01-08 08:59] FelisCatus commented on #174
请在新版和旧版运行的时候，分别打开`chrome://net-internals/#proxy`页面（切换后可以刷新一下），然后将分别的结果复制到这里。

[2015-01-08 09:17] FelisCatus commented on #172
For now, you can write the domain along with the IP in the condition details, like `example.com|93.184.216.34`. This works for both wildcard and regex rules. Doing so also allows you to use domain names in addition to IPs.

I am considering about adding the rule name/description back. But it might be an option which is turned off by default (unless upgrading from SwitchySharp).

For the view of al

[2015-01-08 11:59] nsznsznsz commented on #162
我也这么觉得 点一下有差不多一秒的延迟才出来

[2015-01-08 12:36] zhangyubaka opened #175 "卡"
切换会卡,同时也有时打不开

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-08 14:03] nsznsznsz opened #176 "关于 域名正则 和 网址正则 的区别"
网址正则 是对整条URL进行正则测试匹配

而 域名正则 是不是指只对域名部分进行正则匹配？

[2015-01-08 16:02] resuly commented on #174
十分抱歉，经过排查应该是运行商的网络不稳定造成的

[2015-01-09 05:05] madqxy opened #177 "I can't upgrade the gfwlist !! Why? Chrome39"
i upgraded the gfwlist successfully at first time, but it can not work in this week. there is a red tag on the top with the words "下载情景模式数据时出错".

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-09 05:33] DLive opened #178 "socket5 不支持用户名密码"
socket5 不支持用户名密码，
是否可以支持？多谢

[2015-01-09 12:56] mzhboy opened #179 "[功能]希望支持多个规则订阅"
有时候gfwlist没有覆盖到某些网址，我就自己弄了个规则，然后推上去。firefox的pan插件允许订阅多个规则，很方便。所以希望SwitchyOmega能够支持订阅多个规则
![default](https://cloud.githubusercontent.com/assets/5281193/5680007/f0121082-9841-11e4-83b3-d033622acdd3.PNG)

[2015-01-09 15:20] fsaimon opened #180 "关于自动切换"
第一次用自动切换，发现好像所有的网站都走代理了、、、比如百度什么的，百度IP是我代理的IP，，可是显然百度不该走代理啊、、不知道是不是我设置问题

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2267.0 Safari/537.36

[2015-01-10 08:51] newcl opened #181 "chrome工具栏菜单显示问题"
点击chrome工具栏上插件的按钮，最顶端的“直接连接”有的时候显示不全，只能显示最下面的一条。

SwitchyOmega 2.2.11
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-10 09:42] FelisCatus commented on #181
Mac OS X 操作系统下的 Chrome 弹出窗口显示不正常为已知的 Chrome 问题，与本项目无关。

[2015-01-10 09:42] #181 closed

[2015-01-10 09:42] #174 closed

[2015-01-10 09:43] FelisCatus commented on #176
嗯，理解是没有问题的。不过正则表达式属于高级功能了吧，要折腾很久的……

[2015-01-10 09:43] #176 closed

[2015-01-10 09:45] FelisCatus commented on #179
可以再建立一个自动切换情景模式，然后将那个的默认情景模式设置成旧的自动切换即可，这样就相当于串在一起用了。

[2015-01-10 09:45] #179 closed

[2015-01-10 09:46] FelisCatus commented on #178
扩展是没办法给 socks 代理服务器提供用户名密码的，因为 Chrome 本身不支持。如果真的需要可以去 Chrome 那边要。

[2015-01-10 09:46] #178 closed

[2015-01-10 09:48] FelisCatus commented on #162
我之前做了一下性能分析，不过没发现明显的瓶颈……也不知道究竟是DOM比较卡，还是扩展内通信比较卡……

完全不知道该怎么办啊……

[2015-01-10 09:50] FelisCatus commented on #177
请先检查代理服务器是否工作正常。如果全局代理模式可以使用，那么可以在全局代理模式下更新规则列表。

[2015-01-10 09:52] FelisCatus commented on #180
既然不知道是不是设置问题、、、那干嘛不上传下设置备份、、或者截个图也好啊、、你光说不能用我怎么帮你啊、、晕

[2015-01-10 12:53] fsaimon commented on #180
不好意思
http://pan.baidu.com/s/1k2MHS
这是备份= =（我找了半天没找到怎么在这里上传附件，，，
![image](https://cloud.githubusercontent.com/assets/9132227/5691599/5e5a6ada-990a-11e4-9789-b72893210380.png)
（自动切换基本是默认配置、、、

PS：我觉得图标方面其实做得很好，挺好用，一目了然

[2015-01-10 16:12] mockee opened #182 "Unable to connect to the proxy server"
设置无误，从 SwitchySharp 切换过来后选择 Auto Switch mode 就无法使用了
所有需要走代理的网页提示 `Unable to connect to the proxy server`

SwitchyOmega 2.2.11
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-10 18:45] SunRunAway opened #183 "设置同步"
我看很多扩展的设置都能利用chrome来同步。是否此扩展也可以同步所有设置。

[2015-01-11 01:07] xloger opened #184 "关于“自动切换”的一些UI问题"
前几天刚换成SwitchyOmega的，用的感觉不错。但是自动代理模式里我很难根据图标判断当前网页是否处于代理之中，刚刚比较了一下发现虽然有两个图标，但很难辨认，希望作者能换个更让人舒适的图标。

SwitchyOmega 2.2.11
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2015-01-11 01:10] xloger commented on #184
Should I speak English ?

[2015-01-11 01:16] xloger commented on #184
=。=刚刚看了下反馈表，已经有人提了。。。
不过我觉得没必要弄复杂，比如自动模式我觉得直接用那个循环的图标就好，然后自动模式但并未代理就是灰色的，这样就很好了。

[2015-01-11 04:12] FelisCatus commented on #184
这个问题还是在 #107 集中讨论吧。

[2015-01-11 04:12] #184 closed

[2015-01-11 04:13] FelisCatus commented on #183
见 #7 。

[2015-01-11 04:13] #183 closed

[2015-01-11 04:14] FelisCatus commented on #180
你默认情景模式设置的也是本地SS啊……如果想默认走直接连接，匹配规则的走代理，那么默认情景模式应该设置成直接连接才对吧。

[2015-01-11 04:14] #180 closed

[2015-01-11 04:18] FelisCatus commented on #182
请先切换到代理情景模式，检查并截图配置。然后打开 `chrome://net-interals/#proxy` 页面，检查实际使用的代理配置，并将文字复制到这里。

如果代理配置和之前设置的不一样，可能就是升级的时候配置升级错误了。那么请告知之前SS的时候的设置是什么样的，以便修复问题。

[2015-01-11 05:59] FelisCatus commented on #41
刚才试了一下，先画 38px 的然后缩放，结果比较崩……看来只能 19px 和 38px 各画一份了。

那么问题就来了，究竟怎么检测浏览器是 1x 还是 2x 呢？

[2015-01-11 06:08] mzhboy commented on #179
收到，希望您能够把这种用法加入wiki

[2015-01-11 06:15] FelisCatus commented on #179
嘛，我可能会考虑把常用的配置场景总结到一篇文章里，不过现在我还没有太多时间。

[2015-01-11 07:08] FelisCatus commented on #158
v2.1.12 已经修复。

[2015-01-11 11:22] xwj1003 commented on #158
测试通过, :+1:

[2015-01-11 15:12] bryan-emit opened #185 "有个建议"
是我自己看错了，请无视这条 :-)

SwitchyOmega 2.2.12
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-12 02:23] madqxy commented on #177
还是网络被堵的太厉害了……设置无误，你的方法也尝试还是不行。昨天突然又好了……

[2015-01-12 05:14] wangsijie opened #186 "Safari版本"
期待什么时候能考虑出一个Safari版本的。

SwitchyOmega 2.2.12
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-12 06:52] #177 closed

[2015-01-12 06:52] #185 closed

[2015-01-12 07:44] subgb opened #187 "切换代理的建议"
现在的切换还是不够方便，

我预设了六七个情景模式，常用只是其中的2个外加1个自动切换，
我可以在选项里开启 [快速切换] 功能，虽然切换选中的情景时很快速，但此时若想使用其它情景时就很麻烦了。

还有是使用使用键盘快捷键打开SwitchyOmega菜单，然后用鼠标移过去点（好麻烦），或者使用键盘的上下箭头在一堆情景中选择（一般要眼睛看着选到第几个了才行，很难盲选）。

我想说，可不可以在菜单弹出后，获取到键盘按键？比如情景从上到下自动编号1到9（另外设置里请增加情景模式的排序），9之后就不管了，按对应数字自动切换情景。按数字0就直接连接，字母s就使用系统代理。

SwitchyOmega 2.2.12
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari

[2015-01-12 08:34] krgaurav94 opened #188 "Refresh Current Tab not working on Profile change"
I had been using proxy Switchy Sharp for quite a long time, recently I upgraded to Omega. I set the option to refresh current tab on profile change and applied the changes but the page is not reloading on profile change. I restarted the chrome also still no effect.
![screenshot from 2015-01-12 14 01 06](https://cloud.githubusercontent.com/assets/4548181/5700408/d4910dda-9a63-11e4-8d7b-b41c2867f895

[2015-01-12 16:06] subgb opened #189 "用css写了个图标供参考"
新版本用下来，感觉图标很难理解当前使用模式，我觉得主要原因是内圈和外圈的颜色基本占据相同比重，没有重点，容易搞混内外圈颜色的含义。

我的想法是自动切换这个状态的可以想象成一个背景色，占很少的空间，而把结果颜色作为前景色占据主要部分。

还有内外圈之间最好留一条透明缝隙，这样当两个颜色较接近时不至于糊成一团。

我拿css做了几个图标，可以参考下
![111](https://cloud.githubusercontent.com/assets/612446/5705638/cabd36f6-9ab5-11e4-9cdc-b578976b0013.PNG)

几个风格只是边框大小的区别而已

完整页面的链接：
https://rawgit.com/subgb/065d85b973d32c2a1a2a/raw/65ec8c213b1cae18159ecaa2ce365f49500a9059/

[2015-01-12 22:19] dhergert opened #190 "Support proxy username/password for PAC configuration"
It would be nice if you could specify a username and password to be saved with a proxy configuration for PAC.

[2015-01-13 05:07] Tback1 commented on #41
我记得chrome本身SDK有一个识别全局分辨率的函数，直接获取应该可以。以1280*720作为1倍和2倍的分界线如何

—
通过 Mailbox 发送

On Sun, Jan 11, 2015 at 1:59 PM, FelisCatus <notifications@github.com>
wrote:

[2015-01-13 05:38] FelisCatus commented on #41
@Tback1 主要的问题是在于 Chrome 本身的 UI 绘制是 1x 还是 2x 。这个是由 Chrome 决定，和分辨率有关，但也可以用命令行参数覆盖。和网页的分辨率并没有直接关系……

[2015-01-13 05:50] #188 closed

[2015-01-13 05:54] FelisCatus commented on #188
Another issue caused by variable shadowing. Sorry for my carelessness.

The fix should be released with the next release.

[2015-01-13 05:55] FelisCatus commented on #190
Cool, but what if the PAC returns different proxy servers for different URLs?

[2015-01-13 07:18] FelisCatus commented on #189
图标问题统一到 #107 讨论吧。

[2015-01-13 07:19] FelisCatus commented on #107
大家觉得 #189 的方案怎么样？我反正是觉得挺好的，至少思路很不错。

不过单独使用时的单圆环我觉得挺好的，不想改。所以我的建议可能是自动切换下，单圆环外面加点背景颜色。

[2015-01-13 07:19] #189 closed

[2015-01-13 07:20] #187 closed

[2015-01-13 07:53] Tback1 commented on #41
@FelisCatus 你没理解我说的，我说的是获取全局的分辨率，也就是获取屏幕本身的分辨率。Chrome本身的SDK应该是有这个函数的。1280*720为分界线或者别的分辨率（1920？会不会太高了点）作为分界线来决定1x还是2x。不是指的网页分辨率。

[2015-01-13 09:15] FelisCatus commented on #41
@Tback1 和屏幕的分辨率也没有直接关系，主要是要看 UI 绘制。哪怕是 2800 屏幕的分辨率，也有可能图标只占 19x19 的。

[2015-01-13 09:15] FelisCatus commented on #187
v2.2.13 增加了很多键盘快捷键，弹出菜单下按 ? (问号)键查看帮助。0,S,1-9都按 @subgb 的方案设定了。

关于排序问题，同种类型的情景模式是按字母顺序排的，所以不妨改改名字，在前面加点字母或数字前缀什么的。

[2015-01-13 09:15] FelisCatus commented on #188
v2.2.13 is released with the fix.

[2015-01-13 09:42] Tback1 commented on #41
那你直接从chrome本身运行的状态函数里获取是1x或者2x的参数不可以么？没开放这个UI接口？​

我对前端谈不上什么经验，以前看过一篇这个
http://www.ui.cn/project.php?act=view&id=23624&p=1&pm=2

不知道能解决你的问题不，不过似乎也没提到相关的参数。

在 2015年1月13日 下午5:15，FelisCatus <notifications@github.com>写道：

[2015-01-13 11:58] dhergert commented on #190
That's a good point. Every enterprise I've worked at, there has been only one corporate proxy for external access so that's why I only thought of one. If that's less common than maybe it makes less sense.

[2015-01-13 15:30] phyng commented on #107
#189  作者辛苦了，我的想法是，以代理为中心，不要考虑各种情景模式、自动切换
* 直接连接可以设置一种纯色
* 每种代理可以设置一种纯色
* 至于是否是自动切换这个没必要体现，当前网页使用什么代理就显示什么颜色

[2015-01-14 00:25] cf7180560 opened #191 "SwitchyOmega只能访问谷歌，不能访问其他网站。"
我下载的SwitchyOmega的版本为2.2.13，SwitchyOmega只能访问谷歌，不能访问其他网站。

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-14 02:26] cloudecho opened #192 "ReferenceError: OmegaPac is not defined"
Hello FelisCatus，按照README的步骤，安装到chrome后无法使用，日志：
ReferenceError: OmegaPac is not defined
    at Object.57 (chrome-extension://padekgcemlokbadohgkifijomclgjgif/js/omega_target.min.js:7215:18)
    at s (chrome-extension://padekgcemlokbadohgkifijomclgjgif/js/omega_target.min.js:1:583)
    at chrome-extension://padekgcemlokbadohgkifijomclgjgif/js/omega_target.min.js:1:634
    at Object.61../default_opt

[2015-01-14 03:00] damnhe opened #193 "大文件通过代理自动就断了"
下载44K左右连接被重置，用FireFox的代理没有这个问题
用的socks5 proxy

环境 Fedora21 + chrome Version 39.0.2171.95 (64-bit)

[2015-01-14 04:16] silenthk opened #194 "can't download pac"
无法导出PAC文件

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-14 07:03] hitrust opened #195 "将*.gstatic.com添加到切换规则后，无效"
将*.gstatic.com添加到切换规则后，该csi.gstatic.com无效，

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-14 09:30] ipfans opened #196 "GFWList更新失败"
在使用 https://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt 作为规则列表时，点击“立即更新情景模式”时始终出现“下载情景模式数据时出错。”

SwitchyOmega 2.2.13
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.69 Safari/537.36

[2015-01-14 09:39] FelisCatus commented on #196
如果网络状况不好，请先切换到代理模式再下载。

[2015-01-14 09:39] #196 closed

[2015-01-14 09:41] FelisCatus commented on #195
请截图自动切换的设置界面。

[2015-01-14 09:42] FelisCatus commented on #194
究竟是下载（从URL更新），还是导出（从自动切换导出PAC）？

[2015-01-14 09:43] FelisCatus commented on #193
代理服务器问题或 Chrome 问题与本项目无关。

不过既然 Firefox 行的话……那么应该是和 Chrome 的网络实现有关了吧，不过我对这些也不明白啦。可以去 chromium 项目问问看。

[2015-01-14 09:43] #193 closed

[2015-01-14 09:44] FelisCatus commented on #191
代理服务器或代理软件问题与本项目无关。如果是 GoAgent 等项目，请去对应项目反馈。

[2015-01-14 09:44] #191 closed

[2015-01-14 09:46] FelisCatus commented on #41
没看到有这方面接口，因为可能 Chrome 的高分辨率支持也算是在开发中，不算太稳定吧。

我预计这里需要同时绘制 19px 和 38px 的两份图标，然后交给 Chrome 自行选择。看了下别的扩展也是这么做的。

[2015-01-14 09:53] FelisCatus commented on #190
Also, the current implementation of proxy authentication checks the proxy server address asking for the credentials. This works great with Fixed Proxy Profile, but may cause issue with PAC scripts. SwitchyOmega has no way to tell the possible set of proxy servers returned by the PAC in advance, since the PAC script is JavaScript, and it can do whatever it like (string operations, dice rolling, etc

[2015-01-14 10:17] FelisCatus commented on #192
我感觉是 `npm link` 运行失败的关系……可以试试看这样：

[code]

然后重新加载下扩展试试看。

[2015-01-14 10:38] FelisCatus commented on #192
我改了下 package.json ，现在应该好了？如果还不行的话就是 npm 的问题了……

[2015-01-14 11:28] hitrust commented on #195
![default](https://cloud.githubusercontent.com/assets/3360631/5738116/7257883a-9c23-11e4-9422-d1ccd4dffe97.JPG)

[2015-01-14 11:55] FelisCatus commented on #195
看着不像是有问题啊，点“导出PAC”试试看，然后把结果上传到这里。（可以先把规则列表规则那里的勾去掉再导出，这样结果文件小一些）。

[2015-01-14 18:22] Tback1 commented on #41
先放一下吧，明天我再问问朋友看有没有人知道这方面的资料
2015年1月14日 下午5:46于 "FelisCatus" <notifications@github.com>写道：

[2015-01-15 01:41] silenthk commented on #194
情景模式，导出PAC文件，只有在开启goagent，开启swithcygmega代理模式才能下载，谢谢。

--------- 原始邮件信息 ---------
发件人: "FelisCatus/SwitchyOmega" <reply@reply.github.com>
收件人: "FelisCatus/SwitchyOmega" <SwitchyOmega@noreply.github.com>
主题: Re: [SwitchyOmega] can't download pac (#194)
日期: 2015/01/14 17:51:59 (Wed)

究竟是下载（从URL更新），还是导出（从自动切换导出PAC）？

—
Reply to this email directly or view it on GitHub.

[2015-01-15 03:16] chujiu-xiong commented on #157
可以用虚情景模式手动切换，虚情景模式在下拉菜单有个下拉列表，里面就是你添加的服务器和直接连接，只要在auto switch里将代理设为这个虚情景模式就可以在下拉菜单一键切换当前可用的代理服务器。

[2015-01-15 03:58] hitrust commented on #195
var FindProxyForURL = function(init, profiles) {
    return function(url, host) {
        "use strict";
        var result = init, scheme = url.substr(0, url.indexOf(":"));
        do {
            result = profiles[result];
            if (typeof result === "function") result = result(url, host, scheme);
        } while (typeof result !== "string" || result.charCodeAt(0) === 43);
        return r

[2015-01-15 04:21] fwlx opened #197 "Auto switch based on IP"
This is an old request which used to be raised on Switchy project in code.google.com
Resubmit again in case someone could add it in SwitchyOmega

This feature is indeed helpful when switch network between office/home
original request
https://code.google.com/p/switchy/issues/detail?id=41&colspec=ID%20Type%20Status%20Pri%20Mstone%20Summary%20Stars%20Reporter

[2015-01-15 04:35] FelisCatus commented on #195
PAC 文件应该没问题，刚才测试过 gstatic.com 下的所有域名都已经匹配。确定不是 GoAgent 的问题吗？

[2015-01-15 04:35] #195 closed

[2015-01-15 05:20] FelisCatus commented on #67
我查了好久资料，后来在 [Chromium 源代码][1]发现以下内容：

[code]

根据这个表格， Chrome 要匹配 IPv6地址需要用 Ex 版本的函数。我根据这个改下 PAC 生成代码看看是否能修好。

[1]: https://code.google.com/p/chromium/codesearch#chromium/src/net/proxy/proxy_resolver_v8.cc&sq=package:chromium&dr=C

[2015-01-15 05:29] FelisCatus commented on #197
I think this is possible with `myIpAddress()` in PAC script. But I don't know how to get the local IP in Chrome Extensions. Is it acceptable if the proxy is switched correctly (using PAC), but the color of the icon is wrong (due to lack of local ip in Chrome Extension)?

Also, the `myIpAddress()` is not stable could give incorrect or meaningless results (like `127.0.0.1`). Which proxy should be us

[2015-01-15 07:25] #67 closed

[2015-01-15 07:27] FelisCatus commented on #194
意思是那个导入/导出里那个按钮？那个是导出当前情景模式的PAC的，在直接连接模式显然什么都导不出。建议使用每个情景模式右上角的导出PAC按钮。

[2015-01-15 07:27] #194 closed

[2015-01-15 15:46] shook2012 opened #198 "好像没有之前界面友好了..."
SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-15 17:25] luking opened #199 "在填加条件时按i和o会自动跳转"
在手动加Add Condition里的表单的时候，按i会自动跳到GitHub,按o会自动跳到option
希望解决。

[2015-01-16 02:56] Whospakka opened #200 "extension can not be loaded without VPN connection / 插件在没翻墙成功之前不能加载"
extension can not be loaded without VPN connection / 插件在没翻墙成功之前不能加载

[2015-01-16 03:46] tower1229 opened #201 "建议"
自动切换模式下，代理和非代理模式的图标区别不是很醒目，忙起来的时候希望扫一眼就能知道是不是走的代理，可以改进下

[2015-01-16 06:21] cloudecho commented on #192
可以了，果然是npm link问题：

  # In project root directory
    cd omega-web
    npm link omega-pac
    # Please paste the error output here in case it fails.
    cd ../omega-build
    grunt

[2015-01-16 06:22] #192 closed

[2015-01-16 06:34] airhuman opened #202 "Suggestion: Add one min in PAC Download Frequency"
RT
15 mins seems a little long...

[2015-01-16 08:02] M-Kepler opened #203 "It can't work after update"
更新之后就用不了了，原来那个右下角有个绿色的叉

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-16 09:06] zhoudianyou commented on #201
支持一下  确实  时这样  我都不知道 那个网站   走代理 ，      那个没走代理，确实需要改进一下 +1

[2015-01-16 09:25] hitrust commented on #195
我再查看一下，谢谢回答。

On Thu, Jan 15, 2015 at 12:35 PM, FelisCatus <notifications@github.com>
wrote:

[2015-01-16 09:51] me2 commented on #166
最近http://kickass.so/一直访问正常，想出问题来反馈都不能，咳。等再现问题的时候我回来反馈的。

[2015-01-16 10:48] ynyounuo opened #204 "关于正则式简化规则的请教"
自己写的 regex 是 `(domain1|damain2|domain3)\.{1}([\w]+\.?)+` 这种形式

比如说：
`(g|google|typekit)\.{1}([\w]+\.?)+`

可以对应
`g.co`
`google.*`
`typekit.com`
`typekit.net`

但是同时也导致
`g-shock.com`
`gadgets.ndtv.com`
`g-star.com`
`gpen.com`

等所有含有 g 的 url 被对应

有没有什么写法可以避免这样的情况发生呢？
因为狂写 wildcard 会导致规则太多感觉好像切换有点卡（改成 regex 之后也有点感觉，最近是不是切换规则有点 bug？）

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/5

[2015-01-16 10:57] deathfan opened #205 "Wrong profile for redirected URL's"
Hi,

I have the switch rule with the following configuration:

- "Default" - Proxy1,
- "Rule list rules" - Proxy2.

Rule list has AutoProxy format and contains the following text:

*.sap.com
*.microsoft.com
*.ibm.com
*.sap-ag.de

The switch rule works well for all sites if they is called directly. But when I call "service.sap.com" it makes redirection to "websmpxxx.sap-ag.de". Since I have the sep

[2015-01-16 12:31] FelisCatus commented on #199
知道了，马上去看一下。

[2015-01-16 12:31] #198 closed

[2015-01-16 12:31] FelisCatus commented on #200
可以到这里下载： https://github.com/FelisCatus/SwitchyOmega/releases

[2015-01-16 12:31] #200 closed

[2015-01-16 12:33] FelisCatus commented on #166
没事，我这边也先调试下吧，也许能发现什么。

[2015-01-16 12:35] FelisCatus commented on #204
这个正则按理来说应该不会匹配 g-shock.com 吧……可以试试看按导出 PAC 按钮，再把结果上传到这里。

[2015-01-16 12:36] FelisCatus commented on #203
用不了了？具体是什么情况？

[2015-01-16 12:38] FelisCatus commented on #201
见 #107.

[2015-01-16 12:38] #201 closed

[2015-01-16 12:40] FelisCatus commented on #205
Would you please export a settings backup file and upload it to gist.github.com? The settings are too complex to reproduce just from your comments...

[2015-01-16 12:48] deathfan commented on #205
I've made backup and put it onto gist:
https://gist.github.com/3dfce5e67a3dea31432d.git

[2015-01-16 12:57] M-Kepler commented on #203
我没有删除旧版，旧版的右下角有个绿色的叉，后来我删了旧版和新版重新在商店下载switch旧版，重新上传.bak文件就ok了。谢谢你的插件! 在2015年01月16日 20:36 ，FelisCatus写道： 用不了了？具体是什么情况？ — Reply to this email directly or view it on GitHub.

[2015-01-16 13:43] ynyounuo commented on #204
确实没有，我糊涂了
应该是匹配了 `*g.com` 的所有网址
还有一个遇到的就是 `vice` 会匹配诸如 `appadvice.com` 之类的网址
PAC 导出内容如下（太长删了 PAC 和 list 部分 = = ）
[code]

[2015-01-16 14:37] #203 closed

[2015-01-16 14:37] FelisCatus commented on #204
vice是要匹配什么的？

[2015-01-16 14:39] FelisCatus commented on #199
v2.2.14 已经修复。

[2015-01-16 14:39] #199 closed

[2015-01-16 14:47] FelisCatus commented on #205
Are you using profile Auto Switch with ELD_wifi? You should chain them together by setting the default profile of Auto Switch to `ELD_wifi`. Then switch to the `Auto Switch` profile and you will be fine.

[2015-01-16 14:48] FelisCatus commented on #202
Oh really? Is there a real-world example of a PAC script that get updated **every minute** ?

[2015-01-16 15:10] deathfan commented on #205
I thought if I set the profile ELD_wifi (see image below) then it the one will be using independently of all other profiles (Auto switch and others).

![image](https://cloud.githubusercontent.com/assets/10560228/5778124/0481a51a-9daa-11e4-8371-5838dadb581b.png)

[2015-01-16 15:54] ynyounuo commented on #204
www.vice.com 呀
我这边是被墙的，不知道为什么

[2015-01-17 03:10] deepsea887 commented on #107
![Uploading ezm150115.mp3 . . .]()
xdfsf

[2015-01-17 05:43] yhhm opened #206 "twitter自动退出"
这两天昨天和今天，登录twitter后总是自动退出，而且无法再次登入。有时候重启电脑或隔一段时间可以再次登陆上，但保持时间都非常短。

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-17 09:17] FelisCatus commented on #204
可以试试看 `((^|\.)vice|g|google|typekit)\.{1}([\w]+\.?)+` 。在原有的基础上加了`(^|\.)`来匹配字符串开头或点。如果所有的网站都是前缀，也可以把`(^|\.)`移动到最前面的括号外面。

[2015-01-17 09:19] FelisCatus commented on #205
Profiles are always used independently unless explicitly chained (e.g. using one profile as the result of another profile). A chained configuration will work better here since you want both your rules in `Auto Switch` and the rule list in `ELD_wifi`.

[2015-01-17 09:20] FelisCatus commented on #206
代理服务器问题或 Twitter 问题，与本项目无关。

[2015-01-17 09:20] #206 closed

[2015-01-17 11:43] hexiyou commented on #102
非常同意，个人也是Firefox重度依赖者

[2015-01-17 11:50] hexiyou opened #207 "代理服务器SOCKS4和SOCKS5协议没有设置登录用户名和密码的功能吗？"
如题：代理服务器SOCKS4和SOCKS5协议没有设置登录用户名和密码的功能吗？后续版本是否会考虑加上？

[2015-01-17 12:52] FelisCatus commented on #207
参见 #178.

[2015-01-17 12:52] #207 closed

[2015-01-17 12:58] yhhm commented on #206
谢谢！

2015-01-17 17:20 GMT+08:00 FelisCatus <notifications@github.com>:

[2015-01-17 13:22] Whospakka commented on #200
不是下载的问题， 是安装好之后重启显示extension不能被加载， 进入扩展管理器后显示，程序已经损坏。但是VPN连接后好像就没有这个问题。

[2015-01-17 14:33] FelisCatus commented on #200
似乎和 Chrome 有关，可以试试看新建一个干净的 Chrome 用户数据文件夹，然后看是否还有损坏的问题。也可以试着更新 Chrome 。

[2015-01-17 15:01] ynyounuo commented on #204
不行，vice 还是会匹配 appadvice 的。不过，如果我在下面的另一条正则中写了 appadvice 走什么，那么就不会走第一条。

我听你好像说过优先级是从上到下的，不知道为什么会跳过在上面的 vice 而直接匹配第二条正则，虽然很别扭，但是也算是又一个解决方案了。

谢谢帮助！

[2015-01-17 17:29] myvpn opened #208 "建议恢复SwitchySharp下拉菜单里“新建规则”一项"
有很多网站并没有在AutoProxy和在线规则列表中，需要手动添加，现版本添加这些网站实在太麻烦，用户还需要回到选项中逐项添加，反不如在旧版SwitchySharp方便，旧版SwitchySharp只要在对应的网页下点击图标，再点选“新建规则”就可完成了，但现在的新版本我找不到这个方便的功能，是新版本省略了此功能还是我不会使用？谢谢。
![001](https://cloud.githubusercontent.com/assets/10575272/5789723/52c8edca-9eb1-11e4-81ff-d23fd5268d8e.jpg)

[2015-01-18 05:24] Sadafdar opened #209 "problem in goagent"
i have a problem in using goagent in china. for the first time when i install it, it was working fine. then after 24 hours it is not working, Facebook and you tube are failed to be opened. what should i do now?

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-18 08:02] FelisCatus commented on #208
![screenshot5](https://cloud.githubusercontent.com/assets/912649/5791790/38ac89d6-9f2b-11e4-9471-5e7388b8af88.png)

我这里显然是有的（图中带有+号的一项），你那边为什么没有我也不知道。不过如果真没有……那最好截个图来看看。

[2015-01-18 08:02] FelisCatus commented on #209
This is the project page for SwitchyOmega, not GoAgent.

[2015-01-18 08:02] #209 closed

[2015-01-18 08:04] FelisCatus commented on #204
如果没有匹配成功，就是正则写的不对，或者 bug 。建议导出PAC文件后节选一点贴过来看看。

[2015-01-18 08:45] subgb commented on #107
楼上说的第3点，我又想了想，自动切换的图示应该就是大家困惑的关键点。至于单独使用时是否圆环应该不是重点。

如果我们浏览任何网站都很流畅，肯定是不会去关注代理图标是什么。那什么时候会去关注图标？
设想以下场景：

地址栏输入www.baidu.com，过了半分钟才加载完。
这时我们肯定会想，这么慢是不是走了代理？于是查看图标来验证这个猜测。
此时有以下几种情况：
  * 图标是直连的颜色。
  说明没有开代理，心想：是不是网络有什么问题，要不重启个路由器试试。
  * 图标是某一种颜色圆环（或者实心圆/圆角矩形/地球图标等）。
  于是我们意识到正在用这个颜色的代理，那当然慢了，关掉就好了嘛。
  * 图标类似 ![222](https://cloud.githubusercontent.com/assets/612446/5791685/f118ebe0-9f21-11e4-95ac-f

[2015-01-18 09:15] FelisCatus commented on #107
按照 @subgb 的思路做的，也许可以行？（蓝色自动切换、当前页面为直连）

![omega_quad](https://cloud.githubusercontent.com/assets/912649/5791944/729e4044-9f35-11e4-9e0f-09684c9182a1.png)

[2015-01-18 13:38] zlc420 opened #210 "你好，打开facebook之类的都出现错误哦"
打开www.gmail.com出现如下错误：
Error: Not Found

The requested URL /_gh/ was not found on this server.

但是打开mail.google.com就没事。是DNS的问题么？

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.146 Safari/537.36

[2015-01-18 16:14] FelisCatus commented on #210
GoAgent 问题与本项目无关。

[2015-01-18 16:14] #210 closed

[2015-01-18 23:47] airhuman commented on #202
I do

[2015-01-19 05:19] deathfan commented on #205
I'm not using chain's and don't want to. I don't want to use both of my rules simultaneously and not using it - I'm using independently by manual choosing. BTW "Auto switch" rule has no any entries for sap.com and sap-ag.de hosts so it isn't correlates with my problem I think.

[2015-01-19 08:04] ynyounuo commented on #204
`(^|\.)` 写在外对于 `http://*.domain.*` 类网址有效
但是对于 `https://typekit.com/*` 或者 `http://g.co/*` 这类就无效

改进成 `(http[s]?:\/\/)(([wW]{3})\.)?` 加到最前有效

[2015-01-20 02:28] myvpn commented on #208
![aaaaa](https://cloud.githubusercontent.com/assets/10575272/5811269/0ce54e68-a08f-11e4-9206-d69f68774acf.jpg)

[2015-01-20 09:48] fatshi opened #211 "[Info] SwitchyOmega"
自从升级之后发现这个代理插件的响应速度明显慢了很多，这个对于稍有强迫症的我实在是煎熬~

望作者能在下一版中改进一下，争取达到“丝般顺滑”的效果~

最后，对作者的奉献精神表示由衷的敬意，此致敬礼~

SwitchyOmega 2.2.13
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2015-01-20 11:08] chenxiaoyu3 opened #212 "颜色区分太不明显"
有无proxy的颜色区分太不明显了，看得累。

一个灰色的边（或屎黄色的边），中心大灰绿色的点，比较难分辨。可以把点变小点，颜色区分大一点

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-01-21 01:41] liudonghua123 opened #214 ""npm run deps" failed on Windows"
When I run "npm run deps" on Windows, it failed with the following error message.
[code]

The detail log in file "E:\code\chrome_extension\SwitchyOmega\omega-build\npm-debug.log" is below.
[code]

[2015-01-21 03:16] xlqstar commented on #212
我也这么觉得，蓝色，绿色，灰色都好接近

[2015-01-21 03:22] AndyLee-Github opened #215 "can't use Google search"
Hi ，
    我不能用谷歌搜索，其他正常。

     当我用谷歌搜索的时候， 它没有反应或者 显示404. 不知道是不是因为我升级造成的。 我升级之前Google搜索很正常。

非常感谢你们所做的！

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-21 07:52] ije opened #216 "mac pro retina 下图标模糊"
图标能否提供2x的分辨率以支持视网膜屏

[2015-01-21 10:19] FelisCatus commented on #208
您正在使用的是“系统代理”，并非自动切换模式，所以当然也不能添加规则。切换到自动切换模式后即可。此外，该功能仅在正常网页的标签页中可用，在扩展选项页面以及新标签页面等不可用（因为显然不能设置这些页面所使用的代理）。

[2015-01-21 10:19] #208 closed

[2015-01-21 10:20] FelisCatus commented on #204
@ynyounuo 原来你那边用的是 URL 正则啊，不是域名正则……抱歉我刚才没注意。

[2015-01-21 10:20] #204 closed

[2015-01-21 10:32] FelisCatus commented on #202
Are you using PAC scripts generated by automatic tools? You can always force updating of the PAC script by re-selecting the PAC profile in the dropdown menu, even if it is already selected. Doing so would start re-downloading in the background, and the new downloaded script will come into effect in less than one minute. This would probably be what you actually want.

Adding an option for one updat

[2015-01-21 10:32] #202 closed

[2015-01-21 10:46] FelisCatus commented on #205
Thanks for the clarification. I misunderstood your intention earlier. It has nothing to do with the "Auto switch" profile. Sorry for that.

If I'm not mistaken again, you are expecting an AutoProxy rule `*.sap.com` to match the website of `service.sap.com`. But actually, it didn't match and the default rule is used instead. Right?

In that case, may I ask about the full URL of the website in quest

[2015-01-21 10:51] FelisCatus commented on #214
Thanks for the report. I'm not a pro at Windows command-line utilities, so I don't know what shell syntax should be used instead of the following bash syntax (which only works on *nix):

[code]

[2015-01-21 10:54] FelisCatus commented on #216
见 #41.

[2015-01-21 10:54] #216 closed

[2015-01-21 10:55] FelisCatus commented on #212
关于图标请参考 #107 的讨论以及建议。

[2015-01-21 10:55] #212 closed

[2015-01-21 11:02] FelisCatus commented on #211
关于响应速度这一点，希望能够详细说明。是哪里卡了？

* 界面上：下拉菜单的弹出速度？在下拉菜单选择项目后的反应速度？选项页面的加载速度？或者编辑自动切换的时候？
* 行为上：使用自动切换模式时，第一次加载网页前的“处理PAC脚本”所需时间？每个网页加载所需的时间？图标颜色改变需要的时间？

希望能详细说明具体的场景，以及更新前后大概延迟相差多久。如果和设置有关的话，还请附上设置备份文件，以便分析性能。谢谢！

[2015-01-21 11:14] FelisCatus commented on #214
Seems that `;` is not working for Windows cmd.exe. I will replace that with `&&`, which works both in Windows and *nix.

[2015-01-21 11:16] Septembers commented on #73
https://github.com/zizon/switchyd#what-it-does--how-it-works
可以参考学习switchyd的基于Hooks的自动学习
这样针对一部分被墙网站可以自动学习并代理

[2015-01-21 11:22] FelisCatus commented on #214
Does windows cmd.exe allow subshells as in `(cd ../omega-pac && npm install)` (with the parentheses spawning a subshell in *nix)?

[2015-01-21 11:22] FelisCatus commented on #215
代理服务器问题与本项目无关。

[2015-01-21 11:22] #215 closed

[2015-01-21 12:32] deathfan commented on #205
Hi FelisCatus,

I haven't found a way to "disable" the "AutoProxy" rule so I completely deleted it.

But the problem is still persists: if I try to open "http://service.sap.com" it redirects me to "https://websmpXXX.sap-ag.de" and "Home_http" profile is used instead of "Eldorado".

[2015-01-21 12:59] rescue1 opened #217 "cannot install"
Windows 7, Chrome Version 39.0.2171.95 dev-m.

Cannot install from Google Chrome store. Package install failed either.
An error has occurred. Network_Failed. Cannot install from this website.

[2015-01-21 15:28] FelisCatus commented on #217
Network issues are not related to this project.

[2015-01-21 15:28] #217 closed

[2015-01-21 15:42] FelisCatus commented on #205
No, it's not about redirects.

As I have pointed out earlier, AutoProxy rule lists **does NOT** match HTTP**S** URLs by defaults. Therefore, the `*.sap-ag.de` AutoProxy rule will not match the `https://websmpXXX.sap-ag.de` URL.
This is by AutoProxy's design, which fully respected by SwitchyOmega for compatibility. It just happened to work for microsoft.com because Microsoft does not turn HTTPS on

[2015-01-21 15:42] #205 closed

[2015-01-21 17:06] mayhuny opened #218 "使用反馈"
1.感觉界面有点卡顿，没有老版本流畅
2.界面友好程度有待提升
3.个人觉得这种工具在满足功能的情况下还是以方便操作为第一前提，实现功能的同时越少操作越好
4.还是发自内心的感谢您提供如此美好的工具，谢谢！

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36

[2015-01-21 17:15] FelisCatus commented on #218
感谢反馈。如果可以的话请多提一点具体的建议，谢谢。

1. 请指出具体的卡顿位置和大致情况。
2. 请提一两个可以使界面更友好的改进。
3. 可以说说看如何减少不必要的操作。
4. 你们的支持是我前进的动力，不需要太多感谢的话语，只要更多人能提供意见和建议，这个项目一定会做得更好。

[2015-01-21 17:15] #218 closed

[2015-01-21 20:03] deathfan commented on #205
Hi,
I've arranged my Rule list text according to Switchy format and my issue has resolved. Thank you!

[2015-01-22 06:09] visitantz opened #219 "建议增加"默认连接"的代理选项"
这样就避免重复设定场景规则，符合规则就用默认代理连接，要换代理就把默认连接修改一下。

[2015-01-22 09:26] FelisCatus commented on #219
可以用虚情景模式进行设置。

[2015-01-22 09:26] #219 closed

[2015-01-22 13:26] binhong87 opened #220 "自动切换模式规则设置缺少系统代理选项"
自动切换模式的配置中，切换规则无法设置使用系统代理，只能选择直接连接。
如图：
![image](https://cloud.githubusercontent.com/assets/4192051/5856328/30d96526-a27d-11e4-8efa-7cd8c92149b5.png)

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-01-22 15:58] FelisCatus commented on #220
见 #170.

[2015-01-22 15:58] #220 closed

[2015-01-22 16:40] solostn opened #221 "自动切换模式无法观看youtube."
如果使用系统代理模式，可以观看。但是感觉浏览变得比较慢。
如果使用自动代理模式，youtube能进页面，读取也正常，但就是视频一直黑屏，无法播放。
如果强制使用goagent代理模式，可以播放。。。。

SwitchyOmega 2.2.14
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.91 Safari/537.36

[2015-01-22 16:45] FelisCatus commented on #221
GFW List 问题与本项目无关。可以试着用开发者工具找找看对应的请求。（不过也不一定能找到，毕竟是 Flash ……）

我个人推荐用 https://www.youtube.com/html5 试试看，这个浏览器代理支持会好一些。

[2015-01-22 16:45] #221 closed

[2015-01-23 00:02] dylanpiergies opened #222 "DNS requests should go via a proxy"
I'm not entirely sure if this is possible to implement in an extension. Chrome is presumably using the operating system's resolver to resolve host names. Implementation of this feature is unlikely to be trivial. For the paranoid, though, it's an important consideration.

At present, although HTTP traffic may be sent via a proxy server, queries to DNS servers are not. If possible, an option to make

[2015-01-23 01:40] gepcel commented on #107
顶一下。
本来想来提个建议，现在的图标颜色区分不直观（让人一看不明白各代表什么意思），需要自己测试好几种环境和网站才能测试出来。
另外，现在的颜色对比很不明显，尤其在自动切换模式下，走代理和不走代理一眼看去，区别不明显，仔细看才能看出来区别，又经常搞不清这是代表走代理啊还是不走代理啊？

总结：

    1. 颜色的区分不明显，得仔细看。
    2. 各种模式的含义不直观，得好好记才记得住。

[2015-01-23 04:29] Arcious opened #223 "图标不支持retina"
图标不支持retina

SwitchyOmega 2.2.14
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.91 Safari/537.36

[2015-01-23 04:32] Arcious commented on #223
绿点图标不支持retina,菜单里面的图标是支持retina的 ![screen shot 2015-01-23 at 12 31 18 pm](https://cloud.githubusercontent.com/assets/9977832/5869856/c57abf80-a2fb-11e4-9a0e-a3acb5c11396.png)

[2015-01-23 12:01] FelisCatus commented on #222
I believe this is related to DNS prefetch and cannot be controlled by extensions. DNS prefetch can be configured in Chrome settings (something labeled as prediction). Try turning it off to see if it helps. The `chrome://net-internals` page can show you the events related to DNS and network requests.

On the other hand, DNS requests are always tunneled through a SOCKS5 proxy. Try setting up a SOCKS

[2015-01-23 12:01] #222 closed

[2015-01-23 12:05] #7 closed

[2015-01-23 12:07] FelisCatus commented on #223
见 #41。菜单里的图标是字体，所以好像没这个问题……

[2015-01-23 12:07] #223 closed

[2015-01-23 12:09] FelisCatus commented on #41
我打算在 v2.3.1 把这个做出来。具体实现方式是 19px 和 38px 都画一份。刚才试过，不算太占内存。

我不准备等新图标设计了，因为图标改了以后对于代码的影响不大。

[2015-01-23 12:14] FelisCatus commented on #65
这边还是不能用吗？可以把 `chrome://net-internals/#proxy` 的内容复制一下再贴到这里。为了保护个人隐私，可以把 IPv6 地址的每一位都改成 `f` （但是尽量不要改地址格式，我想看看是否是和地址格式有关。）

[2015-01-23 12:15] FelisCatus commented on #70
Chrome 也应该更新几个版本了吧，那么请问现在还有没有这个问题？

[2015-01-23 12:16] hcwhan commented on #70
没有了 谢谢

[2015-01-23 12:18] FelisCatus commented on #87
这个 issue 已经很久都没有回复了，我准备先关闭了。如果还有问题，请留言并点击 reopen 按钮重新开启。

[2015-01-23 12:18] #87 closed

[2015-01-23 12:19] FelisCatus commented on #105
Closing this issue for now. Please attach the error log if you want to reopen it.

[2015-01-23 12:19] #105 closed

[2015-01-23 12:19] FelisCatus commented on #98
Closing this issue for now. Please attach the error log if you want to reopen it.

[2015-01-23 12:19] #98 closed

[2015-01-23 12:20] FelisCatus commented on #137
Closing this issue for now. Please provide additional information based on the questions above if you want to reopen it.

[2015-01-23 12:20] #137 closed

[2015-01-23 12:22] FelisCatus commented on #141
Closing this issue for now. Please attach the backup file if you want to reopen it.

[2015-01-23 12:22] #141 closed

[2015-01-23 12:23] FelisCatus commented on #147
这个 issue 也已经很久了，虽然我到现在都没有明白究竟是什么意思……如果有什么要补充的，请留言回复。

[2015-01-23 12:23] #147 closed

[2015-01-23 12:24] FelisCatus commented on #155
Closing this issue because I just can't understand you. Please make your self clear next time.

[2015-01-23 12:24] #155 closed

[2015-01-23 12:25] FelisCatus commented on #160
亲，你们都这样把我骗来修 bug，连一份 PAC 导出文件都不给……

你们这样让我很难办的有没有……

[2015-01-23 12:25] #160 closed

[2015-01-23 12:26] #70 closed

[2015-01-23 12:27] FelisCatus commented on #165
先关闭这个了。上面已经提了一种解决方式，而另一种可能的解决方式是 #152 。我想，要做的话可能也是做 #152 吧……那么先关闭这个了。

[2015-01-23 12:27] #165 closed

[2015-01-23 12:29] FelisCatus commented on #182
我要给你们跪了……求一点详细的错误报告就那么难么。这软件配置那么复杂，如果你只是说一句挂了，我怎么知道是哪里怎么挂了啊……

[2015-01-23 12:44] FelisCatus commented on #7
v2.3 开始支持设置同步啦！欢迎大家参与试用，记得反馈问题哦。

[2015-01-23 12:46] FelisCatus commented on #7
v2.3 开始支持设置同步啦！欢迎大家参与试用，记得反馈问题哦。
对于已有的配置，设置同步默认为关闭，可以在导入/导出页面手动开启～

Options syncing is supported as of version 2.3. Try it out!
For existing options, syncing is disabled and can be manually enabled in the Import/Export options page.

[2015-01-23 12:47] FelisCatus commented on #115
计划在 2.4 加入更改这三个情景模式颜色和是否在弹出菜单显示的选项。

[2015-01-23 12:51] #89 closed

[2015-01-23 12:53] FelisCatus commented on #95
我打算关闭这个了，既然没有什么信息，而且“降级到switchysharp还是不行”，那大概就是代理服务器的问题了吧……

[2015-01-23 12:53] #95 closed

[2015-01-23 12:54] FelisCatus commented on #102
2.4 预计加入 Firefox 支持，只要我在那之前没累死的话……

[2015-01-23 12:55] FelisCatus commented on #156
如果没有任何截图或设置文件备份的话，我估计是搞不定了……也许哪位神明能猜出为什么您那边不行吧。

[2015-01-23 12:55] #156 closed

[2015-01-23 12:56] FelisCatus commented on #157
先关闭这个了。如果真的决定要做的话可能是按 #152 做。

[2015-01-23 12:56] #157 closed

[2015-01-23 13:08] FelisCatus commented on #186
经过一番调查（谷歌），我发现 Safari 没有自己的代理设置，也就是说是使用系统代理设置。

而系统代理设置不太可能做，因为需要原生代码。我先准备关闭这个了。

[2015-01-23 13:08] #186 closed

[2015-01-23 13:18] Anaheim55 commented on #102
大大辛苦，翘首以盼！注意休息XD

发自我的 iPhone

[2015-01-23 13:45] KsaRedFx commented on #105
I just reinstalled SwitchyOmega and this bug appears to be fixed. I'll post a log if it occurs again.

[2015-01-23 14:31] xinhugo opened #224 "「添加条件到情景模式」只能是「初始情景模式」"
直接点击地址栏右侧的扩展图标，「添加条件到情景模式」只能是「初始情景模式」，无法选择其他情景模式。

如果可在此界面，添加条件到其他情景模式，是否能缓解某个情景模式条件较多，编辑缓慢的问题？

[2015-01-23 14:45] klaernie opened #225 "Plesse support a web translation service"
Could try to integrate a web translation service like weblate (http://hosted.weblate.org)? That should make it trivial to integrate new languages and obtain new translators.

[2015-01-23 16:30] FelisCatus commented on #225
Cool. I'll try to integrate one when I have time.

[2015-01-23 16:30] FelisCatus commented on #105
Thanks.

[2015-01-23 16:31] FelisCatus commented on #224
可行……不过考虑到弹出菜单加载已经很慢了，所以还是慎重点吧。

[2015-01-23 16:38] xinhugo commented on #224
很慢么？我觉得还行。

[2015-01-24 02:40] a3c4x8 opened #226 "My most favorite feature: Sync settings across Chrome"
My most favorite feature:  Sync settings across Chrome.

I had used Proxy SwitchySharp for one year. But I always have a pain point. Since I have three Chromebooks and two Chromebox located in Beijing/Chengdu/Zigong, I have to make every setting change five times. Sometimes, I got five different settings version. As you know, import/export a setting file does not work perfect for my situation. Tha

[2015-01-24 10:04] mockee commented on #182
@FelisCatus 误会了。前段时间刚好休假，信件堆积比较严重，应该是漏掉了，抱歉今天才看到。

重新卸载安装了下，代理情景模式下 HTTP 默认添加了与 SS 时相同的代理：

![screen shot 2015-01-24 at 17 22 43](https://cloud.githubusercontent.com/assets/176544/5886955/06bd3bca-a3f2-11e4-8361-14e36eb7464e.png)

但无论是使用代理还是 Auto Switch 都会提示 `Unable to connect to the proxy server`。直接使用代理时 `net-internals/#proxy` (`s/interals/internals`) 显示的代理与设置的一致：

![screen shot 2015-01-24 at 17

[2015-01-24 10:17] FelisCatus commented on #182
我用配置检查过，无论是代理模式还是自动切换，返回的代理服务器地址是一样的，都是 HTTP `10.8.0.1:8118`。这样的话我推荐检查这个代理服务器是否可以能正常工作（比如，可以试试看 telnet 10.8.0.1 8118）。此外，确定代理服务器是 HTTP 类型，而不是 SOCKS 代理吗？

此外，推荐设置 (default) 一行的代理，而不要设置 `http://` 一行的代理，否则 `https://` 的网址不会走代理。 Scheme 一栏设置的是网址的协议，而不是代理本身的类型。

[2015-01-24 10:29] FelisCatus commented on #226
I can't believe that you are complaining that syncing isn't available when you are using the shiny new SwitchyOmega 2.3.0 with syncing just added as a big feature right now. ;)

Yes, you've read that right. Syncing is supported NOW!

However, syncing isn't enabled by default. You can opt in syncing on the Import/Export options page right now. And since you have five devices already configured, syn

[2015-01-24 10:29] #226 closed

[2015-01-24 10:32] FelisCatus commented on #224
见 #162 等。我并不是说不做这个了，只是说需要慎重考虑而已。不过这个可能会慢一些，因为我需要花点时间尝试并且分析性能问题。

[2015-01-24 12:23] mhqs007 opened #227 "自动情景模式能不能支持自动切换到“系统代理”"
考虑到目前有些别的扩展（比如ADfree）会和switchyomega抢代理控制权。
这样就能根据规则，自动切换了。
 #69.的问题也就解决了。

[2015-01-24 13:25] mockee commented on #182
@FelisCatus 只设置 `default` 代理，其他 `use default` 后好了:)
btw, `http://` 一行的代理是从 SS 升级过来后自动填写的

:beers:

[2015-01-24 14:26] FelisCatus commented on #182
我准备关闭这个了，升级前后差别比较大，如果没选中 use same proxy 的话升级过的结果不一定是对的……但也没什么好办法。

[2015-01-24 14:26] #182 closed

[2015-01-24 14:28] FelisCatus commented on #227
这个事情涉及到 PAC 脚本生成，目前没有可靠的解决方案。（当然，楼主提的方案也很有创造性……可惜技术上没那么简单。）

[2015-01-24 14:28] #227 closed

[2015-01-24 16:14] xinhugo commented on #224
明白了，谢谢。

[2015-01-24 21:19] maxxc0m commented on #211
Plugin Switch Omega

[2015-01-25 02:02] w3324776 opened #228 "使用自动代理的时候，能通过图标显示当前是否使用代理"
使用自动代理的时候，能通过图标显示当前是否使用代理

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36

[2015-01-25 04:12] hexchain opened #229 "Long profile name breaks UI when using Virtual Profile"
If name of the chosen profile for a virtual profile is too long, the dropdown handle will be pushed down, which looks bad.

Example:
![deepinscreenshot20150125120851](https://cloud.githubusercontent.com/assets/529520/5890194/1dd09caa-a48b-11e4-8c05-bdf634c640a2.png)

(Square block reflects exact text length.)

EDIT: version info
SwitchyOmega 2.3.0
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36

[2015-01-25 07:34] FelisCatus commented on #228
图标已经显示了……

[2015-01-25 07:34] #228 closed

[2015-01-25 08:02] #229 closed

[2015-01-25 10:50] hexchain commented on #229
That was quick! Thank you.

[2015-01-25 10:51] FelisCatus commented on #229
But that's not gonna be shipped until the next minor release (which should be v2.3.1).

[2015-01-25 11:12] hexchain commented on #229
That's not a problem. ;-)

[2015-01-25 11:21] Septembers commented on #9
https://github.com/zizon/switchyd#what-it-does--how-it-works
可以参考学习switchyd的基于Hooks的自动学习
这样针对一部分被墙网站可以自动学习并代理
[code]

@FelisCatus @Z-Jay

[2015-01-25 11:27] #144 closed

[2015-01-25 13:21] mystolz opened #230 "No access to Mail-Appliance"
Hi,

after upgrade to SwitchyOmega from ProxySharp, I dont have access to my local address https://192.168.115.61

https://192.168.115.61 is exepted

If I use the system proxy settings there also have an exeption for https://192.168.115.61 it works, but it dosen't work with SwitchyOmega

Regards
Helge

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Ch

[2015-01-25 13:23] a3c4x8 commented on #226
It's not a complaint. I just want to say thank you for the settings sync
feature. But I have not your email, so I had to show my strong appreciation
through this bug management tool.

Thanks for your great work.
On Jan 24, 2015 6:29 PM, "FelisCatus" <notifications@github.com> wrote:

[2015-01-25 14:23] FelisCatus commented on #230
Please provide a screenshot of the upgraded Proxy Profile with focus on the bypass list section.
It is also recommended to do a PAC export on the profile you are using, especially when you are using Auto Switch.

[2015-01-25 15:06] mystolz commented on #230
how can I send you a screenshot?
Reply from the mail dosen't work

[2015-01-25 15:22] FelisCatus commented on #230
The issue tracker allows attach images via the Web interface. Or you can just upload to another public image hosting service and paste the link here.

[2015-01-25 15:26] mystolz commented on #230
![25-01-_2015_15-28-18](https://cloud.githubusercontent.com/assets/10695359/5891953/f04e0f78-a4ae-11e4-8967-32e39432a49b.jpg)

[2015-01-25 15:28] FelisCatus commented on #230
One more question: Does the problem happen when you use Mit Proxy itself, or when using Auto Switch? Or both?

[2015-01-25 15:31] mystolz commented on #230
I have the on both settings

[2015-01-25 15:33] FelisCatus commented on #230
Yeah I know that. But I'm asking about your current profile, as selected in the popup menu. Does selecting Mit Proxy trigger the problem? Or, does selecting Auto Switch?

[2015-01-25 15:35] mystolz commented on #230
The current profile are "Mit Proxy"

[2015-01-25 15:38] FelisCatus commented on #230
I just tried the same bypass pattern as yours. It seems that addresses in the `192.168.115.0/24` range is not tunneled through any proxy, which should be the right behavior.

May I ask for your further help by checking the URL `chrome://net-internals/#proxy` and copy any text on that page? That page should show the effective proxy settings.

[2015-01-25 15:42] mystolz commented on #230
Effective proxy settings

Proxy server: 192.168.115.254:8080
Bypass list:
  <local>
  192.168.115.0/24
  *.stolz.de*

[2015-01-25 15:45] mystolz commented on #230
If I use the system proxy settings, I have this settings:

Effective proxy settings
Proxy server: firewall.stolz.de:8080
Bypass list:
  *.stolz.de
  192.192.168.115.*
  https://192.168.115.254:4444
  <local>
Source: SYSTEM

Original proxy settings
(1) Auto-detect
(2) Proxy server: firewall.stolz.de:8080
    Bypass list:
      *.stolz.de
      192.192.168.115.*
      https://192.168.115.254:4444

[2015-01-25 15:50] FelisCatus commented on #230
Your system bypass list contains a few more entries that is not covered in the SwitchyOmega settings, such as `https://192.168.115.254:4444`. Does copying the following list to your "Mit Proxy" help?

[code]

[2015-01-25 16:02] mystolz commented on #230
??? this works. But why?

Are 192.168.115.0/24 not ok?

[2015-01-25 17:01] FelisCatus commented on #230
I think the real issue is that 192.168.115.61 must be visited though the proxy, while you thought it shouldn't. Things like this is related to your network and can't be explained without knowledge about the local subnet.

I'm going to close this issue since copying the system bypass list worked in this case.

[2015-01-25 17:01] #230 closed

[2015-01-26 12:15] ilovebamboo opened #231 "能不能出个系统的教程资料，我想用shadowsocks搭建内外socks服务"
SwitchyOmega 2.3.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.91 Safari/537.36

[2015-01-26 12:19] WillieCn opened #232 "仅仅提个建议"
暂时没有出现什么异常，只是有个建议啊，以前的那个SwitchySharp的图标可以让人一眼认出当前是否处于走代理状态，现在的图标有点分不清，不用鼠标指着他就不知道当前网站是否在走代理，希望将各个状态的图标明显区别开来，或者是我没找到在哪里可以设置的么。

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.91 Safari/537.36

[2015-01-26 13:21] ICRabbit opened #233 "搞什么东东，Facebook神马的全都打不开"
代理图标显示Facebook网站没有通过代理。

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-01-26 17:44] lygstate opened #234 "不支持 pac 文件"
不支持pac导入

[2015-01-26 21:13] stlpro opened #235 "Bulk Proxy Import"
Is there bulk proxy import, either by way of magic snippets as in the below thread from proxyswitchy sharp or by a normal bulk import feature?  I don't know if I should upgrade to the new one or not as I use the bulk import feature a lot.

https://code.google.com/p/switchysharp/issues/detail?id=887

Thanks!

[2015-01-27 04:10] sukinga opened #236 "如何填写sock5的代理密码呢？"
没找到对应填密码的地方。。
特意注册一个git的账号来问问题。。

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-01-27 04:22] VictorSnow commented on #102
一个人弄太累了，大家要加入啊  不要老是提需求什么的

[2015-01-27 08:27] w3324776 commented on #228
选自动切换代理，有的页面是有用代理的，有的没有，就是想通过图标显示能明确看出来，我现在用的是360浏览器，选自动切换代理，图标都是 灰圈里面是填充绿色，每个页面都一样

[2015-01-27 08:30] FelisCatus commented on #228
旧版的 360 浏览器不在支持范围内。如果需要使用此功能，请下载测试版 360 浏览器。

[2015-01-27 08:31] FelisCatus commented on #236
由于 Chrome 浏览器限制， SOCKS5 代理不能设置用户名密码。关于这一点请到 Chromium 项目反馈。

[2015-01-27 08:31] #236 closed

[2015-01-27 08:32] FelisCatus commented on #234
PAC 文件需要新建 PAC 类型情景模式。新建后，可以将 PAC 内容粘贴进去。

[2015-01-27 08:32] #234 closed

[2015-01-27 08:34] FelisCatus commented on #231
这里是 SwitchyOmega 项目，并非 shadowsocks 项目。具体的代理配置我确实不懂。毕竟 SwitchyOmega 只是用来更改浏览器设置的一个小小的环节而已……

[2015-01-27 08:34] #231 closed

[2015-01-27 08:34] FelisCatus commented on #232
见 #107.

[2015-01-27 08:34] #232 closed

[2015-01-27 08:35] FelisCatus commented on #107
最近上传的那个 1/4 圆环的图标方案如何？大家给点反馈啊……

这下我也不知道该怎么做好了……

[2015-01-27 09:06] FelisCatus commented on #235
I'm going to provide the following magic snippet as a temporary solution.

[code]

As usual, to run this snippet, please press F12 on the options page. Then select the "Console" tab and paste the above snippet there. After you press enter, a little prompt window will popup. Please enter all your proxies there seperated by semi-colon (like 127.0.0.1:1234;127.0.0.1:5678 and so on). You may want to c

[2015-01-27 09:15] lygstate commented on #234
谢了，可用

[2015-01-27 09:18] FelisCatus commented on #235
Another way to do that would be importing a crafted backup file, as suggested by henderpa in the linked issue of the old version.

The backup file is in JSON format, and it won't be too hard to edit using text editors, provided you have [beautified the JSON](http://jsbeautifier.org/).

Of course, JSON files are better to be edited and generated using programming languages. For example, the fragmen

[2015-01-27 09:26] FelisCatus commented on #233
请先检查全局代理模式下是否能正常访问。如果不能，请检查代理服务器工作情况。

如果希望针对某地区网络现状来设置自动切换模式，只对某些特定网站使用代理，请参考 GFW List 相关使用说明，如GoAgent提供的教程。如果不知道该如何设置，可以[导入这个备份文件](https://switchysharp.googlecode.com/files/X_GFWList.bak)作为起点。（注意导入后需要重新设置代理服务器）

[2015-01-27 09:26] #233 closed

[2015-01-27 10:26] phyng commented on #107
1/4不错，中间放什么呢

[2015-01-27 12:48] kuerck opened #237 "自动切换模式根本就不行啊"
SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.91 Safari/537.36

[2015-01-27 12:58] vvami3 opened #238 "快捷键"
SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.117 Safari/537.36
我觉得有个快捷键切换代理选项会更加好用

[2015-01-27 13:13] learningendless commented on #237
我感觉翻墙很顺利哈，比以前爽多多了

2015-01-27 20:48 GMT+08:00 kuerck <notifications@github.com>:

[2015-01-27 14:16] w3324776 commented on #228
现在用的就是最新的7.3测试版的

[2015-01-27 14:17] w3324776 commented on #228
以前 proxy switchysharpe 那个就会，选自动代理的时候，没有代理的时候是灰色的，有代理就蓝色的

[2015-01-27 14:30] Ryuakuma opened #239 "Proxy Not connecting"
The proxies I use aren't working. They work for some websites, but on others it doesn't load and says it can't connect to the Proxy Server...

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.65 Safari/537.36

[2015-01-27 14:51] qq50666 commented on #107
1/4圆环？个人感觉反而还不如之前的好看易懂了……青菜萝卜各有所爱啊

在 2015年1月27日 下午4:35，FelisCatus <notifications@github.com>写道：

[2015-01-27 14:53] learningendless commented on #107
图标倒是小细节，现在遇到购买力邮箱里显示不出来“归档” “列为垃圾邮件”等按钮图标了，这是为什么啊

在 2015年1月27日 下午10:51，石头 <notifications@github.com>写道：

[2015-01-27 16:32] gaocuo opened #240 "记录 Proxy 密码的问题"
Chrome 有个很讨厌的问题，就是无法记录 Proxy 的用户名密码，很多运营级的 Proxy 都会加上用户名密码，因此，每次弹出输入用户名密码的窗口还没法记录输入过的内容就很麻烦了。

原本我使用的是 https://chrome.google.com/webstore/detail/proxy-auto-auth/ggmdpepbjljkkkdaklfihhngmmgmpggp  这个插件来帮助存储密码自动输入的，在没有使用 Switchy 之前，它可以正常工作，但是使用了 switchy 以后，还是会出现输入密码的框，虽然可以点击取消让 proxy-auto-auth 继续工作，但是感觉还是不流畅。如果 Switchy 可以加入proxy-auto-auth就很完美了。

SwitchyOmega 2.3.0
Mozilla/5.0 (Macintosh; Intel Mac OS

[2015-01-27 17:23] gaocuo commented on #190
我觉得能对所有的 Proxy auth 返回一个固定的用户名密码已经足够应付99%的状况了，毕竟在现实中，一个 PAC 返回的多个 Proxy server list 里面，对于每台不同的 Proxy Server需要不同的用户名密码的情况几乎没有。

[2015-01-28 04:02] JoeKyuSung opened #241 "porxy"
SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-01-28 05:40] xwj1003 opened #242 "能不能提供一个简洁的界面?"
我的切换规则是在是太多, 但是你们的界面是一行一条规则,就导致有页面显示过大.我希望改成用textarea来存储规则.一行里的"条件设置"可以存储多个条件.可以用分号或者一行一条
比如:
域名通配符  *.x1.com;*.x2.com;*.x3.com;
域名通配符  *.x4.com
                    *.x5.com
                    *.x6.com;

[2015-01-28 06:43] FelisCatus commented on #228
之前在 Twitter 上另一位用户说用 360 极速浏览器版本 8 就可以，其他版本好像不行。

[2015-01-28 06:45] FelisCatus commented on #240
这个功能已经做了，在输入代理地址和端口的右侧有一个小锁图标的按钮。

[2015-01-28 06:45] #240 closed

[2015-01-28 06:45] #241 closed

[2015-01-28 06:46] FelisCatus commented on #242
见 #80.

[2015-01-28 06:46] #242 closed

[2015-01-28 07:04] FelisCatus commented on #107
@phyng 中间就那么空着吧，感觉还是单层圆环好看。本来图标就那么挤……之前那种设计难做啊

@qq50666 感觉换一次图标的代价是比较大……之前好不容易建立的识别习惯，就那么突然改变了，总会有人有意见。不过目前的情况，换回 Sharp 的图标是没有可能了。我计划把现在使用的图标和这次讨论中新设计的图标作为两种方案，可供选择。老用户默认不变，但可以去设置里手动改。至于新用户要不要默认用新方案，就看大家的反响如何了。

说起来 @subgb 呢？有机会的话也来发表下见解如何？

P.S.
@learningendless 虽然和这里的主题无关，不过我还是要说，这个问题最好在查看请求的URL以后，去 GFW List 那边反馈。

[2015-01-28 07:05] FelisCatus commented on #238
按快捷键 Shift+Alt+O 可弹出菜单，然后在菜单里按下问号就能查看每个情景模式的热键了。当然，如果嫌按两次还不够快，也可以去设置里开启快速切换，这样只要按 Shift+Alt+O 就足够了。

[2015-01-28 07:05] #238 closed

[2015-01-28 07:08] FelisCatus commented on #237
请注意自动切换模式需要经过一定的设置才可以使用。

如果希望针对某地区网络现状来设置自动切换模式，只对某些特定网站使用代理，请参考 GFW List 相关使用说明，如GoAgent提供的教程。如果不知道该如何设置，可以[导入这个备份文件](https://switchysharp.googlecode.com/files/X_GFWList.bak)作为起点。（注意导入后需要重新设置代理服务器）

[2015-01-28 07:08] #237 closed

[2015-01-28 07:16] FelisCatus commented on #239
1. Please upload a screenshot of your Proxy Profile settings. You may mask the server address or change some of the digits to protect your privacy.
2. Please give an example of a working website, and a failing website. Specify full URLs please.
3. If you are using Switch Profile, please provide a screenshot of that as well.

I would also like to kindly remind you that this is an Issue Tracker, whi

[2015-01-28 07:41] FelisCatus commented on #190
I'm going to add support for this, with the following logic applied:

* You can only provide one pair of username and password per PAC profile, and
* That pair of username/password is used regardless of the PAC result, whenever there's a challenge from any proxy server.
  * (!) This could lead to username/password being sent to an unexpected and untrusted proxy server, which is provided by the PAC

[2015-01-28 08:18] xwj1003 commented on #80
这个功能希望早点提供.只是对分隔符做个替换即可.应该不难.

[2015-01-28 12:17] dhergert commented on #190
Yes! I think it will help the people in corporate environments.  It's not
like I'm using a wpad, which could reference a proxy I'm not familiar with
... I've explicitly entered the pac file directly so should trust my
credentials being sent to any proxy that it may reference.

Very cool!

On Wednesday, January 28, 2015, FelisCatus <notifications@github.com> wrote:

--
-Dave

[2015-01-28 13:07] ynyounuo commented on #240
PAC Mode 如果能行的话，麻烦也添加小锁吧

[2015-01-28 14:27] junxy opened #243 "建议选项中 “默认情景模式” 新增一个“系统代理”的选项"
`直接连接` 会导致系统设置的 PAC 失效

BTW: UX 设计好赞！

[2015-01-29 02:26] harrykobe opened #244 "我居然是沙发吗？"
SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-01-29 05:25] SlimFancy opened #245 "“直接连接”和“系统代理”两个选项经常显示不出来"
“直接连接”和“系统代理”两个选项经常显示不出来。如下图所示
![2015-01-29 1 21 51](https://cloud.githubusercontent.com/assets/4530475/5952838/61c0820e-a7ba-11e4-8759-c20095e86201.png)

SwitchyOmega 2.3.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36
[code]

[2015-01-29 06:41] howareyouo commented on #107
还是比较喜欢原来的界面, 简洁大方, 现在的UI看起来高大上其实功能也没多大差别呀,
新用户一看都吓跑了...

[2015-01-29 09:06] zhaozhi406 opened #246 "感觉没有switchysharp好用啊，为啥没匹配的规则不能直接连接呢"
SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36
[code]

[2015-01-29 10:58] FelisCatus commented on #190
@dhergert Cool then. I'll start working on it.

[2015-01-29 10:59] FelisCatus commented on #240
@ynyounuo 相关讨论见 #190 ，我已经在努力做了。

[2015-01-29 11:00] FelisCatus commented on #243
可以新建一个情景模式，把系统的 PAC 设置复制进来。技术上做不到在自动切换中直接读取系统代理。

[2015-01-29 11:00] #243 closed

[2015-01-29 11:00] #244 closed

[2015-01-29 11:02] FelisCatus commented on #246
把默认规则设置成直接连接就行了吧……

[2015-01-29 11:02] #246 closed

[2015-01-29 11:04] FelisCatus commented on #245
Mac OS X 下 Chrome 弹出窗口显示不正常的情况，是已知的 Chrome 浏览器故障，与本项目无关。建议到 Chrome 那边反馈。

[2015-01-29 11:04] #245 closed

[2015-01-29 11:11] FelisCatus commented on #80
@xwj1003 我也希望早点提供啊，但我自己必须去花精力去开发啊……我倒是也想自己不用太花精力，有志愿者帮忙写好然后 pull request ，我只要负责 merge 就可以了，多好。但这个项目并没有那么多关注吧……并没有太多人愿意贡献代码。

[2015-01-29 14:52] neunundneunzig opened #247 "自动切换对某些内容无法加载"
上http://exhentai.org/或者http://g.e-hentai.org/这样的网站，自动切换就无法加载预览图
但如果直接手动切换到goagent，预览图就可以加载

[2015-01-29 16:09] gloryming opened #248 "I can't download profile for autoswitch mode when I use goagent mode plz fix it"
SwitchyOmega 2.2.14
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-30 03:46] junxy commented on #243
Oh. Yeah :+1:

[2015-01-30 11:05] FelisCatus commented on #247
GFW List 相关问题请到 GFW List 项目反映，谢谢。

[2015-01-30 11:05] #247 closed

[2015-01-30 11:08] FelisCatus commented on #248
This should be a network issue or problem with GoAgent. You can try to apply the GoAgent profile and visit the URL to the rule list directly in your browser. Make sure that succeeds before you blame SwitchyOmega.

[2015-01-30 11:08] #248 closed

[2015-01-30 11:15] FelisCatus commented on #175
卡的问题目前还在优化。不过“有时打不开”是什么情况？请具体说说。

[2015-01-30 12:18] #41 closed

[2015-01-30 13:48] zhangyubaka commented on #175
使用的是Goagent,打开Google会出现时间过长打不开,或者直接白屏,需要刷新才可以

[2015-01-30 13:50] #190 closed

[2015-01-30 13:58] FelisCatus commented on #175
看来是 GoAgent 的问题，请到那边项目反馈。

至于卡顿问题，目前还在分析中，可以参考 #162 相关的说明。

[2015-01-30 13:58] #175 closed

[2015-01-30 14:07] FelisCatus commented on #229
This should be fixed as of v2.3.1.

[2015-01-30 14:08] FelisCatus commented on #190
Credentials for PAC scripts is supported as of v2.3.1, with proper security warnings shown on usage. Check out the new padlock button besides the "PAC Script" section.

v2.3.1 已经支持 PAC 脚本的用户名密码。使用时，会显示相关安全警告信息。设置的位置在"PAC脚本"一节右侧，新增小锁图标按钮。

[2015-01-30 14:08] FelisCatus commented on #41
v2.3.1 已经支持高DPI屏幕。

High resolution icons are provided for high-DPI screens as of v2.3.1.

[2015-01-30 17:08] hexchain commented on #229
Confirmed, thanks.

[2015-01-31 01:02] kingdom017 opened #249 "“直接连接”选项消失"
有时候点开的时候最上方的“直接连接”选项会消失
![79c4447b-37c4-4701-8955-1172bbea775c](https://cloud.githubusercontent.com/assets/7686144/5986046/d7932306-a927-11e4-9f83-c40d6cf25419.png)

SwitchyOmega 2.3.1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.94 Safari/537.36

[2015-01-31 09:09] hheedat opened #250 "自动切换的时候不能看出一个URL是否走了代理"
旧版在自动切换的时候，走代理和不走代理的图标是不一样的
走的时候会亮成蓝色，不走的时候则是灰色
现在自动切换模式下，走和不走代理，显示的都是绿色，有时候会照成一些不方便，希望能做些区别

SwitchyOmega 2.3.1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-01-31 11:53] FelisCatus commented on #250
图标应该已经做了显示，请看外圈颜色。

[2015-01-31 11:53] #250 closed

[2015-01-31 11:53] FelisCatus commented on #249
Mac OS X 下 Chrome 弹出窗口显示不正常的情况，是已知的 Chrome 浏览器故障，与本项目无关。建议到 Chrome 那边反馈。

[2015-01-31 11:53] #249 closed

[2015-01-31 14:07] potato-zyg opened #251 "使用代理与不使用代理时，图表的区别太不明显"
例如我访问微博的时候是不使用代理的，而我访问facebook时，经过代理，但是在这两种模式下图表的区别太不明显，希望能够更改，谢谢

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-01-31 15:10] liuan opened #252 "点击button后界面"
点击插件图标出现的选择列表，可以最大化的自定义不？ 最好就可以只留下直接连接和GoAgent两个选项，选项，反馈什么的，都可以自定义删除，这些一般都用不着。
多谢了。

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36

[2015-02-01 04:31] FelisCatus commented on #252
请用快速切换功能，谢谢。

[2015-02-01 04:31] #252 closed

[2015-02-01 04:31] FelisCatus commented on #251
见 #107.

[2015-02-01 04:31] #251 closed

[2015-02-01 07:10] SwitchyOmega-dnsbug opened #253 "SwitchyOmega-dns远程解析bug，翻墙网址会向本地dns提交dns解析，本地dns会返回错误的ip，从而会记录谁几时登陆了某网址！"
SwitchyOmega-dns远程解析bug，翻墙网址会向本地dns提交dns解析，本地dns会返回错误的ip，从而会记录谁几时登陆了某网址！
试验环境，
1，A机器xp，原版，
2，安装有wireshark，截获dns数据
3，本地设置114.114.114.114dns
4，chrome浏览器，安装SwitchyOmega，设置127.0.0.1:65500的socks5代理
5，shadowsocks代理。
截获步骤：
一、
1，无论设置SwitchyOmega自动代理，gfwed，登陆youtube.com，youtube可以打开，说明选择了正确的远程dns解析ip
2，wireshark，抓取数据包。
3，wireshark，分析中包含，有114返回的错误ip
![123](https://cloud.githubusercontent.com/assets/10794158/

[2015-02-01 08:58] FelisCatus commented on #253
应该是 Chrome 浏览器问题，和本项目无关。

关于这个问题，我写了[一点相关的信息](https://github.com/FelisCatus/SwitchyOmega/wiki/DNS-and-SOCKS-proxy)，供各位参考。

[2015-02-01 08:58] #253 closed

[2015-02-01 09:00] FelisCatus commented on #222
I [documented about this in the project wiki](https://github.com/FelisCatus/SwitchyOmega/wiki/DNS-and-SOCKS-proxy), with steps to avoid DNS request leaking. Please refer to that page if you are interested in this topic.

[2015-02-01 09:16] hu6360567 opened #254 "流量偷跑"
1. 貌似还是会有流量偷跑，比如通过http://tv.sohu.com/sports/cbalive/ 看CBA直播的时候，会有流量没有从代理出去
2. 另外能否通过DNS本地解析？如果解析IPV6地址，则不走代理；如果是IPV4地址，则走代理

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-02-01 09:21] FelisCatus commented on #224
我想了下，果然这个是需要计算每个情景模式中可以添加哪些情景模式的（避免死循环和无法添加的情景）。如果在弹出菜单计算就太慢，而事先计算好会加重切换负担，传输的信息量也会很大。

[2015-02-01 09:24] FelisCatus commented on #254
1. Flash 插件会有不遵从浏览器代理设置的问题。这是已知的Chrome和Flash的问题，与本项目无关。
2. 本项目只是设置软件，不进行网络相关的操作。应该也做不到进行 DNS 请求。

[2015-02-01 09:24] #254 closed

[2015-02-01 09:25] FelisCatus commented on #254
P.S. 可以在代理情景模式的“不代理的地址列表”中添加`::/0`一行来是所有 IPv6 地址不经过此代理。

[2015-02-01 09:28] hu6360567 commented on #254
但是对通过域名访问的网页，仍然无法使用该规则

[2015-02-01 09:35] FelisCatus commented on #254
@hu6360567 那我也没办法了，毕竟是靠 Chromium 提供的 API 来做这个事情……

[2015-02-01 12:50] xinhugo commented on #224
不能给用户预设吗？这样就不用计算啦。

[2015-02-01 14:15] cikenerd opened #255 "进无法找到该页的网站无法为该网站选择代理规则浏览"
比如我打开twitter.com，如果不翻墙的话会显示无法找到该页。这个时候我希望为这个网站添加规则那我就必须切换到能用的代理把这个网站打开然后再为这个网站添加规则。

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.122 Safari/537.36

[2015-02-01 14:27] FelisCatus commented on #255
我这里是可以在"This webpage is not available"之类的错误页面上使用弹出菜单添加的。如果你那边确实不能，请在页面加载错误时，点开弹出菜单并截图。另外，以防万一，请告知所使用的浏览器。

[2015-02-01 14:28] FelisCatus commented on #224
@xinhugo 那还不如预先计算呢……添加一个选项，比计算要折腾多了……

[2015-02-01 14:31] xinhugo commented on #224
你看着办就好啦。

[2015-02-02 01:26] simonsww opened #256 "你好，是否可以增加当前页面是否正在使用代理的提示？"
你好，总体使用体验不错，不过目前缺少一个当前页面是否正在使用代理的，还是使用直连的提示，可以将插件图标进行变化，换一种图标。比如google商店里的红杏插件，如果在使用插件中，会图标会变绿色，未使用插件会变灰色。

因为有这样的应用场景：我只需要对某些域名进行代理，但有时候，我设置了规则，但不知道是否已经生效了或者我浏览页面的时候，需要知道当前页面是否使用的代理通道。

希望你能明白我的意思。

SwitchyOmega 2.3.0
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-02-02 01:32] simonsww commented on #6
建议只需要对域名无法访问进行快速加入规则，这个可以参考下红杏插件

[2015-02-02 02:34] simonsww opened #257 "你好，是否为bug？"
我使用了自动切换情景，使用shadowsocks，sock5代理。

勾选了GFW规则，打开百度首页，但是抓包发现对于GFW未匹配到的域名，竟然也是走代理通道，为什么不是走直接连接？
比如请求里有一个URL，http://s1.bdstatic.com/r/www/cache/static/jquery/jquery-1.10.2.min_f2fb5194.js
对于未知的域名连接，插件应该是直接连接，这样才能提供更好的连接速度吧，只需要对需要代理的请求进行代理即可。

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-02-02 03:03] dingyaguang117 commented on #6
红杏做的真不错 +1

[2015-02-02 03:31] FelisCatus commented on #257
这两个问题应该都是和自动切换的设置有关，请移步 #256 讨论。

[2015-02-02 03:31] #257 closed

[2015-02-02 03:31] FelisCatus commented on #256
您好，请确认是否正在使用自动切换模式，而不是全局代理模式。如果扩展正常工作，自动切换模式下图标会根据当前页面变化。

如果自动切换无法正常工作，请告知您的设置（截图或导出备份文件）。

[2015-02-02 05:14] simonsww commented on #256
可以了，我使用最新版，换了个ss客户端就正常了。

[2015-02-02 05:19] #256 closed

[2015-02-02 05:43] cikenerd commented on #255
感谢回复，刚刚试了以下windows下面google-chrome是能够添加的，但是linux（linuxmint，google-chrome）下也是不能添加的。之前用的是360极速浏览器。

[2015-02-02 09:15] doque opened #258 "Local proxy attempting to download webpages as files instead of displaying them"
##### What's the problem? (e.g. The expected output and the actual output.)

When using a proxy that's running on localhost (127.0.0.1:8080), webpages that apply to an Auto Switch Mode Rule will not be rendered, but instead there is an attempt to download them. The file being downloaded is useless (only contains "0505 00" - see attached sample).

##### What steps will reproduce the problem?
1. Cre

[2015-02-02 09:16] doque commented on #258
Attached file that the download creates (not really a png)

![download](https://cloud.githubusercontent.com/assets/1480751/5998143/854ba7b4-aac4-11e4-9265-445fb6f573e5.png)

[2015-02-02 13:51] FelisCatus commented on #255
我这里 Linux + Chromium 40~42 均测试正常。如果你的电脑上不能用，请给出详细的浏览器版本号。以及，考虑到 Chrome 的网络诊断服务可能影响结果，请给出错误页面的截图。

此外，360极速浏览器不在支持范围内。如果能用就能用，不能用我也没办法。

[2015-02-02 14:18] FelisCatus commented on #258
Thanks for letting me know some information about the proxy. Based on your description, it seems unlikely that the proxy server is malfunctioning. (SOCKS proxies do not modify HTTP headers and therefore can't trigger the file download in that way.)

I spent a lot of time searching in the chromium issue tracker the past few hours and have no luck finding relevant information.

With that being said,

[2015-02-02 14:20] doque commented on #258
After further research, I found that the proxy type setting wasn't set to SOCKS but to HTTP. Changing this resolved the issue completely. Sorry for the trouble.

[2015-02-02 14:20] #258 closed

[2015-02-02 14:24] FelisCatus commented on #258
@doque I'm glad that it is working for you at last. And thanks for letting me know what would happen if a SOCKS server is mis-configured as HTTP. Well, I think I could be more helpful if someone else experiences similar issues ;)

[2015-02-03 04:20] Mark-Shine opened #259 "能否考虑添加切换代理的快捷键"
在使用中，经常需要用到切换代理。

SwitchyOmega 2.3.1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.94 Safari/537.36

[2015-02-03 05:03] FelisCatus commented on #259
见 #238。快捷键都已经支持那么久了，还是有人在问吗……

也许是时候做一个快捷键提示了。

[2015-02-03 05:03] #259 closed

[2015-02-03 05:40] Twilight opened #260 "about settings backup/restore"
what does the revision field mean? I'm writing my own config generation script.

anyway, simply using "revision": "0" does work, I'm just wondering

[2015-02-03 06:01] FelisCatus commented on #260
The revision field is [a timestamp-based hexadecimal number](https://github.com/FelisCatus/SwitchyOmega/blob/master/omega-pac/src/utils.coffee#L2-L4) representing the last modification time to a given profile. This is used to select the newer version in case of conflict (e.g. between the local and synced copy.)

You can get the revision based on the current datetime using `new Date().getTime().toS

[2015-02-03 06:01] #260 closed

[2015-02-03 07:57] learningendless commented on #240
这个项目跟后来的GreatAgent是什么关系啊？GreatAgent不是GoAgent的后续版本吗？现在出来个SwitchyOmega，这都是什么关系啊

2015-01-29 18:59 GMT+08:00 FelisCatus <notifications@github.com>:

[2015-02-03 08:25] FelisCatus commented on #240
@learningendless: 本项目和 GoAgent 等项目无关。SwitchyOmega 是设置软件，不是代理软件或翻墙软件。

@ynyounuo 提醒一下， PAC 的用户名密码已经能设置了。如果你之前已经看到了就无视我吧。

[2015-02-03 08:34] cikenerd commented on #255
版本 40.0.2214.94 (64-bit)
![](http://www.tu265.com/di-ae292b8369d95c03fbb21169154d60d6.png)

[2015-02-03 09:51] Twilight commented on #260
thanks for your clearification

[2015-02-03 10:11] cpiment opened #261 "Proxy Java Applet requests"
Hi,

I have detected that requests made from a Java Applet are not proxified using the Auto Switch option. Is there any way to override that behaviour?

Thanks for the terrific extension!

Regards,
Carlos

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.94 Safari/537.36

[2015-02-03 10:13] windias opened #262 "能否用ip表直接区分国内外流量以使用不同代理方案？"
中国大陆网络状况复杂，gfwlist根本不可能完全覆盖所有受影响的站点，粗放规则更有效一点。

也希望能在ip表和gfwlist这样的scheme之间方便切换。

[2015-02-03 10:31] #262 closed

[2015-02-03 11:02] FelisCatus commented on #255
你好，在“系统代理”情景模式下，无法添加规则。请使用自动切换规则后再试。

[2015-02-03 11:02] #255 closed

[2015-02-03 11:05] FelisCatus commented on #261
I don't think Java Applets use Chrome network internals. Therefore they follow system (environment) proxy settings. This, of course, cannot be controlled in Chrome, and thus is not affected by extension-provided settings.

You may want to set the system proxy to a PAC file functionally identical to the Auto Switch mode. Such a PAC file can be exported using the "Export PAC" button on the Auto Swit

[2015-02-03 11:05] #261 closed

[2015-02-03 14:08] testlxf opened #263 "导入goagent配置卡死"
导入goagent配置卡死。不知是什么原因。以前是可以的。

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-02-04 04:19] FelisCatus commented on #263
最近配置导入的代码有变动过，可能是bug。这类情况比较难调试，不过建议在导入卡死后，打开弹出菜单并选择“错误日志”功能，应该可以获取到一个日志文件，然后把日志文件上传到 https://gist.github.com

[2015-02-04 04:54] liuan commented on #252
多谢～ 这个功能真是太酷了～

[2015-02-04 09:42] in-out commented on #197
it works for me
var p1= "PROXY 127.0.0.1:8087;"
var p2 = "SOCKS5 127.0.0.1:1080; SOCKS 127.0.0.1:1080;";

function FindProxyForURL(url, host) {
    if (shExpMatch(myIpAddress(), "192.*")){
        return p1;
    }
    else{
        return p2;
    }
}

[2015-02-04 11:37] FelisCatus commented on #197
@in-out Yes, it definitely works in PAC scripts. The main focus of this issue is to achieve the same thing in Chrome Extensions to keep the user interface consistent. The situation of `myIPAddress()` failing is an edge case in my option, but I just added that here for the record.

[2015-02-05 06:08] yinxufeng opened #264 "chrome自带的翻译工具无法使用代理"
无论选择哪种情景模式，貌似翻译功能不走代理。将shadowsocks-csharp设置为系统全局代理，SO切换到“系统代理”模式，则可以正常翻译了

[2015-02-05 08:25] FelisCatus commented on #264
之前有遇到过这类问题。我的建议打开 chrome://net-internals/#events 这个页面。保持那个页面开启，再用一下翻译功能，就知道请求了哪些URL。如果能找到 URL 的话就当然也可以添加到自动切换之类的。如果找不到，说明翻译功能不经过这套内部实现，如果是那样估计就没办法了。

[2015-02-05 09:45] yinxufeng commented on #264
在不设代理的情况，看到了一些跟translate有关的url，但是这方面信息我看不太懂，我上图帮忙看下，是否有办法
![image](https://cloud.githubusercontent.com/assets/1935092/6058060/aaf20412-ad5e-11e4-871e-949014a5f571.png)

[2015-02-05 10:44] yinxufeng commented on #264
我用熟悉的Filddler试过了，SO切换到我自己的ss代理，这时候google，youtube都能正常打开，这时候点翻译，发现Fildder抓到了一些chrome进程的包。按道理如果走ss代理，Fiddler是不应该再抓到包的，但是有translate相关的url。这是否能说明chrome自带的翻译功能是不走SO的呢？如果这样是不是就没办法了？
![image](https://cloud.githubusercontent.com/assets/1935092/6058906/e09d6bf8-ad66-11e4-9158-1fdf66205ea2.png)

[2015-02-05 11:24] simonsww commented on #264
我用的360极速浏览器，可以直接走SS通道翻译网页。

[2015-02-06 02:08] FelisCatus commented on #264
@yinxufeng 请给出 `chrome://net-internals/#proxy` 页面显示的代理设置。复制粘贴过来就可以。

[2015-02-06 02:23] yinxufeng commented on #264
这是使用ss代理的设置
Proxy server for everything else: socks5://127.0.0.1:1080
Bypass list:
  <local>

[2015-02-06 02:24] yinxufeng commented on #264
不知道跟chrome版本是否有关， 40.0.2214.94 m (64-bit)，我找个32位的试试

[2015-02-06 02:44] yinxufeng commented on #264
32位的也试过了，还是一样，必须要设置系统全局代理才能翻译
Effective proxy settings

Proxy server for everything else: socks5://127.0.0.1:1080
Bypass list:
  <local>

[2015-02-06 03:04] yinxufeng commented on #264
@simonsww我试了360极速浏览器最新版，也是需要我shadowsocks-csharp设置为全局系统代理，才能正常用谷歌翻译的。不知道你怎么设置的呢？

[2015-02-06 07:33] jaytin opened #265 "选自动切换模式，使用代理和没使用代理，颜色不会变化"
SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-02-06 07:34] jaytin commented on #265
然后各个代理的颜色不知道哪里改

[2015-02-06 08:21] in-out commented on #265
点profile左边的颜色那里就能调出调色盘

[2015-02-06 12:05] #265 closed

[2015-02-06 12:08] FelisCatus commented on #264
代理设置显然是对的，也就是说这已经是 SwitchyOmega 能做到的极限了吧。
如果真的是有些浏览器（或版本）走的网络请求流程，而另一些不走，那倒是挺令人吃惊的……

所以我先关闭这个 issue 了，但大家仍然可以继续讨论的。评论功能仍然可用。

[2015-02-06 12:08] #264 closed

[2015-02-06 13:11] FelisCatus commented on #71
Proposed rule list format: https://github.com/FelisCatus/SwitchyOmega/wiki/SwitchyOmega-conditions-format

The new format is NOT backwards compatible with ProxySwitchy & SwitchySharp, but both the old and new format will continue to be supported in SwitchyOmega.

@netroby How do you feel about the new format? Is there anything that can be improved?

[2015-02-06 13:12] FelisCatus commented on #80
暂定的纯文本编辑格式： https://github.com/FelisCatus/SwitchyOmega/wiki/SwitchyOmega-conditions-format#result-profile

格式是从规则列表的基础上演变而来，有考虑过文本编辑器的替换等功能。如果有什么建议请提出。

[2015-02-06 13:29] xinhugo commented on #80
没有建议喔。

[2015-02-07 05:09] xwj1003 commented on #80
*.example.com

; This is a UrlWildcardCondition.
:UrlWildcardCondition https://*.google.com/*

; This is a UrlRegexCondition. Most types of conditions can be represented with :ConditionType pattern
:UrlRegexCondition ^https://www\.example\.(net|org)/

; Conditions can be prefixed with ! to make it exclusive. Any requests matching an exclusive condition will
; use the "default profile" instead of "

[2015-02-07 06:02] FelisCatus commented on #80
@xwj1003 嗯，等我弄一个缩写列表出来……

[2015-02-07 10:09] mczoden opened #266 "在切换情景模式时，当前网页会自动刷新"
在切换情景模式时，当前网页会自动刷新

假设SwichyOmega工作在某一非auto switch模式下，
这时，用户配置了一条新的auto switch规则，并需要切换到auto switch，
所在网页会自动刷新一次，
这可能导致一些会话中断并重连，这是用户所不期望的。
SwitchSharp不会出现自动刷新的状况。

BTW，非常感谢开发者的奉献精神。

SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-07 10:18] FelisCatus commented on #266
这都是可以设置的。你看看用户界面选项那里的“当更改情景模式时刷新当前标签”有没有勾选。如果有的话就取消选中吧。

[2015-02-07 10:18] #266 closed

[2015-02-07 14:56] mczoden commented on #266
问题已解决，非常感谢！

[2015-02-08 14:36] FelisCatus commented on #80
@xwj1003 缩写就是[这些了](https://github.com/FelisCatus/SwitchyOmega/wiki/SwitchyOmega-conditions-format#abbreviations)，大部分缩写都考虑了，包括首字母缩写和其他的东西。

[2015-02-08 14:38] #71 closed

[2015-02-08 15:12] GOGOGOPAL opened #267 "安装了之后，我的网络设定出现问题。chrome和IE无法下载了，但可以浏览网站。"
Windows 7 ultimate正版操作系统，
使用最新版Chrome和IE,
在安装了switchyomega之后，我留意到我IE connection之中多出了三个DIAL/VPN：QeeYou, QeeYou2, QeeYou3.
当时还是正常，我还可以下载东西，浏览网页也是无所谓，但是我重启电脑之后，无法连接我本身的wifi，我无奈之下只好把这三个拨号和VPN删除，然后还是无法连接WIFI，于是我便用连接线直接连接上网，上网了之后，我disable了switchyomega但没有删除，然后把这三个QeeYou，2，3分别删除。结果现在出现的状态就是我可以连接我本身的WIFI了，很奇怪我网页是能打开，但都无法下载东西了。
请求帮助！
谢谢！

[2015-02-08 15:38] iciness opened #268 "无法成为ubuntu chrome默认代理扩展"
如题

SwitchyOmega 2.3.1
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36
[code]

[2015-02-08 16:12] catric opened #269 "socks方式的用户名密码验证"
可以添加socks5方式的用户名密码验证支持吗，谢谢

[2015-02-09 01:44] lyonlion opened #270 "在自动切换模式下会被部分网站检测出使用了代理"
同一个HTTP代理服务器，如果直接用情景模式能正常突破该网站对于代理的检测

但是在自动切换模式下就会被检测出使用了代理

希望能改进一下这个

[2015-02-09 02:11] iciness commented on #268
清空chrome 重建data目录后正常

[2015-02-09 02:11] #268 closed

[2015-02-09 02:29] FelisCatus commented on #267
SwitchyOmega 并不含有任何本地代码，也不修改系统设置，更不会添加VPN……

您这种情况肯定是因为安装了别的软件。（按照名字来看，是“奇游网游加速器”？）所以当然，禁用或者删除 SwitchyOmega 也没用的，因为那根本就不相关。

[2015-02-09 02:29] #267 closed

[2015-02-09 02:31] GOGOGOPAL commented on #267
那是我搞错了，抱歉。麻烦你了。

[2015-02-09 02:54] FelisCatus commented on #269
参见 #178.

[2015-02-09 02:54] #269 closed

[2015-02-09 03:41] FelisCatus commented on #270
部分网站的服务器似乎会要求网页本身，以及某些网页资源来源于同一个 IP 。正如楼主所说，解决方式是对于这些资源全部使用同一个代理。

但从技术角度而言，如果要求扩展保证这一点，实际上就是要求扩展对于同一个标签页的所有资源使用相同的代理服务器。由于扩展的原理是生成 PAC 脚本，而 PAC 脚本中只能获取请求URL，而不含标签页信息，也不含 HTTP headers （比如可能有用的 Referer），从而无法实现此功能。

chrome.webRequest 可以获取很多关于网络请求的信息，也可以修改/重定向/取消网络请求，但却无法指定其使用的代理服务器。

所以我想这里的结论是，扩展不太可能完成这样的任务。一个可能的备用方案是，找出某个网站所有的资源请求（通过F12开发者工具，或者`chrome://net-internals/#events`，或者利用扩展），然后设置自动切换模式，让这

[2015-02-09 03:42] #270 closed

[2015-02-09 07:23] mayhuny commented on #218
1.卡顿主要表现在情景模式切换时，可能我的列表有点多。
2.切换规则是否可以增加网址分类，因为有的网站走流量比较多。
3.添加条件如果可以将新版与老版结合更好，例如，我要添加网址：www.google.com，新版本直接是将www.google.com
加入列表，老版本却是可以修改成*.google.*加入列表。
新版的列表间距、字体大小是否可以调整一下，考虑一下低分的笔记本，谢谢！

在 2015年1月22日 上午1:15，FelisCatus <notifications@github.com>写道：

[2015-02-09 08:34] FelisCatus commented on #218
1. 下个版本情景模式切换的速度将会有显著提高。代码已经写好了，预计今天或者明天就能发布新版。
2. 对于某个网页 *以及网页内的所有资源* 使用某个代理是[技术上难以达成的，具体见说明](https://github.com/FelisCatus/SwitchyOmega/issues/270#issuecomment-73453478)。
3. 添加条件是可以选择类型或者更改内容的。弹出菜单的默认规则是 *.google.com ，已经可以满足大部分需求。如果需要匹配任意位置，在弹出菜单或选项中选择网址通配符，然后就很容易修改了。
4. 列表间距和字体大小已经调整过很多次了，也针对不同的屏幕宽度优化过，但默认值不可能满足所有人要求。但所幸在页面上按 Ctrl+减号 缩小页面到适当比例即可，这会同时缩小间距和字号。代码不能控制页面的缩放，所以必须用户手动调节，我所能做到的只是确保在不同比

[2015-02-09 13:43] #80 closed

[2015-02-09 13:43] #211 closed

[2015-02-09 14:20] FelisCatus commented on #80
v2.3.2 添加了 [Omega 样式的规则列表](https://github.com/FelisCatus/SwitchyOmega/wiki/SwitchyOmega-conditions-format)。同时，自动切换模式增加了基于此规则列表的“编辑源代码”功能，开启后右侧显示的问号按钮可以打开格式说明。关闭源代码视图时或者保存时，会自动提示代码中存在的错误，且错误信息已经翻译。（保持编辑源代码功能开启后，下次再次打开同一情景模式，会直接进入源代码编辑界面，免除了加载规则编辑用户界面的开销，适合规则太多以至于感觉卡顿的用户。）

新的规则列表虽然[已经经过不少测试了](https://github.com/FelisCatus/SwitchyOmega/blob/master/omega-pac/test/rule_list.coffee)，并且处理了很多边界条件和特殊情况，但仍

[2015-02-09 14:20] FelisCatus commented on #71
v2.3.2 allows exporting rule lists in the [omega style rule list format](https://github.com/FelisCatus/SwitchyOmega/wiki/SwitchyOmega-conditions-format). Also, a single switch profile can be exported by switching to the "source code" view, and then copy & pasted to the source code view of another profile on another computer (provided the dependent profiles are also present on the destination optio

[2015-02-09 14:23] FelisCatus commented on #218
v2.3.2 已经发布。更新后，切换情景模式应该会比以前快很多。

[2015-02-09 14:23] FelisCatus commented on #99
注意 SwitchyOmega v2.3.2 以后，导出规则列表默认变为新式规则列表。若仍需向后兼容 Proxy Switchy!/SwitchyPlus/SwitchySharp ，请在选项的导入导出页面勾选“兼容格式”选项。勾选后，默认导出的为兼容格式。对于无法兼容的情景模式，发布规则列表按钮会显示为橙色，此时只能导出新式规则列表。

[2015-02-09 14:27] xinhugo commented on #80
好的，谢谢你的持续开发。

[2015-02-09 14:27] xinhugo commented on #99
谢谢，明白了。

[2015-02-09 14:40] FelisCatus commented on #80
@xinhugo 快去试试看吧，等着你的反馈呢～

[2015-02-09 15:38] xinhugo commented on #80
手工更新到最小版本，看到「编辑源代码」功能了。

[2015-02-09 17:30] Tback1 commented on #107
我觉得问题不在图标，图标本身很容易理解。反而是点击后的菜单。。。。真不太方便，很多切换设置还是得进去手工调整。

[2015-02-10 02:36] ChristineXYS opened #271 "自动升级到2.3.2，代理无法链接到服务器"
忽然发现无法链接到服务器。

SwitchyOmega 2.3.2
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-10 02:46] lygstate opened #272 "自动同步永远同步不上去"
切换成手动同步吧

[2015-02-10 03:15] FelisCatus commented on #271
1. 请检查代理服务器工作情况，并检查代理服务器设置是否存在问题。
1. 可以查看 `chrome://net-internals/#proxy` 页面内容，并将那边显示的内容复制到这里。

[2015-02-10 03:18] FelisCatus commented on #272
同步功能需要连接到谷歌服务器，在部分国家地区网络环境下，可能出现连接不稳定的情况，可以试着使用代理等。若连接正常时，设置更改后一般仅仅几秒钟即可同步到另一台设备，本来就不存在“自动”或“手动”一说。

[2015-02-10 03:19] FelisCatus commented on #107
@Tback1 可以另外开一个 issue 谈谈如何改进弹出菜单。

[2015-02-10 05:15] lygstate commented on #272
我使用代理了
根本同步不上去
先别急着关

[2015-02-10 05:16] lygstate commented on #272
每次同步都是把服务器上的配置下载下来覆盖本地的，本地的修改根本同步不上去

[2015-02-10 06:52] FelisCatus commented on #272
您的意思是说，两台设备的情况下，两边同时做了修改，但结果其中一个的覆盖了另一个吗？

[2015-02-10 11:25] Tback1 opened #273 "关于状态栏的快捷菜单请大家提出各自的意见和需求"
我现在是启用了wall和ss两种代理，让后设定了自动代理，另外开了一个虚情景做切换。

![image 2](https://cloud.githubusercontent.com/assets/8872546/6126244/79747218-b159-11e4-8cc9-b04316ac7a6f.png)

问题是，最开始我我如果用着自动切换做默认，让后某个代理暂时速度不理想了，我要在ss和wall之间切换的时候，这逻辑居然不是切换代理，而是去切换虚情景。反正我都不知道怎么去描述这个逻辑，虽然我用的挺舒坦，可是真有点不符合UI逻辑啊，明明是切换自动切换的代理，结果要去切换一下虚情景的设置。而且这个设置对以前的一个问题里的某个强制不走代理的问题没有解决。

总的来说，我还是觉得逻辑很混乱。虽然我自己已经习惯了。不过既然邮件列表在说这个问题，我觉得还是发出来大家讨论一下改进的办法，尤其是现

[2015-02-10 12:09] wzwcn opened #274 "建议"
能直接在下拉菜单中设置当前域名是否启用代理才方便，现在得自己一个一个增加规则太麻烦了

SwitchyOmega 2.3.2
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-02-10 12:12] FelisCatus commented on #273
行吧，多讨论一下是好事。尽管如此，我需要先说明，这个项目不是翻墙软件，只是代理设置软件。竞争目标也许一开始就不是 AutoProxy ，而是 FoxyProxy 等软件。讨论如何使得UI更易用、逻辑更简明是好事，但也要注意到翻墙最多只是一种可能的使用场景，不要所有事情都从翻墙出发，影响了其他使用场景就好。

[2015-02-10 13:16] FelisCatus commented on #274
下拉菜单里是可以设置的。有任何问题吗？

[2015-02-10 13:16] #274 closed

[2015-02-10 14:22] StrollStars opened #275 "升级后的问题和建议（按功能列表序）"
1.配置文件同步可否支持第三方空间？
2.网址协议匹配的是网址，代理协议匹配的是代理服务器提供的协议类型，这样理解对吧？那对于Tor这样提供多种协议的可有推荐设置？
3.自动切换的条件类型，显示帮助没有反应。
4.自动切换匹配规则时自上而下，规则列表可与自定义规则同时启用（以优先级顺序匹配），是这样吗？
5.同样的设置，手动切换能够登录谷歌帐户，自动切换速度慢且容易出错。
6.如果同时打开匹配不同规则连接不同代理的网页，是否会各自网页走各自的代理，还是都走后一个代理？
7.即使手动切换到代理，访问百度还是直接连接，可能匹配了GFWList规则，这是不是扩展处理上存在问题？
8.自动切换在匹配“||”开头的GFWList规则时是不是存在问题，在列表中却没应用相应代理？
PS：建议能够写份中文说明，放在网站或者扩展里。

[2015-02-11 02:43] lygstate commented on #272
我现在的情况是，目前同步了两个配置，添加的三个PAC配置的时候，总是同步不上去，被服务器上的配置覆盖了。
是不是PAC配置有同步问题？
不是被其它电脑覆盖了，我有两台电脑同步

[2015-02-11 03:01] FelisCatus commented on #272
请新建第三个 PAC 文件后，先等一会。如果被覆盖，请用弹出菜单中的错误日志功能导出一份日志并上传至 https://gist.github.com/ ，以供分析问题。在此过程中，请不要在另一台设备上操作。
如果 Chrome 浏览器开着的时候不会被覆盖，重启后才会被覆盖的话，请提供重启前后各一份日志，谢谢。
另外，我个人比较怀疑是撞到了存储频率或者容量限制……也可以试着在 SwitchyOmega 设置页面按 F12 打开开发者工具，选择Console控制台，并输入以下代码回车`chrome.storage.sync.getBytesInUse(console.log.bind(console))`即可显示使用了多少存储容量，请把结果数字告诉我。

[2015-02-11 03:15] FelisCatus commented on #275
3 => 已经确认是 bug 导致，非常抱歉，下一个小版本就会修掉。

1. 可能可以，但目前没有支持的计划。我还是觉得开发量太大了，而且既然扩展已经自己有同步机制了，再去费精力整合第三方的网络存储确实有些超出扩展应该做的范围了。而且支持了一家就会有人再提议另一家……到最后 80% 以上的代码都用来处理各种网盘的问题了，实在是……
2. Tor 推荐只使用 SOCKS5 代理，足够使用了。
3. 如上所述，待修复
4. 规则按照从上到下顺序，其中规则列表的优先级顺序如界面所显示，是在最后的默认规则之前，其他所有自动切换规则之后。规则列表内部的顺序由规则列表决定。
5. 如果正在使用 GFW List 请直接向 GFW List 项目反应。如果是手动设置的规则，请确定规则有效且包括页面中加载的其他资源。
6. 各自走各自的。
7. 不，直接切换到代理的话不会使用规则列表和自动切换。如果您实际

[2015-02-11 03:26] #275 closed

[2015-02-11 03:27] FelisCatus commented on #275
3 => 已经修复，等待下一次更新发布。（目标版本 v2.3.3 ，预计发布时间：24小时以内。）

[2015-02-11 04:57] zamen40 commented on #275
I dont know quite how to do much on git hub but anyways, would there be a way to auto setup profiles??
at gatherproxy.com, its down atm you can download aa .txt of proxies that go ip:port would there a be a possible way to make it so that it would make a profile for each one and check each one whether it worked or not and if i didnt, remove that profile?

[2015-02-11 05:03] lygstate commented on #272
我明白什么原因了，应该是同步的数据量太大了，我的PAC文件很大

[2015-02-11 05:04] lygstate commented on #272
https://gist.github.com/lygstate/1f59768085d5383e9e0e
你试试添加这个pac文件，看是否能同步

[2015-02-11 05:09] syswow opened #276 "Improve menu “Add Condition”"
现在， 打开一个网站 比如  www .example.com ； 添加的条件是 *.www.example.com 。
可否改进为 *.example.com

[2015-02-11 05:34] FelisCatus commented on #276
之前想过，不过后来觉得有点坑……关键在于基础域名是什么概念的问题。

* www.example.com => `*.example.com` 段数3，基础段数2（1段顶级域名），没有问题
* www.google.co.uk => `*.google.co.uk` 段数4，基础段数3（2段顶级域名）
* google.co.uk => `*.google.co.uk` 段数3，基础段数3（2段顶级域名）
  * 这两种情况，如果不特殊处理 .co.uk ，可能会错误地生成 `*.co.uk` 这种匹配规则，这显然没有意义。

那么问题就来了，如何处理 .co.uk 之类的呢？要在代码里维护一个列表？而且现在新的顶级域名也出了很多，列表很难及时更新。

另外当然我也在想，去掉子域名后的网站可能完全是两个概念，比如 internal.example.com 可以在公司内直接访问，而 www.

[2015-02-11 05:42] FelisCatus commented on #275
@zamen40 That should be another issue. Please open a new issue on Github.

[2015-02-11 05:47] FelisCatus commented on #272
数据量太大了，估计已经达到单项设置存储限额了。按照[Chrome 扩展同步存储限制](https://developer.chrome.com/extensions/storage)：

也就是说， **每个情景模式最多只能使用8KB存储空间** ，且最多不能超过 450 个情景模式（假设其他简单选项使用了62项）。

暂时而言，我推荐这么大的PAC文件还是不要放进选项里了。可以放在一个本地文件里，并在 PAC 网址里填上 `file:///D:/a.pac` （Windows） 或 `file:///home/example/a.pac` （*nix），这样就只会同步文件路径上去，而不会同步整个PAC内容。当然这样的话就要把文件手动拷贝到另一台设备上了……

所以，退一步来说，我认为目前扩展存在的缺陷是：

* 对于无法放入存储空间的情景模式，不应该同步到服务器，但也 **不应该自动删除

[2015-02-11 05:48] FelisCatus commented on #272
另外本地存储其实也有一个 5MB 的限制，只是比较少有人达到……到达此限制后，即使不开启同步，估计也没法正常使用扩展了……

[2015-02-11 07:29] FelisCatus commented on #272
这样吧，我先快速做一个简单的判断来解决第一个问题。

* 当单个情景模式容量超过限额时，此情景模式将会自动被设置为禁用同步。在选项的那个情景模式设置页面，将会看到警告。禁用同步的情景模式不会被上传至服务器，也不会被服务器上的同名情景模式覆盖，不会因为同步而被删除。

[2015-02-11 08:04] FelisCatus commented on #272
按以上方案，已经暂时解决问题。请等待下一次更新发布。（目标版本 v2.3.3 ，预计发布时间：1小时以内。）

由于解决方案不完善，因此重新开启 issue 。下一步的改进：

* 在选项中，提示每个情景模式的已使用容量和容量限制。当用户修改情景模式，减少容量占用时，应该给用户一个按钮，重新启用同步。
* 允许用户手动禁用某个情景模式的同步，并且之后可重新启用。
* 在选项界面中，提示总的存储容量限制（包括本地限制和同步限制）。当容量超过限额时，应该提示用户新增的情景模式将无法同步。

[2015-02-11 11:24] FelisCatus commented on #272
v2.3.3 已经发布。

[2015-02-11 11:25] FelisCatus commented on #275
v2.3.3 已经发布。现在可以正常查看切换条件帮助了。

[2015-02-11 12:49] StrollStars commented on #275
1.如果网盘会带来那么多问题还是算了。
2.确实测试Tor在http(s)下存在问题。
3.已修复。
4.谢谢告知。
5.这个问题比较复杂，我发现登录谷歌帐户重定向太多，这个问题可能我们需要交流下怎么处理比较好。因为有两个问题：一、频繁切换规则加大开销降低速度；二、重定向期间的网址不易捕获。
6.谢谢告知。
7.重测发现规则设置问题，打扰了抱歉。
8.重测发现规则设置问题，打扰了抱歉。
PS：再请教个自动切换模式问题。若因匹配自动切换到A情景模式，而A情景模式中又排除该地址，最后结果是不是不使用A情景模式中的代理？

[2015-02-11 20:06] grimblefritz commented on #197
I understand the limitation, that extensions cannot get the IP address of the local machine. However, the only real annoyance I have with SO (or any of the Chrome proxy tools) is that I work from home and the only time I need a proxy is when I'm connected to a VPN for work. If not for some of those VPNs also requiring authentication, I have a PAC file that works perfectly.

I propose this work aro

[2015-02-11 22:49] zamen40 opened #277 "Creating a way to add a list of proxies"
I was wondering if you could make the program able to add a list of proxies. Gatherproxy.com allows you to download a text document which is full of proxies in the order ip:port, could you add a a way that takes the information straight from the text document and creates individual profiles from that information. since each proxy is in the same format you should be able to do something like this.

[2015-02-12 00:09] zamen40 commented on #277
Or also have an option that checks yours proxy's to see which ones are bad.

[2015-02-12 00:16] droid-Q commented on #271
同样的问题，求解，Effective proxy settings

PAC script: data:application/x-ns-proxy-autoconfig;base64,LypPbWVnYVByb2ZpbGUqIlx1MDAyZnU4MWVhXHUwMDJmdTUyYThcdTAwMmZ1NTIwN1x1MDAyZnU2MzYyXHUwMDJmdTZhMjFcdTAwMmZ1NWYwZiIqMTRiN2IyMTY3

总是显示找不到代理服务器。

[2015-02-12 08:53] hukangha opened #278 "如何对网页内引用的资源也使用代理？"
访问一个网站时，将该网站的domain加入到规则，那么这个网址会以代理访问，
但是如果这个网址里面引用了一些无法连接的资源，那么这些资源依然是无法正确显示的。
有时候还有会造成网页的排版错误
然后我去swithcyOmega中，希望找到一个选项，对某些domain的网页内的全部资源使用代理。
但是这个选项在swithcyomega中未找到。
不知道实现该功能是否是可以实现的？

还有一个方法是自动检测无法连接的资源并对其进行代理，不过这个似乎不容易实现。

[2015-02-12 15:48] ownstar opened #279 "it doesn't work on auto switch and thanks for fixing:)"
SwitchyOmega 2.3.1
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36

[2015-02-13 03:12] FelisCatus commented on #277
* Bulk Proxy Import: See #235 (Not Implemented, but JS snippets provided for workaround)
* Check proxy availability: Nice to have, hard to be done right. I will consider that.

[2015-02-13 03:14] FelisCatus commented on #278
技术上很难，具体见 #218

自动检测无法连接的资源：很麻烦但理论上很可行，见 #6.

[2015-02-13 03:24] FelisCatus commented on #279
Just saying that something "doesn't work" is not gonna help. Auto Switch is of course working in general because there are many users out there using this feature every day. However, things could break under certain circumstances, or you could have made mistakes in your configuration. In order to solve such problems, more information is needed. The following template can be a good start for you.

[2015-02-13 03:42] FelisCatus commented on #197
Connecting to an IP address is neither possible in Chrome Extensions or PAC scripts. It is possible to send UDP packets (and thus ping packets) in Package Apps but not Extensions. AFAIK, Chrome extensions is limited to sending HTTP requests, which could work only if you have a local HTTP server running on your own laptop.

So the situation would be: Proxy is switched correctly (using PAC), but the

[2015-02-13 03:47] FelisCatus commented on #275
5: 用 `chrome://net-internals/#events` 可以轻松截获所有请求，之后自己设置切换规则或提交给 GFW List 都很方便

PS: 这个项目的设计目标之一是，一个情景模式对于同样的请求返回同样的结果，无论直接或者间接（组合）使用。如果某个请求的中间结果是A情景模式，则其最终结果和直接选择A情景模式相同。
也就说，正如您所说，假如A情景模式“不代理的地址列表”匹配了该请求，结果是不使用代理。无论是直接还是间接使用了A。

[2015-02-13 08:37] cpigat opened #280 "html"
SwitchyOmega 2.3.3
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-13 10:31] FelisCatus commented on #280
?

[2015-02-13 10:31] #280 closed

[2015-02-13 12:24] hukangha commented on #278
之前了解到chrome是每个tab一个进程的，
那可不可以不使用URL的方式判断是否代理，而是以chrome的PID或者tab来判断？
比如 当一个tab内的地址栏中的url 符合“全部使用代理”规则时，对该tab的进程进行全局代理？

[2015-02-13 12:54] chigix opened #281 "HTTPS 代理有 BUG"
HTTP 代理使用正常，但对于 HTTPS 的地址无法代理，我的配置是：

Http: 10.0.0.186:8084
Https: 10.0.0.186:8084
（上述IP为示例IP，所建为符合 HTTP 1.1 标准的 反向代理服务器）

而这个配置在之前的 SwitchySharp 上是可以正常使用的。

注：反向代理服务器是通过 HTTP CONNECT METHOD 声明来自动建立 HTTPS 隧道的。我在代理服务器上收不到 HTTPS 建立隧道的请求信息，收到的已经是客户端发出的 加密信息。

SwitchyOmega 2.3.2
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1902.0 Safari/537.36

[2015-02-13 13:31] FelisCatus commented on #281
看上去像是代理类型和网址类型搞混了。 SwitchyOmega 除了网址类型以外，还开始支持代理本身的类型（如一个 HTTPS 代理可以处理`http://`和`https://`两种网址）。如果无须根据网址类型选择不同的代理，则只填写“默认”网址的一行配置即可（但注意请正确选择代理本身的类型）。

如果还不明白的话，请截图一下代理情景模式的设置界面（当然，可以把地址改成示例地址）。

[2015-02-13 13:33] FelisCatus commented on #278
PAC 脚本没那么高端的……只有网址等少量信息可以作为判断条件，不可能获取具体哪个标签页或者窗口，更不用说操作系统相关的进程信息了。

[2015-02-13 13:33] #278 closed

[2015-02-13 14:30] chigix commented on #281
那同时支持 HTTP/HTTPS 双协议混合的 反向代理服务器应该怎么选？虽然是全部走 HTTPS 可以成功完成代理任务，但是本身是 HTTP 的连接强行走 HTTPS 隧道的话，会降低 HTTP 连接的效率啊。而且你的 Omega 的 HTTPS 代理有点奇怪，并不发出 CONNECT 请求报头

就是非常简单的，如下代理模式，如何使用 Omega 来完成设置？
![1](https://cloud.githubusercontent.com/assets/2692787/6188800/da2b20b6-b3cf-11e4-8c03-daeaf5424a3d.png)

[2015-02-13 19:06] Tback1 commented on #273
autoproxy也没自带fq啊？最多也就是创作了最广为流传的订阅列表，omega不也用了这玩意不是？

就是因为不是只考虑fq所以才有白名单无法实现的描述在前面。
而且不管怎么说，浏览器里的代理管理本质不就是哪些网页走这个代理 哪些走另外一个 哪些不代理么？

难不成还要跟公司配置一样 做端口级别的匹配过滤？抢ISA饭碗？

而且话说回来，fq不是全部但是至少是主流用途对吧？

要我说的话现在的逻辑我用起来也没多大问题了，也就是学习成本高了一点，上手慢一些，配置里手工调教的成本高一些，很多切换得每次进去手工再改改，复杂的部分包括PAC都能基本上依靠omega自身解决了。

但是上手难度大，，真是omega追求的？

想想auto proxy，在Firefox19就停止了支持与开发，结果呢，到现在fox
proxy也没法取代他，用户自己fork代码修改支持到了35，nightly40都还能

[2015-02-13 23:53] zamen40 commented on #235
Ive been trying around to change the proxy list i can download to get into that format but i cant find how.
The proxy list i download goes as follows:
0.0.0.0:port
0.0.0.0:port
0.0.0.0:port and so on. How can i change that to 0.0.0.0:port;0.0.0.0:port;0.0.0.0:port?

[2015-02-14 00:05] chenall opened #282 "选项同步中允许使用本地强制覆盖云端版本"
目前选项同步功能,如果两台电脑都在用,并且配置不一样的话就只能使用先上传到服务器的那个.

能不能改进一下,

1. 可以强制使用使用本地的覆盖服务器上的
目前只能强制使用服务器覆盖本地的,即使我导出配置,然后覆盖,再导入配置还是提示只能从服务器下载覆盖本地的.

2  可能的话可以智能一些,把两个不同的配置合并在一起.

[2015-02-14 02:13] FelisCatus commented on #281
![image](https://cloud.githubusercontent.com/assets/912649/6198201/ed5fc00e-b430-11e4-8c6e-973bf9b3eaa7.png)

我感觉您想复杂了，根据您的截图，像这样最简单的设置难道不行吗？（前提是没有使用高级按钮进行复杂的设置）。

如果还不行，可能确实真的需要更复杂的设置。代理服务器的请求相关都是由Chrome实现，所以只要“有效设置”和之前完全一致，那么行为自然也就会完全一致，无须多虑网络和协议相关情况。

既然 SwitchySharp 上是行的，那么麻烦切换回 SwitchySharp ，确认可以正常使用后，访问 `chrome://net-internals/#proxy` 页面，并将页面上的内容（即“有效设置”）复制到这里，我来说说如何在 SwitchyOmega 进行对应的设置。做了

[2015-02-14 02:37] FelisCatus commented on #273
@Tback1 您先别激动，我说这些也只不过是为了尽可能避免招来过多主观性太强的评论而已，绝对没有针对您的意思。您刚才提出的大部分观点我都赞同，所以您和我争论这个也没什么意义。

但后半段您都是在抱怨 omega 上手难度大，不如 auto proxy ，这感觉有点太宽泛，并不能对项目起到建设性的作用。目前可能是没有什么“更好的omega切换逻辑或者配置方法”，但这正是这个 issue 需要讨论并实现的。

评述 AutoProxy 的成功之处，或者指摘 SwitchyOmega 的有所不足，都是非常欢迎的。像之前的讨论“AutoProxy 这一点做得非常好，想想怎么整合到 SwitchyOmega 的现有模型中，或是废除现有模型中存在的概念混乱”都是很好的，而且相信大家也看到了一些成果了。为了达成更简洁易用的目的，我们这次要在之前的基础上，更激进一点。当然，也不用激进到“SwitchyO

[2015-02-14 02:43] FelisCatus commented on #235
@zamen40 Just use your text editor to replace the line breaks with semicolon. For example you can use vim to insert ";" at the end of each line `:%s/$/;`, and then join them together `ggvGJ`.

[2015-02-14 02:54] FelisCatus commented on #282
我是觉得既然是两台设备在用不同的设置，那么没有什么特别好的方法了。建议两台设备都开启同步，且对于两台设备上不同的配置，建立不同的情景模式，然后各自用各自的情景模式即可。相同的部分则可以共享同一个情景模式。

1: 使用本地的覆盖服务器的是一个好想法，技术上也可行，我准备支持这个，尽管这个对于您的问题帮助不会太大。
2: 最可靠的合并方式是“两份选项没有同名的情景模式”，即 `a1a2a3 + b1b2b3 => a1a2a3b1b2b3`。对于同名情景模式，再智能也终究是“合并”，且不说合并算法如何、怎样解决冲突，结果终究不太可能是用户想要的。所以，就算有了“智能合并”，还是建议您像我上面说的一样，不同设备使用不同情景。

[2015-02-14 05:00] chenall commented on #282
我的操作过程,,
刚开始两电的配置是一样的
后面我修改了其中一台的设置,另一台并没有及时同步,我也手工修改了一下,这样就出现了冲突.

另外一点就是如果我是用导入功能导入的配置,因为上面已经出现冲突也只能使用服务器上的配置.

所以才需要有本地覆盖服务器配置的功能,我想使用我之前备份的配置为准.

期待下一个版本.谢谢

[2015-02-14 05:19] #214 closed

[2015-02-14 05:24] t123yh opened #283 "正在下载代理脚本"
每次启动Chrome时都会显示一段时间的“正在下载代理脚本”，使用的是GoAgent，仅仅在使用自动切换代理时才会出现此种情况，如果使用“直接连接”及“GoAgent”均不会出现这种情况。

SwitchyOmega 2.3.3
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.94 Safari/537.36

[2015-02-14 05:35] FelisCatus commented on #282
两台设备上做完全一样的更改，结果应该不会冲突的吧？尽管后更改的会自动覆盖先更改的，但毕竟内容是一样的……

[2015-02-14 06:16] #225 closed

[2015-02-14 06:17] FelisCatus commented on #225
SwitchyOmega is now on Weblate! Many thanks to the Weblate project.

[![Translation status](https://hosted.weblate.org/widgets/switchyomega/-/287x66-white.png)](https://hosted.weblate.org/engage/switchyomega/?utm_source=widget)

[2015-02-14 10:43] Tback1 commented on #273
​@FelisCatus
​ 是有点激动了。不过没感觉你针对我，只是chrome上的代理配置软件一直是个短板，这么多年都干不过firefox，老是用着两个浏览器挺烦人的，好不容易看着omega有希望了，当然希望这独苗能prefect不是。

就怕独苗因为没竞争就裹足不前了啊。

说实话，有些东西靠文字静态描述真是已经感觉词不达意了，我不知道​@FelisCatus
​ 你有在使用firefox作为备用浏览器不？如果你用过autoproxy的代理切换，我想其实你应该能明白我的意思。

下面我放个图再表达一下我的想法把

在 2015年2月14日 上午10:37，FelisCatus <notifications@github.com>写道：

[2015-02-14 10:46] chigix commented on #281
真的不一样，有图有真相：

SwitchySharp 中的设置及 chrome 代理有效设置截图如下：
![2](https://cloud.githubusercontent.com/assets/2692787/6199347/3041f23c-b479-11e4-8b01-2d6fa9230442.png)
![1](https://cloud.githubusercontent.com/assets/2692787/6199348/3162fa08-b479-11e4-8432-86025f47be9d.png)

SwitchyOmega 中的设置及 CHROME 代理有效设置截图如下：
![3](https://cloud.githubusercontent.com/assets/2692787/6199351/58c2718c-b479-11e4-9552-99cac2ce9

[2015-02-14 11:00] Tback1 commented on #273
看看邮件回复能带图不。直接传图又抽风了。如果没有晚点我再试试。

综合图上说的，其实omega大部分autoproxy的快捷菜单的功能已经实现了。真的就是逻辑混乱的问题。

其实要改的真的还就是自动切换和虚情景在快捷菜单的逻辑问题。真不用涉及其他了。改菜单，不改核心逻辑，小猫你就从了把

在 2015年2月14日 下午6:42，thresh14 <thresh14@gmail.com>写道：

[2015-02-14 11:18] FelisCatus commented on #281
我们先将 SwitchySharp 那个有效设置的截图简称为目标设置。这也是我们设置将达到的目标。

1. 第一次设置： SwitchyOmega 只设置默认有效设置时，只有一条有效设置，即所有网址使用相同代理服务器。在 HTTP 和 HTTPS 网址协议上应该和目标设置等效，因此这样设置即可。无须进行更复杂的设置。
2. 第二次设置：您的那张图里很明确地设置了对于 `https://` 网址使用 HTTP**S** 类型代理服务器。“你的地址里还带上了一个 HTTPS”正是因为“你明确选择了使用HTTPS类型”。将这一行的代理服务器类型改成 HTTP 即可和目标设置完全相同。

再说明一次，HTTPS类型代理是完全不同的一种东西。HTTPS代理是一种代理类型，而非“网址协议”。

归根结底还是 SwitchyOmega 的设置过于强大过于复杂了，而且它不会防止您做错误的设置，不会检查代理

[2015-02-14 11:18] #281 closed

[2015-02-14 11:20] Tback1 commented on #273
![image 2](https://cloud.githubusercontent.com/assets/8872546/6199439/757a2608-b47e-11e4-98e7-df9a3df1713b.png)

[2015-02-14 12:28] FelisCatus commented on #273
根据图片，用文字整理一下几个改进建议。主要目的在于整理建议，评论仅供参考，不作为最终结论。

1. “默认代理” - 算是之前讨论过很久的问题了，大致就是虚情景的功能，但比虚情景清楚一些。这里的建议是自动切换模式有一个“默认代理”的概念，在一个地方设置所有“使用代理”规则的代理。
2. 添加规则改进 - 主要建议是添加规则可以再简单一点、并且在有“默认代理”的前提下，允许直接设置一条规则使用代理，而无须手动填写规则类型、通配符以及结果情景模式。其实这一点和 SwitchySharp 开始加入的“临时规则”有点像，但是是永久的。
3. 自动模式、全局模式、禁用代理 - 其实 SO 里直接连接情景模式等于“禁用代理”，直接使用某个代理情景模式或虚情景等于“全局模式”，而自动模式就是自动切换了。
  * 我是觉得既然菜单上第一级都有了、还去不掉，那就不用另外做了。功能上等同，而说法各自有各自的好

[2015-02-14 15:28] Tback1 commented on #273
既然是单结果模型，要不我们这样考虑一下，虚情景模式本来就是SO的特色。自动切换反而是一个妥协后的产物，要不咱们把自动切换给砍掉。直接用虚情景代替掉。以后的所有配置就改为规则分组到某个情景下，每个虚情景都能允许切换的功能即可，至于自动切换的结果是匹配规则走哪个代理或者不走哪个代理，用户请随意，这样是不是才比较符合SO灵活的本意？

我的意思就是SO现在的逻辑混乱本质上就是分层不足造成的，既然本意的模型不愿意采用组的模式，那就直接对应情景模式不就好了么？

@FelisCatus 你觉得这样会不会更符合switchy系列的本意?也能让学习曲线不那么陡峭？
等于是快捷菜单就只有
1、不走代理
2、虚情景代理1
3、虚情景代理2

n、虚情景代理n

让后在每个需情景里自己配置需要的自动代理方式和虚情景匹配的代理。
白名单、黑名单什么的统一为不同的虚情景即可。

[2015-02-14 15:31] FelisCatus commented on #273
抱歉我是真没看懂……按照您的建议，虚情景要有哪些功能？一个虚情景含多个规则，相当于一个规则组？

[2015-02-14 15:36] Tback1 commented on #273
主要是我的确没看过你的模型定义，很多词汇要表达的意思真有点难传达。

还有、请别用您好不？亚历山大~~

每一个虚情景不包含多个规则，只提供
1 这个虚情景对应某proxy。
2 这个虚情景下默认的自动识别。（或者是理解为每个虚情景都是一种自动切换？）
没了。

[2015-02-14 16:21] binaijing opened #284 "无法删除情景模式"
如图所示，我要删除goagent的情景模式，删不掉。
可以确认的是goagent的情景模式没有被其他任何情景模式或者切换规则使用。
![default](https://cloud.githubusercontent.com/assets/5078268/6200197/8a4846bc-b4a8-11e4-8970-3a798bea4f16.jpg)

[2015-02-14 19:04] syswow commented on #284
“以下情景模式使用。。”  但下面的框里没有显示任何情景。

[2015-02-15 02:36] chenall commented on #282
我现在用导出功能导入一份配置,到另一台电脑上导入..

现在两台电脑配置一样了,但是已经不能使用同步功能.

[2015-02-15 04:23] kice opened #285 "支持Shadowsocks代理"
如题，能否支持？虽然SS也是有chrome插件的，但是希望SO能够内置支持下。

[2015-02-15 04:46] FelisCatus commented on #282
现在导入任何选项都会直接禁用同步，因为实在是难处理。可能可以判断一下完全相同，但是……
既然要的是一样的，那直接下载覆盖就是了，何必折腾导入备份文件呢……

[2015-02-15 04:50] FelisCatus commented on #285
我还是认为 SwitchyOmega 是一款设置软件。做网络请求或者应用协议的实现并不是项目的目标，且不说开发难度和花费精力了……

[2015-02-15 04:50] #285 closed

[2015-02-15 04:54] FelisCatus commented on #284
请截图 AutoSwitch 情景模式设置，谢谢。只需切换规则中的“规则列表”和“默认规则”一行，其余内容可自行涂黑，保护隐私。

以及如果真的删不掉，可以建立一个虚情景然后替代 GoAgent 即可。我要说的是，这个貌似是 bug 引起的，这条建议最多也只是能凑合用而已，不解决深层问题……如果急着用的话可以这样做。

[2015-02-15 05:12] FelisCatus commented on #273
那么“默认的自动识别”又是什么？一下子就出现了好多我看不懂的词……而且既然虚情景不包含多个规则，又怎么理解成自动切换？

好吧，且不说这个提议如何，我倒是觉得虚情景才是妥协，而自动切换才是SO特色。虚情景这个概念，给用户带来太多困惑：“这是用来干什么的？”，“为什么这个可以解决一次更改多个规则的问题？”，以及您说的“明明是切换自动切换的代理，结果要去切换一下虚情景的设置”。相比之下自动切换一直都是简单易懂(“满足条件则使用对应情景模式”)，尽管对于“一组规则=>任意代理”之类的场景还有待优化。

虚情景在技术层面上的意义是要大于非技术层面的，它能保证多条规则代理切换的高效率，也能与现有的脚本生成配合良好。所以之前的讨论中我也提到过，这个可以为“自动切换统一结果”之类的，或是类似的改进铺路。正如“自动切换附带的规则列表”一样，这类应用在技术上也能明确地实现。技术细节在此我不多讨论了，总之我想

[2015-02-15 05:59] ophxasd opened #286 "只能打开谷歌 其他被防火墙封闭的网站均打不开"
youtube  什么的网站都打不开 只能打开谷歌

SwitchyOmega 2.3.4
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-02-15 06:19] chenall commented on #282
两边的都和服务器上的不一样,都是一样的提示.
目前看来还是提供一个使用本地的强行覆盖服务器的配置功能好了.

[2015-02-15 06:21] FelisCatus commented on #286
代理服务器或网络问题与本项目无关。

[2015-02-15 06:21] #286 closed

[2015-02-15 06:21] FelisCatus commented on #282
嗯，好。

[2015-02-15 07:22] jsjain007 opened #287 "auto-switch rule list"
i have add some of the website for the use of proxy but auto  switch feature seems not to be working since it is still using the direct connection instead of proxy .
for eg -  i add filestream.me as
https://members.filestream.me/*   or
*members.filestream.me/

but none of them is detected for proxy in switchsharp omega please help .
thanks in advance

[2015-02-15 07:55] syswow commented on #287
try this  *.members.filestream.me
I think SwitchyOmega current didn't support rule that put the ' * ' at the end of domain.

[2015-02-15 08:28] Loticyang opened #288 "可代理资源列表这个功能办的到吗"
火狐的autoproxy有这个功能,

很多时候在线列表规则不够用,

这个时候就需要这样的一个功能  增添规则,

当然,扩展自带的"添加条件"是不够的,因为许多网站有很多其他的网站需要调用

还有能不能加一个导入本地txt规则(autoproxy格式) 的功能

SwitchyOmega 2.3.4
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36

[2015-02-15 08:42] jsjain007 commented on #287
then using the one you said will it put the proxy for whole domain of filestream or only for filestream.me
and not members.filestream.me/# ?

[2015-02-15 09:14] syswow commented on #287
it will put the proxy for whole domain of **members.filestream.me**

***

And if you just want to put proxy for pages under one domain, simple:  **members.filestream.me** , no need ' * '

@FelisCatus  Aha, Actually, I didn't go deep into SwitchyOmega source code, I don't know how to implement this feature.

[2015-02-15 09:21] jsjain007 commented on #287
i tried    members.filestream.me  as u said but it didnt worked . also i tried *members.filestream.me
didnt worked either . i even restarted my browser .

[2015-02-15 09:25] jsjain007 commented on #287
also if i do the same in switch rules list it works but not working in rule list area .

[2015-02-15 10:21] FelisCatus commented on #287
Rule list editing is not recommended unless you are familiar with one of the formats provided. Either stick to switch rules, or if you just want to edit the switch rules as text, please use the "edit source" button on the switch rules section.

If you really, really intend to hand-craft a rule list, these are the things you want to check:

* Select the right profile to use with rule lists in the s

[2015-02-15 10:23] FelisCatus commented on #288
见 #6。

P.S. 如需导入，可在自动切换模式中使用规则列表，将 AutoProxy 文件内容直接粘贴进去即可。

[2015-02-15 10:23] #288 closed

[2015-02-15 10:28] Loticyang commented on #288
规则列表点击左键无粘贴选项,无法粘贴啊

[2015-02-15 10:29] FelisCatus commented on #6
反正我是觉得近期应该没时间做这个了……除非能有其他人愿意合作或者提交PR。

[2015-02-15 10:32] FelisCatus commented on #288
点击 **左键** 当然没有粘贴选项，因为粘贴一般都是在 **右键** 菜单里的吧……

请复制文件的内容（文字），而非直接复制文件本身。如果遇到问题可以截图上传。

[2015-02-15 10:46] Loticyang commented on #288
![360 20150215184018203](https://cloud.githubusercontent.com/assets/8101717/6202967/24946cd4-b542-11e4-8c47-936461657abb.png)

[2015-02-15 11:20] Loticyang commented on #288
好吧,我搞定了,谢谢

在 2015年2月15日 下午6:32，FelisCatus <notifications@github.com>写道：

[2015-02-15 11:35] Tback1 commented on #273
算了，我只能承认我还是习惯auto的规则组的模式。接下来SO我就还是尽量少点规则用把。复杂了，按照一条规则一个情景的配置，真心伤不起。实在不行了反正前端还有ISA，直接ISA走转发分配算了。

说白了我还是希望在一条规则一个情景之上实现规则分组，至于这个分组是多个自动切换来分组还是多个虚情景来分组。这个我觉得都行，只要不要一套分组居然是两个平行的层级都来操作都可以。

要么就多个自动切换，每个对应一套代理。
要么就多个虚情景，每个对应一套代理。

[2015-02-15 11:41] Tback1 commented on #273
最后我再补一个一条规则一个情景无法实现的事情

我在公司的内网，走外网的页面大概有300条规则，走公司的内网大概有200条规则。
只有一个情景模式。还有两个虚情景模式（一个内网，一个外网）。
网管今天说外网代理挂了，重新配了一个socket出来，请大家自行切换，时间紧，也没空给你写pac，有空网关大爷说了，boss的配置都还没搞定，没空理你。

怎么快捷切换？200条手工全来？还是访问网页就手工去切换？

虚情景依然解决不了一部分要切换一部分不要这个问题。因为虚情景下不能带一队名单啊。只能一次全改

[2015-02-15 11:53] Tback1 commented on #273
我又去看了前面的issus，你也不同意么个情景模式自带一队“切换规则”

我说的就是这玩意。

![Image of Yaktocat](http://drp.io/ofP)

http://drp.io/ofP

还有临时代理功能蛮好，不要砍掉。

[2015-02-15 11:53] hr9241 opened #289 "Autoswitch to system proxy"
I usually use Tor as my go to proxy for getting round blocks etc, but sometimes I want to appear to be in a specific country, for which I use the ZenMate extension. This doesn't work with SwitchyOmega running, so I have to turn it to system proxy. Is it possible to do this automatically on the relevant websites using autoswitch rules?

[2015-02-15 13:33] FelisCatus commented on #273
@Tback1 你举的那个例子我没懂……既然已经有一个外网的虚情景模式了，那调整下目标不就行了？或者更简单的，既然某个代理服务器挂了，那么把那个代理情景模式里面的服务器地址和端口改成新的不就行了？

[2015-02-15 13:49] FelisCatus commented on #289
This feature is not possible due to limitations of PAC script and the way Chrome proxy settings work.

However, it is possible to re-install the other extension in question, giving it higher priority so that it would override the settings provided by SwitchyOmega once enabled. The priority policy is set by Chrome and cannot be controlled by extensions. Only one extension can set the proxy settings

[2015-02-15 13:49] #289 closed

[2015-02-15 13:55] hr9241 commented on #289
But when I click on the SwitchyOmega icon a list of proxy settings comes up, including system proxy, which lets the other extension function, isn't it possible to just add in a feature to autoswitch to that setting?
![capture](https://cloud.githubusercontent.com/assets/11015837/6203437/1ed8f012-b51a-11e4-944f-e60b37f60a04.PNG)

[2015-02-15 16:59] Tback1 commented on #273
我到底要讨论一个什么问题
============

@FelisCatus 关键是你的虚情景(或者自动分组)里不能带“切换规则”，如果可以，虚情景就等于是一种分组。

**就是因为没有，所以那个例子里的300走代理A，200走代理B都只能在自动切换的“切换规则”这个“组”里。**

所以我说实际上实现不了。

你想想，另外一个issus你不也是告诉另外一个提issus的朋友说，只能用虚情景全部切换，或者点一下蓝色按钮全部切换。糟糕就糟糕在全部切换。实际上是一部分切换一部分不切换。

**所以我希望在设计里能把这样的“切换规则”分开**：

1. 要么每个情景模式带“切换规则”，有问题了我直接改这个情景模式的服务器和端口。
1. 要么就允许多个“自动切换”的情景模式，我配置这些“自动切换”。

或者你要定义这样的多个“自动切换”叫做**虚情景**或者**别的什么好称呼**都可以，我不在乎这

[2015-02-15 17:00] Tback1 commented on #273
当然，如果你有如何用现有的虚情景搭配自动切换这一约束条件下实现的方案，请告知我，那我觉得SO我就没什么遗憾了。界面的问题，我大部分时间和调试器打交道，简洁实用就别无所求了

[2015-02-16 03:10] Hunterzzzz opened #290 "使用代理后无法正常登陆某些国内帐号"
斗鱼，微博一直登录不上，关闭代理后就正常了

SwitchyOmega 2.3.4
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-16 03:27] syswow commented on #290
国内的网站不需要代理，而且有时它们会限制境外IP访问的。

[2015-02-16 05:08] FelisCatus commented on #290
……所以这到底和这个项目有什么关系？代理服务器是其他人提供的，设置是自己弄的……

[2015-02-16 05:08] #290 closed

[2015-02-16 05:22] FelisCatus commented on #273
描述现状，不代表拘泥于现状。我只不过是把主要矛盾暴露出来，仅此而已。无论你之前提的建议，还是之后要求的分组方案，本质上都是与这一点相违背的。 **因此，我认为需要改变或者拓展的正是“每个规则都分别设置结果情景模式”这一点。**

多个自动切换从 SwitchyOmega 的最开始就支持了。然而，要让多个自动切换同时起效，是需要配置“锁链”的。（即A自动切换的结果为B，B自动切换的结果为C，……）这一点对于很多用户而言并非显而易见的，而且概念上也并不是很清楚。而且，最终是要在菜单里选择“A”这个情景模式，而非直观的“A+B”之类的。

如果多个自动切换可以友好一些，自然可以部分解决分组的问题。但是，这种分组是一种人为的分组，而不是按照“结果”分类的分组。要做到简单修改每个分组的情景模式，我是觉得还需要统一结果，或者至少的，把类似蓝色按钮的功能做到弹出菜单里。

之前用户也提了很多这样的应用，

[2015-02-16 05:58] FelisCatus commented on #289
This is due to technical differences between "Direct" and "System Proxy". A direct connection is a possible value of proxy settings, while "System Proxy" is the absence of proxy settings and thus the settings of other extensions and settings from system environment can come into effect.

The Auto Switch mode is one combined value containing all the conditions and their results, instead of some kin

[2015-02-16 08:43] hr9241 commented on #289
Ok, thanks, now I get it. And now I want to try apple juice mixed with lemonade. Cheers.

[2015-02-16 08:50] hr9241 commented on #289
So if I understand you correctly, it would actually be possible to auto switch TO system proxy, but in order to do so you would necessarily have to leave auto switch mode because otherwise you wouldn't have an absence of proxy settings, and so it's not possible to auto switch back? By removing proxy settings with system proxy you're also removing any information that would let the extension switch

[2015-02-16 09:36] Tback1 commented on #273
我昨晚上洗澡的时候也想起了多个自动切换无法同时生效的问题，但是我没有想出一个解决方案，或者我认为上次的虚情景本身就应当是用来解决这个的，即虚情景可以包含多个自动切换规则，这也体现了虚的本意，即实际上不存在这么一个情景，而是多个自动切换的综合，调整的时候更改某一自动切换并不影响其他自动切换。

但是现在的方案反而是虚情景在自动切换之下的样子？

我没有明白按照  结果  分类是怎样的。

是以什么作为结果的标准么？或者说结果这个词在程序框架里是特定的什么？我没有看出来有结果导向的因素啊？

另外你的意思是你还是同意要分组，只是分组的依据不同么？

是这样的么？
2015年2月16日 下午1:22于 "FelisCatus" <notifications@github.com>写道：

[2015-02-16 14:36] 4Head opened #291 "SOCKS5 Authentication"
Why is there a Authentication window for http and https proxys but not for SOCKS5?
The SOCKS5 Proxy I use needs an Authentication.

[2015-02-16 15:33] FelisCatus commented on #273
我个人同意分组，并且提议多个自动切换作为一种可能的解决方案（每个自动切换就是一个分组）。

因此最终结果会有点像是多个自动切换的综合，正如你所说，也许需要某种比自动切换更大的概念。而虚情景从出发点来说，是模仿或代替一个情景模式，所以说不是用来解决这个问题的。

另一个问题在于，现在的自动切换是完整的，并不只是一条条规则，还有默认（所有规则都不匹配时使用的）情景模式。要综合多个自动切换，就必须在综合时去掉这些自动切换的默认情景模式。这会让组合的概念更加复杂。

P.S. 结果：在 SwitchyOmega 现有的设置模型中，每条规则有条件和“结果”两部分。条件是通配符等等，而“结果”是设置的情景模式。如 `*.example.com` 使用“Shadowsocks代理”。其中“Shadowsocks代理”是结果。Switchy 系列中规则（即条件和结果）组成自动切换。再一次，这是为了讨论现有

[2015-02-16 15:40] FelisCatus commented on #289
No. Auto Switch is not technically switching. No changes of proxy settings happen as long as you stay in Auto Switch mode. When you click on the menu to select "Auto Switch", SwitchyOmega compiles its rules and other profiles needed in "Auto Switch" to a proxy script, which is set as the proxy settings. From this point, Chrome does all the network related stuff, and SwitchyOmega won't even have a

[2015-02-16 16:02] Hs-Yeah commented on #289
So, SwitchyOmega is actually a proxy script maker and manager, right?

[2015-02-16 17:56] Tback1 commented on #273
嘿，那你考虑一下把虚情景作为多个自动切换组成的一个超级情景如何？

我又回去看了一下
https://github.com/FelisCatus/SwitchyOmega/issues/47
还有
https://github.com/FelisCatus/SwitchyOmega/issues/32

当时提到了一个超越集的存在。
我觉得虚情景用来模拟一个其他的情景这定义是浪费了虚情景的这个概念，虚其实可以表示第二维，表示一种超越。用来做超越集不错啊

另外，我试着按照你的逻辑重新搭了一个代理定义文件。我觉得是我错了。

我通过嵌套在里面解决了这样一个问题，只是列表维护特别麻烦，得特别小心。还有就是添加快捷菜单的时候的问题了。

现在我的结构如图
![1](https://cloud.githubusercontent.com/assets/8872546/6216555/52b6297

[2015-02-16 17:57] Tback1 commented on #273
哦，补充一句：如果你愿意将虚情景作为多个自动切换的集合的话，那把自动切换砍掉，区域3换车多个自动切换就行了。

[2015-02-16 19:51] hr9241 commented on #289
Ok, I think I understand now. Thanks for taking the time to explain.

[2015-02-17 06:10] FelisCatus commented on #273
1. 自动切换提前到代理情景模式之前。既然自动切换很常用，放上面也好一点。
2. 现在菜单的空间比较紧张，而且菜单的展开速度有点慢，需要再优化下。所以和菜单相关的修改会稍微推后一些……

[2015-02-17 06:30] FelisCatus commented on #289
@Hs-Yeah Yes. SwitchyOmega is a PAC script generator in a sense. The `/omega-pac` sub-project contains all the code required to compile a profile to PAC script. This functionality is provided for every profile as "Export PAC" button on the top of every profile in the extension. Of course, there are also sub-projects related to settings related processing and the Web interface for configuring optio

[2015-02-17 06:36] FelisCatus commented on #291
SOCKS Authentication is [not implemented in Chrome](https://code.google.com/p/chromium/issues/detail?id=256785) and therefore cannot be done in SwitchyOmega.

[2015-02-17 06:36] #291 closed

[2015-02-17 06:45] FelisCatus commented on #276
我想了想，觉得可以按照以下规则判断：

* 如果最前面的一段是`www`，去掉`www`后再进行处理。
* 域名的最后一段始终为顶级域名
* 对于只有两段、或去掉`www`后只有两段的域名自然没有岐义（如`example.com`=>`*.example.com`）
* 对于三段以上的域名，若倒数第二段长度为1或2，则认为是顶级域名的一部分，如`google.co.uk`或`google.co.jp`之类的，保留最后三段。
* 域名的倒数第二段如果长度为3以上，则认为其并非顶级域名（如`a.example.com`），保留最后两段（`*.example.com`）。

注意：这个算法可能会将`example.t.co`之类的误判为两段顶级域名，生成的规则是`*.example.t.co`。（但实际上应该为`*.t.co`，因为 `t.co`是Twitter的短网址服务，是一个独立网站而非顶

[2015-02-17 11:46] syswow commented on #276
用这些规则，我测试了几个比较长网址，没有什么问题，看起来还不错。:smirk:

[2015-02-17 14:52] Tback1 commented on #273
那要考虑限制自动切换的数量为1，万一有人建立多个自动切换怎么办？

[2015-02-18 04:39] a8l1vy opened #292 "情景模式希望添加排序功能。"
1. 情景模式有好几种，我希望把常用的排到上边。不常用放下边。好自由切换。现在的排序凡是pac的情景模式都排序到下边了。
2. 新的确实不如旧的好用。比如我要把pac的改成http代理模式的。就得把旧的pac情景模式删除，再添加新的情景模式。太麻烦了。不如原来的Proxy SwitchySharp的手动配置和自动配置修改方便。
3. 顺带说个，刚安装好教程第4步还是第5个步骤根本无法点，显示问题。按钮都不见了，哪里都无法点击。刷新了就好了，但没法看完教程。
4. 我的chromium用的是chrome-win32.zip
https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Win/316723/

SwitchyOmega 2.3.6
Mozilla/5.0 (Windo

[2015-02-18 05:21] a8l1vy commented on #292
第三个问题可能是个例，自定义chrome用户配置位置，再一次安装后，教程可以全部点击完。

[2015-02-18 05:22] myonlylonely opened #293 "ADBlock屏蔽的资源误判为“资源没有加载”"
资源没有加载的提示是个好改进，但是应该将ADBlock等去除广告软件的屏蔽纳入考虑，不然几乎每个页面都会提示有资源没有成功加载。或者至少提供一个选项关闭提示。

SwitchyOmega 2.3.6
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2307.4 Safari/537.36

[2015-02-18 05:47] FelisCatus commented on #292
1: 界面太难做……
2: 可以使用虚情景。此外 PAC 改成 HTTP 是可以直接在脚本里写`function FindProxyForURL() { return "HTTP 127.0.0.1:8888"; }`的。
3: 似乎是代码的问题。我之前稍微修了下。

[2015-02-18 05:47] #292 closed

[2015-02-18 05:48] FelisCatus commented on #293
选项里是可以关闭的，不过我当然还是希望能搞定 ADBlock 相关问题。我应该已经检测其他扩展屏蔽请求相关的错误了，但可能还有些不完善，等我找个 ADBlock 自己试试看吧。

[2015-02-18 05:53] myonlylonely commented on #293
可能是个偶然现象。我重新试验了下，目前暂时没有问题了。抱歉，关闭这个问题吧。

[2015-02-18 05:59] #6 closed

[2015-02-18 06:03] Loticyang opened #294 "这个扩展好像最近更新了,有几个地方不是很懂过来请教一下"
![360 20150218135425984](https://cloud.githubusercontent.com/assets/8101717/6243152/e0955fa2-b776-11e4-8d8d-4eb3b1f29622.jpg)
![360 20150218135520375](https://cloud.githubusercontent.com/assets/8101717/6243155/e5652026-b776-11e4-9ed9-5775c0b940d7.jpg)

SwitchyOmega 2.3.6
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36

[2015-02-18 06:04] Loticyang commented on #294
我用的是360安全,这个右键菜单是指的什么呢?  能不能顺便介绍一下本次更新的内容

[2015-02-18 06:09] FelisCatus commented on #6
v2.3.6 现在可以自动检测未加载的元素了。如有此情况，图标上将显示提示，且点击菜单后可以将所有资源一键加入代理。

----

P.S. 我本来想要给自己放个假，好好地过个年的。但是，我最终还是选择了在除夕做完这些工作。确实，这不是一件简单的事情，想要做对很难。但是核心代码量并没有想象中的那么多，反而大部分精力花在了界面和提示上。

我只是不愿意被人瞧不起。既然某收费、闭源、商业的软件都做得到，那么凭什么 SwitchyOmega 做不到？即使现在可能仍然有不完善的地方，但技术核心已经确定下来了，而且，这一切都是开源、免费的。开发者可以从中学习、改进，而普通用户也能享受到放心免费的服务。（源代码完全公开，不必担心有任何安全或隐私问题，这是最大的优势。）

我做这个项目，全凭自愿投入时间。我已经说过了，此项目并不是为了赚钱。相反，到现在为止我没有通过 SwitchyOmega 拿到过一分

[2015-02-18 06:10] FelisCatus commented on #9
v2.3.6 检测被墙网站已经大致做到了，[见说明](https://github.com/FelisCatus/SwitchyOmega/issues/6#issuecomment-74818135)。

[2015-02-18 06:10] FelisCatus commented on #73
v2.3.6 已经能做到部分检测被墙网站了，[见说明](https://github.com/FelisCatus/SwitchyOmega/issues/6#issuecomment-74818135)。

[2015-02-18 06:10] #73 closed

[2015-02-18 06:11] FelisCatus commented on #278
v2.3.6 已经能做到部分检测被墙网站了，[见说明](https://github.com/FelisCatus/SwitchyOmega/issues/6#issuecomment-74818135)。

[2015-02-18 06:11] FelisCatus commented on #288
v2.3.6 已经能做到可代理资源列表了，[见说明](https://github.com/FelisCatus/SwitchyOmega/issues/6#issuecomment-74818135)。

[2015-02-18 06:13] FelisCatus commented on #294
在网页上某个图片上右键菜单选择“检查该元素使用的代理”即可查看图片而非网页本身使用的代理。适用于图片不在同一个域名之类的情况。

这次的主要更新：[检测网页中未加载的元素并提示代理](https://github.com/FelisCatus/SwitchyOmega/issues/6#issuecomment-74818135)。

[2015-02-18 06:13] #294 closed

[2015-02-18 06:14] Loticyang commented on #294
点开以后会显示 X个资源未加载------------------这是不是就相当于autoproxy的可代理资源列表的功能?

[2015-02-18 06:14] FelisCatus commented on #276
v2.3.6 已经采用“基础域名”算法。感谢您的建议。

[2015-02-18 06:15] FelisCatus commented on #294
@Loticyang 对，大致就是那个功能。

[2015-02-18 06:36] Loticyang commented on #294
太好了,就等着这个功能就可以放弃firefox了,
另外--------------
gfwlist的规则文件大概100K左右,对浏览器的性能影响怎么样,

原来autoproxy的大规则是很拖火狐的启动速度的,有时候还会卡,

chrome多进程有没有这个问题,    要是多占一点资源倒是无所谓

谢谢!

[2015-02-18 06:47] FelisCatus commented on #294
我不知道，你可以试试看。有些人说会卡，另一部分人则说不卡。反正我是不怎么卡啦……而且新版优化的也算是不错，除了加载时和访问第一个网页时会有点延迟，其他的不太影响使用。

[2015-02-18 07:11] syswow commented on #276
:+1:

[2015-02-18 07:51] syswow commented on #6
一个人维护一开源项目确实很不容易，@FelisCatus  :+1:  :smile:

[2015-02-18 08:55] Magicloud opened #295 "图标上的数字是什么意思？"
抱歉作为issue提出，大概看了一下，没找到说明。

[2015-02-18 08:57] syswow commented on #295
@Magicloud
在当前页面中，加载失败的链接的数量。

[2015-02-18 09:12] Magicloud commented on #295
多谢。那数字似乎还是有点出乎意料，我再观察观察……

[2015-02-18 09:12] #295 closed

[2015-02-18 09:30] syswow commented on #295
这样可以更加方便的添加条件了。 :smile:

[2015-02-18 10:26] Tiers opened #296 "页面瞬间发出大量请求的处理"
打开豆瓣就出现CPU占用20+ chrome卡死的问题 而且该拓展程序图标处出现1000+的小黄数字 疑似BUG?

SwitchyOmega 2.3.6
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-18 10:58] syswow commented on #296
Hi, @Tiers
麻烦上传Error Log， 我刚试了豆瓣，没有问题。

[2015-02-18 11:10] FelisCatus commented on #296
我只能想到两种可能，一种就是真的有那么多请求（比如豆瓣网站上有“若失败则重新加载”的死循环），另一种则是 Chrome 那边做错了什么。
但此外，也不排除和其他扩展冲突的情况……建议检查广告屏蔽扩展等。

[2015-02-18 11:29] Loticyang commented on #294
在一些国内的网站也会显示未加载的项目

[2015-02-18 11:51] FelisCatus commented on #293
我要重新开启这个 issue 。似乎这种情况还是存在的，刚才我自己测试过。

[2015-02-18 11:52] FelisCatus commented on #294
@Loticyang 未加载不代表一定需要代理。可能是网络原因、或者网站服务器本身的问题等等。也可能是由于 AdBlock 等扩展，这个见 #293 ，正在紧急修复中。

[2015-02-18 12:12] #293 closed

[2015-02-18 12:45] FelisCatus commented on #293
v2.3.7 已经搞定。

[2015-02-18 13:07] luovuus opened #297 "图标上的数字什么意思"
RT

[2015-02-18 13:17] syswow commented on #297
#295  参见这个。

[2015-02-18 13:22] syswow opened #298 "add about page"
Hi, @FelisCatus
现在SwitchyOmega 无法看到当前的版本。不是很方便的确定所用的是否是最新的。
建议把版本信息加进Menu， 或者Option里。 :smile:

[2015-02-18 13:26] Loticyang commented on #294
刚刚看到38min前已经放出v2.3.7-----------

大过年的还这么忙,多谢,也祝你新年快乐

[2015-02-18 13:51] dingyaguang117 commented on #6
我其实是很想搞的，不过是做后端的对Chrome开发不熟，实在是有点费劲

感谢下LZ

[2015-02-18 15:32] mayhuny commented on #218
感谢！！新年快乐~

在 2015年2月9日 下午4:34，FelisCatus <notifications@github.com>写道：

[2015-02-18 17:04] Tiers commented on #296
@syswow 已卸载= = 卸载后一切正常

[2015-02-18 17:05] Tiers commented on #296
@FelisCatus 卸载之后啥事没了= = 应该不是广告屏蔽问题 难道是豆藤?

[2015-02-18 17:16] syswow commented on #296
@Tiers 你再装下试试，作者之前更新了一个新版本。

[2015-02-19 02:31] Loticyang commented on #298
早就想说了

[2015-02-19 04:37] #297 closed

[2015-02-19 04:42] FelisCatus commented on #296
谁知道有什么……到现在为止我确实没碰到别人有这类情况。那么很大概率会是“豆藤”的问题。
我只能说，如果真不能用，可以去选项里把检测请求这个选项关掉然后重启浏览器即可。不影响正常使用。

此外，我准备去加一个上限，如果超过多少请求则不显示或者短期内不跟踪请求了。这能有效应对网站或者其他扩展错误行为的情况。

[2015-02-19 04:43] FelisCatus commented on #298
既然提出来了，那我再多说点吧。现在的软件缺少一个“关于”界面，无论是版本号、贡献者列表还有什么的都没地方显示。要做就一起做了吧……

[2015-02-19 04:51] syswow commented on #296
@FelisCatus  我这边有个问题，全局代理GoogleDrive，SwitchyOmega显示50+ 。

[2015-02-19 11:26] Rurik19 opened #299 "System proxy selection"
Why there isn't a choise "System proxy" in menus in auto switch and in site filter menu?

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 YaBrowser/14.10.2062.12544 Safari/537.36

[2015-02-19 12:14] FelisCatus commented on #299
See #289.

[2015-02-19 12:14] #299 closed

[2015-02-19 12:55] Tiers commented on #296
@FelisCatus @syswow  重装后打开豆瓣依然卡死  试了下卸载豆藤 目前还没发现卡死 可是为什么之前都可以兼容 也就是说两者不兼容去其一即可 但是问题出现在两天前 按拓展更新时间豆藤最近一次更新是1月23 Omega最近一次好像跟问题出现时间相符 因此我怀疑更多可能是Omega的问题 另附上错误报告Options << Options#applyProfile [
    "system"
]
Options << Options#updateProfile [
    [
        "system"
    ]
]
Options << Options#updateProfile []
external proxy:  {
    "levelOfControl": "controllable_by_this_extension",
    "value": {

[2015-02-19 13:04] syswow commented on #296
@Tiers Hi, 我刚装了 豆藤测试了，没有问题，SwitchyOmega也没有数字显示。我的Chromium是Version 40.0.2214.111 Ubuntu 14.04 (64-bit)。去广告我装的ublock，你试下看看。
因此，我觉得应该是豆藤和去广告的问题吧。

[2015-02-19 13:10] Hs-Yeah commented on #296
Chrome for Mac 42.0.2305.3 dev (64-bit) + SwitchyOmega 2.3.7 + Adblock Plus + 豆藤，打开豆瓣不卡，没数字

[2015-02-19 13:23] Tiers commented on #296
@syswow  我的chrome跟你一样的版本 广告是AdBlock AdBlock最近更新2 13 怎么感觉可能性不是很大

[2015-02-19 13:24] Tiers commented on #296
@Hs-Yeah 我打开豆瓣也不卡 但是打开哪个电影的详细页面就卡死了

[2015-02-19 13:27] Hs-Yeah commented on #296
@Tiers 打开了两个电影的详细页面，看了长评、讨论，都没有问题

[2015-02-19 13:30] Tiers commented on #296
@syswow  @FelisCatus 有没有可能是我改了google hosts的原因

[2015-02-19 13:42] binaijing commented on #284
![default](https://cloud.githubusercontent.com/assets/5078268/6267567/0d4a4b48-b880-11e4-809d-14bf4af2a24d.png)

[2015-02-19 13:56] syswow commented on #296
@Tiers HI
我已经重现你的问题了。我SwitchyOmega的数字已经600+了。 等下我上传个视频。
我认为可以肯定的是
1。 和google代理有关。
2。 和豆藤
3。 和SwitchyOmega
装上豆藤，我把连接切换成 全局代理(shadowsocks)之后，就开始这样了。
豆藤会链接国内的资源网盘，这样会发送很多请求，因为用了代理那些请求相当于从国外发往国内，一般这些访问，国内的网盘会限制访问次数和速度。这样下来SwitchyOmega就把那些请求当作 失败资源了。 豆藤不断的请求，SwitchyOmega不断的计数，结果很快就能突破1000+。:smile:
@FelisCatus 我们可以限制计数上限，或者相同资源的不重复计数，再然后实在连不上就放弃那个链接请求算了， 你觉得呢？

[2015-02-19 14:09] syswow commented on #284
![screenshot 2015-02-19 22 05 44](https://cloud.githubusercontent.com/assets/10815286/6267963/9b5b7792-b883-11e4-9755-e68fa5cefcf2.png)
@binaijing  这个AutoSwitch里面的规则都没有用到GoAgent 吗？如果都没有的话，那就是bug了。

[2015-02-19 14:15] binaijing commented on #284
![default](https://cloud.githubusercontent.com/assets/5078268/6268074/b93c7c74-b884-11e4-8107-1f29481e5180.png)
![Uploading 无标题.png . . .]()
都没有啊，我确定把关于goagent的全部删掉了或者改掉了

[2015-02-19 14:18] FelisCatus commented on #284
感觉像是 bug ，传配置文件吧。导出配置文件后上传到 https://gist.github.com ，我来看是不是有问题。

[2015-02-19 14:20] FelisCatus commented on #296
1. 解决方案我之前说过了：加一个上限，如果超过多少请求则不显示或者短期内不跟踪请求了。这能有效应对网站或者其他扩展错误行为的情况。（比如一个页面最多跟踪100个错误。）
2. 但是我要说这毫无疑问是豆藤的问题，做了无限的重试请求，不管有没有SO，必将消耗大量系统和网络资源。 SwitchyOmega 只不过是把问题暴露了而已。在我做第一点的同时，我建议 @Tiers 去豆藤报个bug，告诉他们不要无限重试。

[2015-02-19 14:21] FelisCatus commented on #296
3: 以及， @Tiers 先去选项界面把跟踪网络请求关掉吧，然后重启Chrome就能暂时解决。等我更新了再通知您。

[2015-02-19 15:41] Anebrithien opened #300 "打开开发者工具时显示未加载资源"
![issue01](https://cloud.githubusercontent.com/assets/5357409/6269665/b3f82b22-b88f-11e4-91ac-a6fe5ff61fbd.PNG)

如图，计数器似乎是将
[code]
也计算在内了。按理这种被Adblock Plus主动拒绝加载的资源，不应该算在其中。
目前在Google Plus页面观测到此现象，另外：使用“自动切换”或者全局代理都会有计数器显示，但只有“自动切换”时点击图标才会提示“n个资源未加载”，不知道是否设计如此。

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-20 00:36] Tiers commented on #296
@FelisCatus 已取消请求 现在一切正常 多谢 我去豆藤反应下

[2015-02-20 00:37] Tiers commented on #296
@syswow 多谢 取消请求已解决问题

[2015-02-20 04:06] FelisCatus commented on #300
ERR_BLOCKED_BY_CLIENT 的错误已经在代码里忽略了，此外也做了很多和广告屏蔽相关的检查。我觉得不是这个情况。（而且如果真的算了这个错误的话应该提示是2个资源未加载，而非1个。）

有没有更详细的测试说明？比如角标是在页面加载途中就显示的，还是在页面加载完成后几秒再出现的？目前为止SO最常见的误判就是某个请求实际上已经完成或已经取消，但SO仍然认为其超时的情况。可能可以留意这些。

[2015-02-20 04:09] FelisCatus commented on #300
我自己测试了 G+ 似乎没这个问题。显示是AdBlock 屏蔽了1个资源（ERR_BLOCKED_BY_CLIENT），然后SO并没有提示有资源未加载。

[2015-02-20 06:45] Anebrithien commented on #300
新打开的G+页面也是毫无问题，显示ERR_BLOCKED_BY_CLIENT时SO并未提示。我一般是保持G+页面常开，暂离一段时间回来就能看到这个。

看起来似乎还得排查下其他插件的影响，我试试看。

[2015-02-20 09:59] Loticyang commented on #300
我用的软件过滤,现在上163都会有20+的未加载资源,我觉得这个问题似乎难以避免,要么选择不显示计数,要么人工无视计数

[2015-02-20 09:59] Anebrithien commented on #300
我也认为与广告屏蔽插件无关了，因为我仅启用SO也能出现这个现象。

电脑挂着G+页面放一晚上还不是必现，下午我在尝试的过程中发现页面加载完毕都是正常，审查元素有可能会出现提示，这是[视频](https://drive.google.com/file/d/0B_ucs0fkPpEjeUEyYnRLdVJ1V3c/view?usp=sharing "Google Drive")

在写这个过程中，我又尝试了G+, Drive, Gmail网页，完全加载完毕后按F12就会有提示，即便我指定全局代理也是如此。点插件图标缺不会提示未加载资源，仅仅是有个数字而已，完全不懂发生了什么，从哪里可以找到更多的细节？

[2015-02-20 10:03] Loticyang commented on #300
....我不认为与广告屏蔽插件(软件)无关,
我只是觉得不管是你用插件拦截url或者本身加载就没有成功的url,这个扩展都会提示

[2015-02-20 10:13] Anebrithien commented on #300
@Loticyang 这个issue的标题现在只是挂着的羊头了，按说应该没法判断未加载的资源是否因gfw作怪造成的吧？

而且，我觉得这个功能的本意应该是告诉用户，需要新增怎样的规则。比如我打开 *.google.com看到了这个提示，应该告诉我是哪个URL加载失败，我才好去添加规则，而不是一点上去只能提示 *.google.com本身，说不准是 *.googleusercontent.com没加载呢。
现在么，关掉这个提示也好。

再一个，全局代理按F12让提示出现了，点上去又什么都没有，到底怎么回事？

[2015-02-20 10:55] binaijing commented on #284
怎么传 https://gist.github.com？导出来是bak后缀的文件

[2015-02-20 11:56] FelisCatus commented on #300
1. 非自动切换模式下，暂时没有做菜单的界面。可以试试自动切换模式，就可以看到具体是哪些规则未加载了。
  * 非自动切换模式的界面还在设计中。大致思想是可以看到详情但无法加入规则。（因为不是自动切换嘛，当然没有办法添加规则）
  * 如果是`*.googleusercontent.com`未加载，提示的规则是`*.googleusercontent.com`，这一点请放心。
  * 我承认这个很不友好，但我的考虑是先让用户至少能看到提示。看到提示即使无法添加规则，也能明白发生了什么。（比如应使用代理情景模式，但用户设置的是直接连接，此时数字提示就可以让用户意识到需要换成代理。）
2. 关于F12：似乎开发者工具会请求一些 source map 等资源。关于这一点建议看开发者工具的控制台输出。如果那里什么也没显示，我也不知道该怎么办了。
3. 再说一次，扩展拦截的URL是有做判断的，和Ad

[2015-02-20 12:16] Anebrithien commented on #300
@FelisCatus  感谢回应，最初我判断失误，的确与AdBlock不冲突。
我最初G+页面挂一晚上，早起看到一堆未加载资源的时候，点进去看到提示添加 *.google.com规则，这一点与我按F12后的**效果**是一致的。关键在于，前者不是必现的，得挂机多久或者有多少条post出现，再或者post里得有什么链接、图片？
现在已知按F12会出现，而且还是特定网页才行，控制台里也没找到任何线索。

[2015-02-20 14:47] Hs-Yeah commented on #296
今天我也遇到豆瓣页面 SwitchyOmega 计数无限增加的情况了，应该就是跟 @FelisCatus 说的一样，是豆藤无限重试请求的缘故

[2015-02-20 16:51] XiaoSK opened #301 "Bug: addConditionForDomains(...) 第一个参数未对 IP 地址进行正确处理"
![err](https://cloud.githubusercontent.com/assets/4531292/6305056/6eea349c-b963-11e4-8fce-4a47e2878e22.png)

**问题描述：**
在自动切换模式但不限于该模式下，插件自动检查出访问失败的请求，会做出提示，但提示列表显示对于 IP 地址的提示就不对了。
比如，host 为域名的 www.z.cn 可以正常处理为 *.z.cn ，但是 host 为 IPv4 地址的 74.125.235.200 会处理为 *.74.125.235.200，host 为 IPv6 地址的 2404:6800:400a:801::1001 也会出现处理错误。

**测试情况：**
必现，确认为设计缺陷。

**解决建议：**
对于 IPv4 地址或 IPv6 地址，应该区别于普通域名进行识别并使用不同的提示

[2015-02-20 20:33] Hs-Yeah commented on #273
其实我觉得虚情景模式的名字改一下，比如叫做代理选择器什么的，同时提示用户这是在自动切换和代理服务器之间的中间层（一开始我以为是在自动切换之上）。

同时在 UI 上将情景模式分为三组：
+ 将代理服务器这些情景模式分在一组，作为基础代理；
+ 代理选择器，也就是虚情景模式分在一组，用于选择使用哪个基础代理；
+ 自动选择分在一组，所有针对网址的条件规则添加在自动选择中，满足规则就导向代理选择器，代理选择器指定需要走哪个基础代理。

这样，自动切换在最高层，代理选择器在中间层，基础代理在最底层。用户在使用时先建设好基础代理，然后在使用时通过代理选择器选择需要走的代理服务器，发现有需要走代理的网址时就添加规则到自动切换。

当然，满足规则时可以跨过代理选择器，直接导向基础代理；同时，代理选择器也可以导向其他代理选择器或自动切换以实现链式筛选。

这应该没有改变代码逻辑，不过从用户角度来说，只需

[2015-02-20 22:55] gip0 commented on #279
**Summary**
The way this chrome extension designed is not user friendly enough. I happened to spend several minutes figured it out. This instruction is for SwitchOmega 2.3.7, Feb 2015.

**Preparation**
1. a proxy, I used ssh -D
2. a rule list, which decides whether specific traffic going through proxy or not, I used [autoproxy list](http://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt)

*

[2015-02-20 22:57] gip0 commented on #239
see #279 for setup instructions

[2015-02-21 02:12] FelisCatus commented on #279
@gip0 Thanks for sharing. However these instructions does not belong to this issue (and may not suit well in the issue tracker). Besides, [a wiki page](https://github.com/FelisCatus/SwitchyOmega/wiki/GFWList) is already created with roughly the same steps in Chinese with screenshots and instructions. You may translate that into English if you want to help.

[2015-02-21 02:12] #279 closed

[2015-02-21 02:29] FelisCatus commented on #301
感谢您详细的测试报告。

问题1：以IP地址为基础自动创建规则时，都用的是`*.`加地址。任何自动创建通配符字符串的地方都有这个问题。以及，`popup.jade`里有硬编码`*.`加地址的情况存在，但只对于用户显示，不影响逻辑。这部分也要改。
解决方式：重构移除popup.coffee中的相应代码，迁移到 omega-pac 模块。IPv4/IPv6地址在`Utils.getBaseDomain`已经有判断，但此判断未用于创建规则。抽取判断逻辑，建立一个新的函数。

问题2：`*.z.cn`未匹配`z.cn`？亲自测试，结果并非如此。这部分[有单元测试保证](https://github.com/FelisCatus/SwitchyOmega/blob/master/omega-pac/test/conditions.coffee#L113-L115)。
以及我刚才自己试过，没有此问题。

[2015-02-21 02:37] FelisCatus commented on #284
似乎是有一个叫`Preload`的自动切换模式删除时，其对应的规则列表未删除。不知道是什么情况……

我建议是重新新建一个名字为`Preload`的自动切换模式（建立后应该会自动关联之前没删掉的那个规则列表），保存选项，然后再试着直接删除Preload。删除后试导出错误日志，也许能有什么线索。

[2015-02-21 02:41] FelisCatus commented on #296
已经可以确认是豆藤的问题了。而且CPU占用是由于豆藤发出大量网络请求的原因，和SO并不相关。SO上那个数字标签看着碍眼，但几乎没有任何性能问题。没有SO的时候，大量网络请求也会消耗那么多资源（这一点已经由其他豆藤用户确认过了），但没有任何提示，因此反而发现不了这个问题。

[2015-02-21 02:45] FelisCatus commented on #239
I'm closing this issue for the following reasons:

1. This is certainly caused by wrong configuration in Proxy Profile. Either the host and port settings is wrong, or the proxy server is not responding or does not exist.
2. No details or feedback is provided in the last four weeks.

[2015-02-21 02:45] #239 closed

[2015-02-21 02:50] FelisCatus commented on #65
这边到底要怎么办……能不能给个回应。哪怕最后发现是Chrome的问题也行啊……

[2015-02-21 02:56] FelisCatus commented on #166
暂时先关闭这个了……如果再次发现问题的话另外开 issue 吧。

[2015-02-21 02:56] #166 closed

[2015-02-21 03:00] FelisCatus commented on #263
暂时先关闭了。这个问题似乎是个例，而且没有提供配置和错误日志的情况下实在是不知道发生了什么。

此外GoAgent项目或者其他试图导入GoAgent配置的用户从没反映过这类问题……我导入过没发现问题。怀疑和之前的特定设置有关，或者之前配置已经损坏。

如果有详细信息请重新开启此 issue.

[2015-02-21 03:00] #263 closed

[2015-02-21 03:11] testlxf commented on #263
先不管它了。现在goagent已不能用了。改用影梭了。
2015年2月21日 上午11:00于 "FelisCatus" <notifications@github.com>写道：

[2015-02-21 03:40] XiaoSK commented on #301
Thanks.

[2015-02-21 03:59] Loticyang commented on #300
和扩展是不冲突,但是我用的是adbyby啊,过滤广告的软件冲突不

[2015-02-21 04:08] FelisCatus commented on #300
@Loticyang 对于防火墙或者流量过滤等确实是会提示的。不过你也可以看看请求的错误有没有什么明显特征，也许能在扩展里检测这种屏蔽也说不定。

[2015-02-21 07:44] bitweng opened #302 "添加到情景模式的资源不可编辑"
这个域名应该是可以编辑的才好，像现在这个，我想直接将 *.wp.com添加进去都不行，还要打另一个界面修改。
![switchy](https://cloud.githubusercontent.com/assets/1287611/6313343/226a83ce-b9e0-11e4-9bbd-3f9e4def5edf.png)

[2015-02-21 12:10] #65 closed

[2015-02-21 12:11] FelisCatus commented on #65
Closed per OP's request. The issue cannot be reproduced any more.

[2015-02-21 12:14] FelisCatus commented on #302
1. `i2.wp.com` 应该生成 `*.wp.com` 的规则才对。似乎是 #276 考虑的不周全，等下去改下。
2. 这个需要决策到底要不要做编辑功能。现在弹出菜单整体比较卡（#162 ）

[2015-02-21 12:16] FelisCatus commented on #276
测试用例： i2.wp.com
应得结果： `*.wp.com`
实际结果： `i2.wp.com`

这似乎是误判了吧……考虑到两层顶级域名只出现在和国家顶级域名组合的情况，而国家顶级域名都是2个字符，因此修正规则如下（粗体字为新增）：

* 对于三段以上的域名，若倒数第二段长度为1或2， **且最后一段长度为1或2** ，则认为是顶级域名的一部分，如`google.co.uk`或`google.co.jp`之类的，保留最后三段。

[2015-02-21 12:32] bitweng commented on #302
如果像这样 https://github.com/FelisCatus/SwitchyOmega/issues/276#issuecomment-73836295 思考的话
我觉得还是维护一个域名列表更好。
域名列表可以用个脚本从这里抓取 http://www.iana.org/domains/root/db ，每发一个版本抓取一次(或者其它形式)；
在程序中，我的思路是这样，先用域名列表处理，若在域名列表中没有匹配，再按照现有的域名规则处理。
这样的话，准确性应该几乎接近完美了。

[2015-02-21 13:31] bitweng commented on #302
我研究了下域名后缀的构成，http://www.iana.org/domains/root/db ，发现是这样的：
如果是不带有国别的域名(只有一段)，type就是generic(有一两个是sponsored和generic-restricted)，直接就是com、co 等这些；
如果是带有国别的域名(两段)，是由type为generic 加上 type为country-code 构成的，像com+cn = com.cn, co+uk=co.uk。
思路可以这样，维护两个域名列表，A为generic,B为country-code。
比如这个 www.google.co.uk, 解析时，先拿uk从B中查找，如果找不到，则表示这个是generic的域名，则生成的过滤结果是 *.co.uk。若找到了，继续拿co从A中查找，那么最后得到的过滤结果肯定是三段的 *.google.co.uk 。
又比

[2015-02-21 15:02] FelisCatus commented on #276
感觉问题还很大，比如 `.com.cn` 等情况，并非是长度为2的……看来要重新考虑了。

[2015-02-21 15:03] FelisCatus commented on #302
麻烦到 #162 讨论吧，我重新开启了那边。

[2015-02-21 15:04] FelisCatus commented on #276
引用 @bitweng 的[评论](https://github.com/FelisCatus/SwitchyOmega/issues/302#issuecomment-75371728)：

[2015-02-21 15:11] FelisCatus commented on #276
以及， @bitweng 的建议的问题在于……一大堆新的 generic TLD 正在来袭。以`.wedding`为例，其归类为 generic ，但比如`wedding.cn`并非 generic + country-code 共同作为一个域名的范畴。

在这里我建议我们使用 [Public Suffix List](https://publicsuffix.org/) 的数据。（ GreaseMonkey 也在使用这个数据源，效果还不错。）

当然唯一的问题在于这个列表很长……而且要想办法弄进源代码里去。

[2015-02-21 15:18] FelisCatus commented on #276
或者干脆就用[这个npm模块](https://www.npmjs.com/package/public-suffix)搞定。

[2015-02-21 16:37] syswow commented on #276
@FelisCatus
还有几个可以参考下，对比一下它们的效率 [publicsuffixlist.js](https://github.com/gorhill/publicsuffixlist.js) , [tld.js] (https://github.com/oncletom/tld.js).

采用了TLD，这件事就很方便啦，eg: getDomain("abc.abc.abc"). :smiley:

如果打算自己实现放进源代码的话，我觉得也不错。可以不用做的那么全面，应该有一个getDomain()就行了。刚看了一下[PHP版的实现] (http://pear.php.net/package/HTTP_Request2/docs/latest/__filesource/fsource_HTTP_Request2__HTTP_Request2-2.2.1HTTPRequest2C

[2015-02-22 16:10] syswow opened #303 "在ubuntu上编译失败"
@FelisCatus Hi
之前在Windows上编译成功，但现在在Ubuntu14.04上却出错了。
提示信息： https://gist.github.com/syswow/1167244b8811ed7ba66d
请帮忙看下是怎么回事。

[2015-02-23 04:47] FelisCatus commented on #303
[This is most likely a problem with the coffeelint package](https://gist.github.com/syswow/1167244b8811ed7ba66d#file-so-build-error-L5).

暂且可以试试看修改 `omega-pac/package.json`，把 `grunt-coffeelint` 限定下版本：

[code]

然后再 `npm install` 试试。

[2015-02-23 05:28] syswow commented on #303
改了之后在然后在omega-build， 运行npm run deps，提示少了browserify， 然后sudo npm install browserify才解决问题（不能加-g，不知道为什么）， 但之后又出现问题git clone Permission denied 的问题。
详细log请看：https://gist.github.com/syswow/c643e8ca40334d8de030

[2015-02-23 06:04] FelisCatus commented on #303
我记得 README 里应该说过 npm 需要 2.0 以上的吧……

[2015-02-23 06:30] syswow commented on #303
恩，我用的不是官方源的nodejs，没注意npm版本只有1.4.28,
我现在升级npm再试试。

[2015-02-23 07:14] syswow commented on #303
@FelisCatus 编译成功，Thanks。
我还有个问题为什么 npm install npm -g. 的结果npm还是原来的版本；npm install -g npm的话才行？

PS： 期间还有个 “npm WARN locking Error: EACCES, open”的错误。要修改权限
    chown -R syswow /home/syswow/.npm

[2015-02-23 13:52] volltin opened #304 "建议加入域名/资源重定向功能"
感谢 @FelisCatus  辛苦开发 :+1:

建议整合一些 https://github.com/ranjez/Switcheroo/ 的功能，就是对某些域名或者静态资源资源重定向，减少加载失败。

最典型的例子就是如果把```http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js```重定向到```ajax.useso.com```或者```lib.sinaapp.com```，在不翻墙状态下，很多网站打开缓慢甚至功能不正常的问题都可以解决，而且有时候这样比翻墙加载来得更快。

[2015-02-23 15:46] FelisCatus commented on #304
想了很久，还是别做这个了吧。归根结底SwitchyOmega还是设置软件，更改请求什么的并非扩展的本意，而且这一步走得太远了。

而且，既然同样的功能其他扩展也可以做，且不需要依赖SO的核心代码，那么就没必要非要集成在一起，对吧？

[2015-02-23 15:46] #304 closed

[2015-02-24 09:43] syswow commented on #276
@FelisCatus 现有的判断方法把 www.google.com.sg, 识别为 com.sg了。

[2015-02-24 09:53] maxchendt opened #305 "bypass IPv6"
ver 2.3.7
购买了 vps 配置 shadowsocks，profile 名字为 bwg, 完整配置导出如下

{"+Auto Switch":{"color":"#55bb55","defaultProfileName":"direct","name":"Auto Switch","profileType":"SwitchProfile","revision":"149fbcc72e4","rules":[]},"+__ruleListOf_Auto Switch":{"color":"#dd6633","defaultProfileName":"direct","format":"Switchy","matchProfileName":"direct","name":"__ruleListOf_Auto Switch","profileType":"RuleListProfil

[2015-02-24 09:55] maxchendt opened #306 "bypass IPv6"
ver 2.3.7
购买了 vps 配置 shadowsocks，profile 名字为 bwg, 完整配置导出如下

{"+Auto Switch":{"color":"#55bb55","defaultProfileName":"direct","name":"Auto Switch","profileType":"SwitchProfile","revision":"149fbcc72e4","rules":[]},"+__ruleListOf_Auto Switch":{"color":"#dd6633","defaultProfileName":"direct","format":"Switchy","matchProfileName":"direct","name":"__ruleListOf_Auto Switch","profileType":"RuleListProfil

[2015-02-24 09:55] #305 closed

[2015-02-24 11:47] likani3 opened #307 "CPU占用率略大"
现在这个版本发现CPU占用很大，至少我这里是这样的，一般占用了25%，CPU是i5-2450M

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-24 14:42] zzp0 opened #308 "工具栏图标无法明显区分当前网页是直连还是代理"
不如老版本的图标那样明显，不知是作者有意为止，还是瑕疵？
*不过还是感谢作者的工作* ;-)

[2015-02-24 17:18] syswow commented on #308
Hi @zzp0
#107 已经在讨论这个问题了，现在还没有具体的改进与设计，欢迎给出建议啊。

[2015-02-24 17:24] syswow commented on #307
Hi @likani3
可以说下你是在访问哪个网页吗？ 我这边测试SO的CPU占用正常。
另外是在页面加载时瞬间占用25%，还是持续25%呢？

[2015-02-24 17:45] syswow commented on #306
Hi @maxchendt
ipv6应该是支持的，你试下( code.google.com)这个看看

参考 http://bgp.he.net/net/2607:f8b0::/32

[2015-02-25 00:55] maxchendt commented on #306
似乎还是不行，还是走 bwg 的 shadowsocks 代理
2015-02-25 08:43:22 INFO     connecting docs.google.com:443 from 127.0.0.1:46933
2015-02-25 08:43:36 INFO     connecting mail.google.com:443 from 127.0.0.1:46935
2015-02-25 08:43:38 INFO     connecting plus.google.com:443 from 127.0.0.1:46937
2015-02-25 08:43:38 INFO     connecting clients6.google.com:443 from 127.0.0.1:46939
2015-02-25 08:43:38 INFO     connecting

[2015-02-25 02:51] zzp0 commented on #107
我觉得如果站在普通用户角度看，平时上网我只想知道当前网页是否被墙，至于其它都是技术细节，所以就两种状态（开/关），保持外圆环颜色不变（灰色）：1）如果没有墙，中间圆与外环颜色一致，表示关；2）如果被墙，中间圆为绿色，这样好像电源指示灯的颜色，表示开。我不太关心当前使用的是什么 profile。不知大家觉得如何？

[2015-02-25 02:55] leeyiw opened #309 "Can SwitchyOmega support SOCKS5 Username/Password Authentication?"
Currently I can't set Username/Password for SOCKS5 proxy.

[2015-02-25 03:08] hcwhan opened #310 "加大 自动规则 的 列宽 或者 当 点击进入 输入框 后 放大 输入面积"
加大 自动规则 的 列宽 或者 当 点击进入 输入框 后 放大 输入面积
以便 较长正则的编辑

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36

[2015-02-25 03:09] hcwhan commented on #310
放大 输入面积  可以做成类似 规则列表正文 样式

[2015-02-25 03:10] hcwhan commented on #310
不是强烈需求 只是建议
如果感觉更改量相对需求量没那么大 可以不做
谢谢

[2015-02-25 03:11] hcwhan commented on #310
现在的编辑源代码窗口已经很好用了

[2015-02-25 03:22] marzkto opened #311 "有未加载资源时，弹出菜单加载过慢"
昨天刚刚从Sharp升级到Omega，发现Omega点击拓展图标后几乎延迟了1秒才出现菜单，然而Sharp却几乎没有延迟，请问我需要设置什么吗，谢谢。

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.93 Safari/537.36

[2015-02-25 03:40] marzkto commented on #311
https://github.com/FelisCatus/SwitchyOmega/issues/211
https://github.com/FelisCatus/SwitchyOmega/issues/162
刚发现我不是一个人啊=-=
下拉菜单界面的弹出时间间隔有1秒。
从其他情景模式切换到自动切换的模式时大概有半秒延迟，而反过来却几乎无延迟

[2015-02-25 03:42] hcwhan commented on #107
我觉得
1.自动切换 :                      内圈白                    外圈  无适配规则为灰  有适配规则为代理设置色                (意思是内圈白直连为主要 外圈为根据规则连接)
2. 强制某代理模式:           内外圈全为代理设置色  (意思是全走某代理)
3直接连接(无代理):          内外圈全为白                 (意思是全直连)
4系统代理:                       内圈黑                  外圈白  (意思是内圈黑 为浏览器外来控制规则)
白色意味直接连接   有色代表代理

[2015-02-25 03:44] hcwhan commented on #308
我觉得
1.自动切换 : 内圈白 外圈 无适配规则为灰 有适配规则为代理设置色
(意思是内圈白直连为主要 外圈为根据规则连接)

强制某代理模式: 内外圈全为代理设置色 (意思是全走某代理)
3直接连接(无代理): 内外圈全为白
(意思是全直连)

4系统代理: 内圈黑 外圈白
(意思是内圈黑 为浏览器外来控制规则)

白色意味直接连接 有色代表代理

[2015-02-25 03:53] hcwhan commented on #107
简单直接

[2015-02-25 03:55] hcwhan commented on #107
简单 直接 易懂 双色代表规则适配 单色代表 某种代理

[2015-02-25 03:55] hcwhan commented on #308
简单 直接 易懂 双色代表规则适配 单色代表 某种代理

[2015-02-25 05:12] netroby commented on #71
@FelisCatus I am testing the latest switchy omega now.

[2015-02-25 05:18] netroby commented on #71
[code]

this can be ommitted.

you may add more options besides switchy and autoproxy

[2015-02-25 05:33] netroby commented on #71
By using this code, it is amazing faster than before.
[code]

Nice job

[2015-02-25 05:35] netroby commented on #311
Upgrade your chrome to latest version, I can see no problem there.

[2015-02-25 05:38] netroby opened #312 "Please ignore this kind of resoure unable to load"
net::ERR_INCOMPLETE_CHUNKED_ENCODING

[2015-02-25 05:41] zzp0 commented on #107
你说的这些很好，也许是我平时使用环境比较简单，没那么多需求。这让我想起一些程序的设置界面，例如 VLC 默认只显示少数设置选项，点击 Show All 显示全部选项，也许没有可比性，权当瞎说;-)

[2015-02-25 06:05] marzkto commented on #311
刚升级了40.0.2214.94
但是下拉菜单的呼出速度并没有明显改善，与其他拓展相比还是慢。
猜测是因为新UI设计导致硬件占用高造成的=-=

[2015-02-25 06:07] netroby commented on #311
Latest Version 40.0.2214.115 (64-bit)

[2015-02-25 08:05] marzkto commented on #311
换了个32位的40.0.2214.115，和40.0.2214.94表现没什么区别=-=
据说现在很多插件比如支付宝证书什么的都不支持64位的，所以我也从来没用过64-bit版本

目前看起来两者不可兼得啊-_-//

[2015-02-25 09:04] Tback1 commented on #311
我也出现了这个问题，但是这个问题不是因为代理引起的，而是因为检测未加载资源造成的，但是前面的版本添加检测后，没有出现这个问题。  @FelisCatus  是因为3.27的检测调用上改变了某些流程照成的么？

[2015-02-25 10:57] Sirapoy opened #313 "所以YouTube用户的头像都显示不了？"
SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-25 12:37] vicentory commented on #311
的确是这样，还可以接受，我以为是电脑配置低的原因。

[2015-02-25 14:52] maxchendt commented on #306
注意到
Match any URL containing an IP literal within the given range. The IP range is specified using CIDR notation.
google.com 输入的 URL 是域名，不是 IP，因此无效。

发现可以这样解决 google 的网站， bypass list 里面写 *google*.com 即可把如下多个基础域名包含进去
*googlevideo.com
*google-analytics.com
*googleusercontent.com
*googlecode.com

[2015-02-25 14:52] #306 closed

[2015-02-25 23:09] LakeChan opened #314 ""Resource not load" detect not correct"
When i open www.google.com.hk and failed to open it,it shows i should add " *.com.hk " to rule list rather than add " *.google.com.hk "

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36

[2015-02-26 02:01] randalchai opened #315 "unable connect to Google"
Dear Administrator,

i'm can't to access google webpages since I reinstalled my computer in last year;
but i can open other website(voanews.com and so on) when use swithyomega with goagent.

please help me.

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36

[2015-02-26 10:45] rjahanbakhshi opened #316 "SwitchyOmega button icon"
Hello,

Thank you for this great chrome extension. One question. What is the number on the SwitchyOmega button icon? It's really irritating because I think there is a notification or something in the chrome. Is it possible to turn it off somehow?

SwitchyOmega 2.3.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36

[2015-02-26 12:37] treblam opened #317 "代理在隐身窗口下无效"
设置的代理在隐身窗口下无效，记得switchy sharp之前是可以的，omega不支持隐身窗口代理。

[2015-02-26 12:59] FelisCatus commented on #309
See #291

[2015-02-26 12:59] #309 closed

[2015-02-26 13:00] FelisCatus commented on #310
请给一张在您屏幕上的截图，以便估测实际需要的宽度。每个人的字体和屏幕分辨率不同，可能会不太一样……

[2015-02-26 13:00] FelisCatus commented on #308
请统一在 #107 讨论。

[2015-02-26 13:00] #308 closed

[2015-02-26 13:03] FelisCatus commented on #71
[code]
This line is for marking the rule list as omega style. If such line is missing, SwitchyOmega will try to sniff the rule list content and decide whether to use omega style or not. The sniffing works most of the time, but I don't think we should rely on that behavior.

[2015-02-26 13:03] FelisCatus commented on #312
Yes, we would definitely want to do that.

[2015-02-26 13:05] netroby commented on #71
Add another checkbox can resolve this problem.

[2015-02-26 13:05] FelisCatus commented on #313
代理服务器或网络问题，与 SwitchyOmega 无关。如果您正在使用 GFW List ，您也可以去那边提交反馈。

[2015-02-26 13:05] #313 closed

[2015-02-26 13:07] FelisCatus commented on #311
我觉得我需要好好检查一下。正好检测那边的显示要做些改进，就一起做了吧。

[2015-02-26 13:09] FelisCatus commented on #314
Thanks for the report. This is caused by a naive and wrong implementation of the "base domain extraction" algorithm and is already tracked at #276. I will try to fix this in the next version.

[2015-02-26 13:09] #314 closed

[2015-02-26 13:10] FelisCatus commented on #316
This is the count of web requests (of resources in the current tab) that fails to load. You can turn it off in the Options > General > Network Requests if you don't like it.

[2015-02-26 13:10] #316 closed

[2015-02-26 13:13] FelisCatus commented on #317
由于 Chrome 限制，扩展设置的代理设定默认不在隐身窗口生效。如需使用，在`chrome://extensions/?id=padekgcemlokbadohgkifijomclgjgif`这个页面的 SwitchyOmega 图标下方勾选“允许在隐身模式使用”选项即可。

[2015-02-26 13:13] #317 closed

[2015-02-26 13:14] FelisCatus commented on #315
This is more likely to be a problem with GoAgent and should be posted on the GoAgent issue tracker instead.

[2015-02-26 13:14] #315 closed

[2015-02-26 13:32] FelisCatus commented on #71
But adding an extra line would solve that, too. With that being said, I personally think such radio boxes causes much confusion and should be hidden from the user. Users don't have to select the format of the rule list if the software can detect it for the user. Choosing the right format is hard for non-technical users, which was proven by lots of complaints that the rule list functionality is "br